@font-face {
  font-family: 'fred_burger_shadow';
  src: url('FREDFREDBURGERHEADLINE-SHADOW.eot'); /* IE9 Compat Modes */
  src: url('FREDFREDBURGERHEADLINE-SHADOW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FREDFREDBURGERHEADLINE-SHADOW.woff') format('woff'), /* Modern Browsers */
       url('FREDFREDBURGERHEADLINE-SHADOW.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FREDFREDBURGERHEADLINE-SHADOW.svg#bb7a71d2c650c813a99d2ecd350074b6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

