<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_ninjaCamo_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,942},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1111},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,809},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,978},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1147},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1111},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,942},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1280},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1449},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1618},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1787},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,471},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,0},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1102,169},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaCamo_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,640},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHideHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,636},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,477},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,954},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,795},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,318},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,318},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1749},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1590},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1431},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1272},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHideHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1113},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1431},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1272},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1113},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,954},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,795},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,318},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,159},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,159},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,0},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1749},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHide_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1590},{183,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{183,153}}</string>
				<key>sourceSize</key>
				<string>{183,153}</string>
			</dict>

			<key>anim_ninjaHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1271,338},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1823},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,833},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,664},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1654},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1485},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1270,1316},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,952},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,1509},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,1340},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,1171},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,1002},{172,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,163}}</string>
				<key>sourceSize</key>
				<string>{172,163}</string>
			</dict>

			<key>anim_ninjaRunHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,636},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,795},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,477},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,636},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,954},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1113},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1272},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1431},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1590},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1749},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,0},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRunHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,318},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,477},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,159},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,477},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,636},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,795},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,954},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1113},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1272},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1431},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1590},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1749},{173,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,153}}</string>
				<key>sourceSize</key>
				<string>{173,153}</string>
			</dict>

			<key>anim_ninjaTeleHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1592},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,314},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,785},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1278},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1121},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1435},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,1678},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,795},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,795},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,314},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTeleHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1448,507},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,157},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{924,0},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,157},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,0},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,157},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,0},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,1749},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,628},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,471},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1737},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1580},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1423},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1266},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1109},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

			<key>anim_ninjaTele_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,952},{172,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,151}}</string>
				<key>sourceSize</key>
				<string>{172,151}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>