<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_smokeScreen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,134},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,134},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,0},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,268},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,268},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,0},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,268},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,134},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

			<key>fx_smokeScreen_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{149,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,128}}</string>
				<key>sourceSize</key>
				<string>{149,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>