<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_leaves_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,362},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,482},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,122},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,962},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1392,1843},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,602},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,722},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,842},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1658},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1492,1538},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,1082},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_leaves_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,242},{185,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,114}}</string>
				<key>sourceSize</key>
				<string>{185,114}</string>
			</dict>

			<key>gobj_mushroom_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1890},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1896},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,934},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1236},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1387},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,632},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,783},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,934},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1085},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,1896},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,783},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1085},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_mushroom_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,632},{195,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,145}}</string>
				<key>sourceSize</key>
				<string>{195,145}</string>
			</dict>

			<key>gobj_musicStand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1666},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,0},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,0},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,948},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,1350},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1666},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,316},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,632},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,316},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1264},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,1580},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_musicStand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1350},{301,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,310}}</string>
				<key>sourceSize</key>
				<string>{301,310}</string>
			</dict>

			<key>gobj_paintBucket_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,1353},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1613,1202},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1583,1778},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,424},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,273},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1557,122},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1353},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintBucket_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1498,1202},{109,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,145}}</string>
				<key>sourceSize</key>
				<string>{109,145}</string>
			</dict>

			<key>gobj_paintTube_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1721},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,1982},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,61},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,0},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1660},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1982},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,1982},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1264},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1782},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1538},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,1599},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_paintTube_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,1982},{189,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,55}}</string>
				<key>sourceSize</key>
				<string>{189,55}</string>
			</dict>

			<key>gobj_trumpet_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1350},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,810},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,540},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,270},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1080},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

			<key>gobj_trumpet_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{370,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,264}}</string>
				<key>sourceSize</key>
				<string>{370,264}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>hotSpots.png</string>
			</dict>
		</dict>
</plist>