<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_BG0mask_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,283},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{201,136}}</string>
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>

			<key>gobj_BG0mask_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,453},{234,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,169}}</string>
				<key>sourceSize</key>
				<string>{234,169}</string>
			</dict>

			<key>gobj_BG0mask_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{243,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,130}}</string>
				<key>sourceSize</key>
				<string>{243,130}</string>
			</dict>

			<key>gobj_BG0mask_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,897},{157,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,114}}</string>
				<key>sourceSize</key>
				<string>{157,114}</string>
			</dict>

			<key>gobj_BG0mask_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,814},{186,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,162}}</string>
				<key>sourceSize</key>
				<string>{186,162}</string>
			</dict>

			<key>gobj_BG0mask_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,172},{156,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,145}}</string>
				<key>sourceSize</key>
				<string>{156,145}</string>
			</dict>

			<key>gobj_BG0mask_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,755},{238,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,205}}</string>
				<key>sourceSize</key>
				<string>{238,205}</string>
			</dict>

			<key>gobj_BG1mask_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,634},{203,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,168}}</string>
				<key>sourceSize</key>
				<string>{203,168}</string>
			</dict>

			<key>gobj_BG1mask_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,455},{191,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,161}}</string>
				<key>sourceSize</key>
				<string>{191,161}</string>
			</dict>

			<key>gobj_BG1mask_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,455},{127,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,115}}</string>
				<key>sourceSize</key>
				<string>{127,115}</string>
			</dict>

			<key>gobj_BG1mask_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,628},{167,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,143}}</string>
				<key>sourceSize</key>
				<string>{167,143}</string>
			</dict>

			<key>gobj_BG1mask_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,283},{300,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,158}}</string>
				<key>sourceSize</key>
				<string>{300,158}</string>
			</dict>

			<key>gobj_BG1mask_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{528,283},{191,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,160}}</string>
				<key>sourceSize</key>
				<string>{191,160}</string>
			</dict>

			<key>gobj_BG2mask_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{528,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{528,271}}</string>
				<key>sourceSize</key>
				<string>{528,271}</string>
			</dict>

			<key>gobj_BG2mask_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,329},{139,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,114}}</string>
				<key>sourceSize</key>
				<string>{139,114}</string>
			</dict>

			<key>gobj_BG2mask_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{270,290}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{270,290}}</string>
				<key>sourceSize</key>
				<string>{270,290}</string>
			</dict>

			<key>gobj_BG2mask_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{540,0},{190,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,160}}</string>
				<key>sourceSize</key>
				<string>{190,160}</string>
			</dict>

			<key>gobj_BG2mask_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,814},{196,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{196,188}}</string>
				<key>sourceSize</key>
				<string>{196,188}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>mask.png</string>
			</dict>
		</dict>
</plist>