<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingdom_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{580,172}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,172}}</string>
                <key>sourceSize</key>
                <string>{582,172}</string>
            </dict>
            <key>soar_cloud_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,230}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{722,230}}</string>
                <key>sourceSize</key>
                <string>{722,248}</string>
            </dict>
            <key>water_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,234},{360,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,341}}</string>
                <key>sourceSize</key>
                <string>{360,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_flying_lossless_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be7b9caf8ef36e2fcf8317149090092:a891f6af638f3e3324fa12df072eb119:c2de535617d9edd70638842fcb616e4f$</string>
            <key>textureFileName</key>
            <string>gameplay_flying_lossless_2.png</string>
        </dict>
    </dict>
</plist>
