<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interactables/bush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{316,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,208}}</string>
                <key>sourceSize</key>
                <string>{316,208}</string>
            </dict>
            <key>interactables/cloud_puff.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,243},{473,270}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{473,270}}</string>
                <key>sourceSize</key>
                <string>{507,294}</string>
            </dict>
            <key>kingdom_cloud_combined_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{695,239}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{695,239}}</string>
                <key>sourceSize</key>
                <string>{695,241}</string>
            </dict>
            <key>parallax/ruin_exitback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{522,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,420}}</string>
                <key>sourceSize</key>
                <string>{522,420}</string>
            </dict>
            <key>parallax/ruin_exitfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,515},{369,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,420}}</string>
                <key>sourceSize</key>
                <string>{369,420}</string>
            </dict>
            <key>ramps/ruins_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{598,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,333}}</string>
                <key>sourceSize</key>
                <string>{598,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_flying_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8faf2ac25457e627a76047842d99a0cf:7b28b6d2912048bcba4864f751ee8586:6abe5cd1dd4beb46c1364c31a77a31bd$</string>
            <key>textureFileName</key>
            <string>gameplay_flying_6.png</string>
        </dict>
    </dict>
</plist>
