<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flying_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{747,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,420}}</string>
                <key>sourceSize</key>
                <string>{747,420}</string>
            </dict>
            <key>flying_ui_goal_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{227,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,60}}</string>
                <key>sourceSize</key>
                <string>{227,60}</string>
            </dict>
            <key>flying_ui_meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,125},{209,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,59}}</string>
                <key>sourceSize</key>
                <string>{209,59}</string>
            </dict>
            <key>flying_ui_meter_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,186},{176,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,16}}</string>
                <key>sourceSize</key>
                <string>{176,16}</string>
            </dict>
            <key>kingdom_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,64},{225,59}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{225,59}}</string>
                <key>sourceSize</key>
                <string>{231,59}</string>
            </dict>
            <key>kingdom_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{309,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,144}}</string>
                <key>sourceSize</key>
                <string>{311,144}</string>
            </dict>
            <key>kingdom_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,858},{306,118}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{306,118}}</string>
                <key>sourceSize</key>
                <string>{308,122}</string>
            </dict>
            <key>soar_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,432}}</string>
                <key>sourceSize</key>
                <string>{768,432}</string>
            </dict>
            <key>soar_cloud_misc.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,858},{316,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,98}}</string>
                <key>sourceSize</key>
                <string>{316,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameplay_flying_lossless_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1be7b9caf8ef36e2fcf8317149090092:a891f6af638f3e3324fa12df072eb119:c2de535617d9edd70638842fcb616e4f$</string>
            <key>textureFileName</key>
            <string>gameplay_flying_lossless_0.png</string>
        </dict>
    </dict>
</plist>
