/*========================================================*/
.blackOverlay{
	position: absolute;
	left: 0px;
	top: 0px;
	width:1024px;
	height:768px;
	background-color:rgba(0, 0, 0, 0.75);
	margin-left:auto;
	margin-right:auto;
}

.blackBackground {
	position: absolute;
	width: 1024px;
	height: 768px;
	background-color: #000;
}

.videoContainer{
	position: absolute;
	left: 0px;	
	top: 200px;
}