<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_beets_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,813},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,325},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,325},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,447},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,447},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,569},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,691},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,122},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,0},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,122},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,569},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_beets_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,0},{81,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,116}}</string>
				<key>sourceSize</key>
				<string>{81,116}</string>
			</dict>

			<key>gobj_carrot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,120},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,240},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,360},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,480},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,600},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,720},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,600},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,720},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_carrot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_garlic_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,282},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,500},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,500},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,391},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,609},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,827},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,391},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,0},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,282},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,0},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,609},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_garlic_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,718},{84,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,103}}</string>
				<key>sourceSize</key>
				<string>{84,103}</string>
			</dict>

			<key>gobj_onion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,217},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,757},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,0},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,433},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,649},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,541},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,865},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,325},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,217},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,325},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,109},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_onion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,109},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>

			<key>gobj_pepper_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,840},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,480},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,360},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,240},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,120},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,240},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,0},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_pepper_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,114}}</string>
				<key>sourceSize</key>
				<string>{94,114}</string>
			</dict>

			<key>gobj_token_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,840},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,106},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,840},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,530},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,424},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,848},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,636},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,212},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,318},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,742},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_token_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,0},{91,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,100}}</string>
				<key>sourceSize</key>
				<string>{91,100}</string>
			</dict>

			<key>gobj_tomato_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,282},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,106},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,722},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,810},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,194},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,194},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,898},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,546},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,106},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,458},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,370},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

			<key>gobj_tomato_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,634},{89,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,82}}</string>
				<key>sourceSize</key>
				<string>{89,82}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>