<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_shield_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,585},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,0},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_shield_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,195},{189,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,189}}</string>
				<key>sourceSize</key>
				<string>{189,189}</string>
			</dict>

			<key>fx_toxic_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,254},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,127},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,517},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,771},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,644},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,889},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,0},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,771},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,644},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_toxic_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,390},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,390},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,517},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,517},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,381},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,508},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,635},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,762},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,0},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,771},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,644},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

			<key>fx_yummy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,390},{157,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,121}}</string>
				<key>sourceSize</key>
				<string>{157,121}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>