<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_harmonicaB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1570},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1256},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,942},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,628},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,314},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,0},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1570},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1256},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,942},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

			<key>fx_harmonicaB_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,628},{668,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{668,308}}</string>
				<key>sourceSize</key>
				<string>{668,308}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx_harmonicaB.png</string>
			</dict>
		</dict>
</plist>