<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/bloom_sandwich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{825,2},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/char_brody_bump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,360}</string>
                <key>spriteSourceSize</key>
                <string>{293,360}</string>
                <key>textureRect</key>
                <string>{{698,292},{293,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/char_rod_bump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,428}</string>
                <key>spriteSourceSize</key>
                <string>{286,428}</string>
                <key>textureRect</key>
                <string>{{2,292},{286,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/characters_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,46}</string>
                <key>spriteSourceSize</key>
                <string>{353,46}</string>
                <key>textureRect</key>
                <string>{{2,723},{353,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/platform_sneeze3v1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,287}</string>
                <key>spriteSourceSize</key>
                <string>{820,287}</string>
                <key>textureRect</key>
                <string>{{2,2},{820,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/platform_sneeze5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,400}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{291,292},{404,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_shellgame_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54f53b6d09fe6faf75eab614c7563718:1baeb1f2787832ed55ceffbe10387d44:cdbff8632c7f48f2f92c077ff8523778$</string>
            <key>textureFileName</key>
            <string>gameplay_shellgame_0.png</string>
        </dict>
    </dict>
</plist>
