<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_limbCDown_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1772},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,1803},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,171},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,0},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,1803},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1803},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,342},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1803},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1803},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1772},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{888,1772},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCDown_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1772},{142,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,165}}</string>
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>

			<key>anim_limbCUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1329},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,443},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,0},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,1329},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,886},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,443},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,0},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,886},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,443},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,886},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbCUp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,1329},{164,437}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,437}}</string>
				<key>sourceSize</key>
				<string>{164,437}</string>
			</dict>

			<key>anim_limbDDown_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,513},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,692},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,1229},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1229},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,871},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1050},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1408},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,1050},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,871},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,692},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1324,513},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDDown_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1587},{108,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,173}}</string>
				<key>sourceSize</key>
				<string>{108,173}</string>
			</dict>

			<key>anim_limbDUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,601},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,0},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,0},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1202},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,601},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,601},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1202},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,0},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

			<key>anim_limbDUp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1202},{169,595}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,595}}</string>
				<key>sourceSize</key>
				<string>{169,595}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_limbCD.png</string>
			</dict>
		</dict>
</plist>