<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_clockBody_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1670},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1336},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,1002},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,668},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,334},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,0},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1670},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1336},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockBody_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,668},{673,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,328}}</string>
				<key>sourceSize</key>
				<string>{673,328}</string>
			</dict>

			<key>anim_clockHead_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1358,0},{295,519}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{295,519}}</string>
				<key>sourceSize</key>
				<string>{295,519}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_headBody.png</string>
			</dict>
		</dict>
</plist>