<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_limbA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,794},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,510},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,1020},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1174,0},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1304},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1304},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,794},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1530},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,0},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1020},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,1530},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,510},{181,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,504}}</string>
				<key>sourceSize</key>
				<string>{181,504}</string>
			</dict>

			<key>anim_limbBDown_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1352},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1014},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,507},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1183},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1814},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,169},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,338},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1361,0},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,1521},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1814},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,676},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBDown_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1406,845},{146,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{146,163}}</string>
				<key>sourceSize</key>
				<string>{146,163}</string>
			</dict>

			<key>anim_limbBUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,0},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,0},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1588},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1191},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,794},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,397},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,397},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1588},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1191},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

			<key>anim_limbBUp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,794},{323,391}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{323,391}}</string>
				<key>sourceSize</key>
				<string>{323,391}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_limbAB.png</string>
			</dict>
		</dict>
</plist>