<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_fourAttackA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-29}</string>
                <key>spriteSize</key>
                <string>{121,194}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1401,1009},{121,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-39}</string>
                <key>spriteSize</key>
                <string>{131,174}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1691,988},{131,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourAttackA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-35}</string>
                <key>spriteSize</key>
                <string>{153,182}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1530,981},{153,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackA_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,7}</string>
                <key>spriteSize</key>
                <string>{117,266}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{137,882},{117,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackA_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,11}</string>
                <key>spriteSize</key>
                <string>{137,274}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{109,600},{137,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackA_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,18}</string>
                <key>spriteSize</key>
                <string>{145,288}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{7,304},{145,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-29}</string>
                <key>spriteSize</key>
                <string>{127,194}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1266,1009},{127,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-35}</string>
                <key>spriteSize</key>
                <string>{115,182}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1752,199},{115,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{127,180}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1691,696},{127,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourAttackB_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-52,-26}</string>
                <key>spriteSize</key>
                <string>{181,200}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1536,7},{181,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourAttackB_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,-15}</string>
                <key>spriteSize</key>
                <string>{193,222}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1446,751},{193,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackB_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-9}</string>
                <key>spriteSize</key>
                <string>{203,234}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1403,509},{203,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackC_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-29}</string>
                <key>spriteSize</key>
                <string>{127,194}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1266,1009},{127,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackC_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-26}</string>
                <key>spriteSize</key>
                <string>{127,200}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1614,488},{127,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackC_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-34}</string>
                <key>spriteSize</key>
                <string>{119,184}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1752,7},{119,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourAttackC_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,-38}</string>
                <key>spriteSize</key>
                <string>{149,176}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1691,831},{149,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourAttackC_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,-35}</string>
                <key>spriteSize</key>
                <string>{157,182}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{671,1046},{157,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourAttackC_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-33}</string>
                <key>spriteSize</key>
                <string>{171,186}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{861,1033},{171,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-24}</string>
                <key>spriteSize</key>
                <string>{239,198}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1330,7},{239,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-17}</string>
                <key>spriteSize</key>
                <string>{237,186}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1252,764},{237,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-24}</string>
                <key>spriteSize</key>
                <string>{247,174}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1005,519},{247,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-25}</string>
                <key>spriteSize</key>
                <string>{249,172}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{825,521},{249,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-29}</string>
                <key>spriteSize</key>
                <string>{259,182}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{262,850},{259,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-21}</string>
                <key>spriteSize</key>
                <string>{241,208}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1187,515},{241,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-27}</string>
                <key>spriteSize</key>
                <string>{241,198}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1317,260},{241,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourDash_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-28}</string>
                <key>spriteSize</key>
                <string>{245,196}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1113,262},{245,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{245,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1130,7},{245,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{245,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1052,774},{245,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{247,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{913,264},{247,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{247,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{930,7},{247,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{247,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{852,778},{247,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-29}</string>
                <key>spriteSize</key>
                <string>{249,194}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{511,275},{249,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-29}</string>
                <key>spriteSize</key>
                <string>{249,194}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{528,7},{249,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{249,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{452,812},{249,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{249,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{625,532},{249,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{249,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{713,264},{249,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-30}</string>
                <key>spriteSize</key>
                <string>{249,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{730,7},{249,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourIdle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-30}</string>
                <key>spriteSize</key>
                <string>{249,192}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{652,789},{249,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,7}</string>
                <key>spriteSize</key>
                <string>{225,254}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{392,550},{225,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{175,260}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{345,7},{175,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-75}</string>
                <key>spriteSize</key>
                <string>{267,100}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{237,7},{267,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-68}</string>
                <key>spriteSize</key>
                <string>{163,114}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1752,389},{163,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-58}</string>
                <key>spriteSize</key>
                <string>{211,134}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{452,1069},{211,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{221,226}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1523,254},{221,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{209,260}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{294,282},{209,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-37}</string>
                <key>spriteSize</key>
                <string>{203,176}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{1055,1027},{203,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_fourSmash_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-81}</string>
                <key>spriteSize</key>
                <string>{261,130}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{254,581},{261,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-87}</string>
                <key>spriteSize</key>
                <string>{271,126}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{160,302},{271,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-91}</string>
                <key>spriteSize</key>
                <string>{283,122}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{7,893},{283,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-94}</string>
                <key>spriteSize</key>
                <string>{289,118}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{7,7},{289,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-83}</string>
                <key>spriteSize</key>
                <string>{287,96}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{133,7},{287,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>char_fourSmash_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-79}</string>
                <key>spriteSize</key>
                <string>{285,94}</string>
                <key>spriteSourceSize</key>
                <string>{349,332}</string>
                <key>textureRect</key>
                <string>{{7,600},{285,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char.png</string>
            <key>size</key>
            <string>{1878,1211}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62d8fc7d058cd8fa4e3b55db38630e5e:c62fd02da4f644b308c8c9e77f7dc986:5b1cd77608a26c0b98d099d5288208e5$</string>
            <key>textureFileName</key>
            <string>char.png</string>
        </dict>
    </dict>
</plist>
