<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_fourAttack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1715},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1404},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{824,1715},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1404},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,933},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,0},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,622},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourAttack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,311},{208,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,305}}</string>
				<key>sourceSize</key>
				<string>{208,305}</string>
			</dict>

			<key>char_fourSmash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1053},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1404},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1053},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,702},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,351},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1404},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1053},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,351},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,702},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

			<key>char_fourSmash_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{299,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,345}}</string>
				<key>sourceSize</key>
				<string>{299,345}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_attackSmash.png</string>
			</dict>
		</dict>
</plist>