<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_fourDash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourDash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1740,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,0},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,624},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

			<key>char_fourIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,312},{284,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,306}}</string>
				<key>sourceSize</key>
				<string>{284,306}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char_idleDash.png</string>
			</dict>
		</dict>
</plist>