<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UG1_PropTiles_tiledriveway.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{359,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,192}}</string>
				<key>sourceSize</key>
				<string>{359,192}</string>
			</dict>

			<key>UG1_PropTiles_tilegreen01.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tilegreen02.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,193},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tilegreen03.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,386},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tilegreen04.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,0},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tilegreen05.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,193},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tileicecream01.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,193},{81,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,192}}</string>
				<key>sourceSize</key>
				<string>{81,192}</string>
			</dict>

			<key>UG1_PropTiles_tileicecream02.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,193},{81,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,192}}</string>
				<key>sourceSize</key>
				<string>{81,192}</string>
			</dict>

			<key>UG1_PropTiles_tilemailbox01.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,386},{42,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,192}}</string>
				<key>sourceSize</key>
				<string>{42,192}</string>
			</dict>

			<key>UG1_PropTiles_tilemailbox02.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,386},{42,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,192}}</string>
				<key>sourceSize</key>
				<string>{42,192}</string>
			</dict>

			<key>UG1_PropTiles_tilemanhole01.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,386},{139,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,192}}</string>
				<key>sourceSize</key>
				<string>{139,192}</string>
			</dict>

			<key>UG1_PropTiles_tilesewer.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,386},{139,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,192}}</string>
				<key>sourceSize</key>
				<string>{139,192}</string>
			</dict>

			<key>UG1_PropTiles_tileyellow01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

			<key>UG1_PropTiles_tileyellow02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,193},{192,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,192}}</string>
				<key>sourceSize</key>
				<string>{192,192}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{752,579}</string>
			<key>textureFileName</key>
			<string>layers.png</string>
			</dict>
		</dict>
</plist>