<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UG1_HowTo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1538},{1366,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1366,768}}</string>
				<key>sourceSize</key>
				<string>{1366,768}</string>
			</dict>

			<key>UG1_HowTo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,769},{1366,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1366,768}}</string>
				<key>sourceSize</key>
				<string>{1366,768}</string>
			</dict>

			<key>UG1_Title_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1366,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1366,768}}</string>
				<key>sourceSize</key>
				<string>{1366,768}</string>
			</dict>

			<key>arrow_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,414},{66,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,97}}</string>
				<key>sourceSize</key>
				<string>{66,97}</string>
			</dict>

			<key>btn_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,345},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

			<key>btn_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,276},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

			<key>btn_howD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,207},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

			<key>btn_howU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,138},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

			<key>btn_playD.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,69},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

			<key>btn_playU.png</key>
			<dict>
				<key>frame</key>
				<string>{{1367,0},{235,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{235,68}}</string>
				<key>sourceSize</key>
				<string>{235,68}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1603,2307}</string>
			<key>textureFileName</key>
			<string>mainmenu.png</string>
			</dict>
		</dict>
</plist>