<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UG1_GameItems_ouch.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{115,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,81}}</string>
				<key>sourceSize</key>
				<string>{115,81}</string>
			</dict>

			<key>UG1_Obs_Moustachecream.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{137,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,59}}</string>
				<key>sourceSize</key>
				<string>{137,59}</string>
			</dict>

			<key>UG1_Obs_TrashbinStatic.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,699},{114,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,69}}</string>
				<key>sourceSize</key>
				<string>{114,69}</string>
			</dict>

			<key>obs_boy_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,100},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,288},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,576},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,144},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,288},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,560},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,144},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,244},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,388},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,0},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,532},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,0},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_boy_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,432},{67,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,144}}</string>
				<key>sourceSize</key>
				<string>{67,144}</string>
			</dict>

			<key>obs_girl_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,660},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,360},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,360},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,460},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,560},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,460},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,160},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,260},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,560},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,460},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,660},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,360},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_girl_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,100}}</string>
				<key>sourceSize</key>
				<string>{70,100}</string>
			</dict>

			<key>obs_mr_gus_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,379},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,539},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,480},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,539},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,219},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,219},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,379},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,59},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,160},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_mr_gus_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,320},{121,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,160}}</string>
				<key>sourceSize</key>
				<string>{121,160}</string>
			</dict>

			<key>obs_pizza_steve_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,720},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,720},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_0010.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,244},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_0011.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,704},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_0012.png</key>
			<dict>
				<key>frame</key>
				<string>{{582,144},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,0},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,65},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,720},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,497},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,627},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,562},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,432},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_pizza_steve_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,720},{44,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,65}}</string>
				<key>sourceSize</key>
				<string>{44,65}</string>
			</dict>

			<key>obs_trashbinRoll000.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,640},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

			<key>obs_trashbinRoll001.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,160},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

			<key>obs_trashbinRoll002.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,260},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

			<key>obs_trashbinRoll003.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,640},{82,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,100}}</string>
				<key>sourceSize</key>
				<string>{82,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{791,785}</string>
			<key>textureFileName</key>
			<string>obs.png</string>
			</dict>
		</dict>
</plist>