<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UG1_GameItems_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,88},{162,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,422}}</string>
				<key>sourceSize</key>
				<string>{162,422}</string>
			</dict>

			<key>UG1_GameItems_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,88},{155,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,305}}</string>
				<key>sourceSize</key>
				<string>{155,305}</string>
			</dict>

			<key>UG1_GameItems_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,750},{113,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,219}}</string>
				<key>sourceSize</key>
				<string>{113,219}</string>
			</dict>

			<key>UG1_GameItems_g-A.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,922},{31,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,51}}</string>
				<key>sourceSize</key>
				<string>{31,51}</string>
			</dict>

			<key>UG1_GameItems_g-E.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,650},{25,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,62}}</string>
				<key>sourceSize</key>
				<string>{25,62}</string>
			</dict>

			<key>UG1_GameItems_g-N.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,922},{33,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,55}}</string>
				<key>sourceSize</key>
				<string>{33,55}</string>
			</dict>

			<key>UG1_GameItems_g-P.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1425},{31,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,68}}</string>
				<key>sourceSize</key>
				<string>{31,68}</string>
			</dict>

			<key>UG1_GameItems_g-T.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1425},{32,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,51}}</string>
				<key>sourceSize</key>
				<string>{32,51}</string>
			</dict>

			<key>UG1_GameItems_g-U.png</key>
			<dict>
				<key>frame</key>
				<string>{{982,922},{30,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,45}}</string>
				<key>sourceSize</key>
				<string>{30,45}</string>
			</dict>

			<key>UG1_GameItems_p-B.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,1425},{31,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,68}}</string>
				<key>sourceSize</key>
				<string>{31,68}</string>
			</dict>

			<key>UG1_GameItems_p-E.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,820},{30,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,69}}</string>
				<key>sourceSize</key>
				<string>{30,69}</string>
			</dict>

			<key>UG1_GameItems_p-R.png</key>
			<dict>
				<key>frame</key>
				<string>{{809,1425},{39,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,59}}</string>
				<key>sourceSize</key>
				<string>{39,59}</string>
			</dict>

			<key>UG1_GameItems_p-T.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1425},{34,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,60}}</string>
				<key>sourceSize</key>
				<string>{34,60}</string>
			</dict>

			<key>UG1_GameItems_p-U.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1425},{36,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,66}}</string>
				<key>sourceSize</key>
				<string>{36,66}</string>
			</dict>

			<key>UG1_UI_BoostBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,487},{211,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,162}}</string>
				<key>sourceSize</key>
				<string>{211,162}</string>
			</dict>

			<key>UG1_UI_BoostFullPeanut.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,394},{95,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,79}}</string>
				<key>sourceSize</key>
				<string>{95,79}</string>
			</dict>

			<key>UG1_UI_BoostFullText.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,650},{207,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,99}}</string>
				<key>sourceSize</key>
				<string>{207,99}</string>
			</dict>

			<key>UG1_UI_BoostPoint.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1476},{95,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,15}}</string>
				<key>sourceSize</key>
				<string>{95,15}</string>
			</dict>

			<key>UG1_UI_Lap.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1425},{114,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,50}}</string>
				<key>sourceSize</key>
				<string>{114,50}</string>
			</dict>

			<key>UG1_UI_PopLetsStop.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1214},{647,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{647,210}}</string>
				<key>sourceSize</key>
				<string>{647,210}</string>
			</dict>

			<key>UG1_UI_PopMadDrive.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,487},{801,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{801,490}}</string>
				<key>sourceSize</key>
				<string>{801,490}</string>
			</dict>

			<key>UG1_UI_PopupMadDrive.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,978},{673,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{673,235}}</string>
				<key>sourceSize</key>
				<string>{673,235}</string>
			</dict>

			<key>UG1_UI_Track.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1236,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1236,87}}</string>
				<key>sourceSize</key>
				<string>{1236,87}</string>
			</dict>

			<key>UG1_UI_btnBoostUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,836},{79,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,85}}</string>
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>

			<key>UG1_UI_btn_boostDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,750},{79,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,85}}</string>
				<key>sourceSize</key>
				<string>{79,85}</string>
			</dict>

			<key>UG1_UI_headAG.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,394},{58,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,70}}</string>
				<key>sourceSize</key>
				<string>{58,70}</string>
			</dict>

			<key>UG1_UI_headUG.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,750},{54,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,69}}</string>
				<key>sourceSize</key>
				<string>{54,69}</string>
			</dict>

			<key>UG1_UI_popupGoodMorning.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{842,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{842,398}}</string>
				<key>sourceSize</key>
				<string>{842,398}</string>
			</dict>

			<key>UG1_UI_popupTooFast.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{693,515}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{693,515}}</string>
				<key>sourceSize</key>
				<string>{693,515}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1368,1494}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>