<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_left.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1779},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>btn_right.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1701},{49,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,73}}</string>
				<key>sourceSize</key>
				<string>{49,73}</string>
			</dict>

			<key>ui_btn_howToPlayD.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1884},{293,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,105}}</string>
				<key>sourceSize</key>
				<string>{293,105}</string>
			</dict>

			<key>ui_btn_howToPlayU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1811},{293,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,105}}</string>
				<key>sourceSize</key>
				<string>{293,105}</string>
			</dict>

			<key>ui_btn_playAgainD.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1139},{292,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,105}}</string>
				<key>sourceSize</key>
				<string>{292,105}</string>
			</dict>

			<key>ui_btn_playAgainU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1701},{293,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,105}}</string>
				<key>sourceSize</key>
				<string>{293,105}</string>
			</dict>

			<key>ui_btn_playD.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,1029},{293,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,105}}</string>
				<key>sourceSize</key>
				<string>{293,105}</string>
			</dict>

			<key>ui_btn_playU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1921},{293,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,105}}</string>
				<key>sourceSize</key>
				<string>{293,105}</string>
			</dict>

			<key>ui_conquered.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{578,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{578,96}}</string>
				<key>sourceSize</key>
				<string>{578,96}</string>
			</dict>

			<key>ui_corridor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{514,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{514,80}}</string>
				<key>sourceSize</key>
				<string>{514,80}</string>
			</dict>

			<key>ui_nervous.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1860},{107,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,110}}</string>
				<key>sourceSize</key>
				<string>{107,110}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,1040},{112,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,75}}</string>
				<key>sourceSize</key>
				<string>{112,75}</string>
			</dict>

			<key>ui_scareGreen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,0},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,244},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1505},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1383},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1261},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,918},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1139},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,122},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,732},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,610},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,488},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,366},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1871},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1749},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareGreen_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,1627},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareMeter.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1284},{245,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,131}}</string>
				<key>sourceSize</key>
				<string>{245,131}</string>
			</dict>

			<key>ui_scareRed_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,0},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,1040},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,122},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,796},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,674},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1162},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,854},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,1884},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareRed_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,0},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,244},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,0},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,186},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,552},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,430},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,308},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,881},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,759},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,637},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scareYellow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{371,515},{247,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,117}}</string>
				<key>sourceSize</key>
				<string>{247,117}</string>
			</dict>

			<key>ui_scared.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1746},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,109}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>

			<key>ui_scoobsRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1263},{352,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{352,194}}</string>
				<key>sourceSize</key>
				<string>{352,194}</string>
			</dict>

			<key>ui_scoobyDoor_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,515},{366,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{366,509}}</string>
				<key>sourceSize</key>
				<string>{366,509}</string>
			</dict>

			<key>ui_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,430},{238,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,63}}</string>
				<key>sourceSize</key>
				<string>{238,63}</string>
			</dict>

			<key>ui_shaggsZoinks.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{367,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,324}}</string>
				<key>sourceSize</key>
				<string>{367,324}</string>
			</dict>

			<key>ui_shaggyDoor_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1263},{345,616}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{345,616}}</string>
				<key>sourceSize</key>
				<string>{345,616}</string>
			</dict>

			<key>ui_speechBubble2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1420},{227,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,143}}</string>
				<key>sourceSize</key>
				<string>{227,143}</string>
			</dict>

			<key>ui_speechBubble1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1029},{363,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{363,229}}</string>
				<key>sourceSize</key>
				<string>{363,229}</string>
			</dict>

			<key>ui_speechBubble3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1462},{333,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{333,234}}</string>
				<key>sourceSize</key>
				<string>{333,234}</string>
			</dict>

			<key>ui_terrified.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1746},{108,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,109}}</string>
				<key>sourceSize</key>
				<string>{108,109}</string>
			</dict>

			<key>ui_velma.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1568},{170,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,173}}</string>
				<key>sourceSize</key>
				<string>{170,173}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>