<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/climb_vine_curved_left_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,803}</string>
                <key>spriteSourceSize</key>
                <string>{506,803}</string>
                <key>textureRect</key>
                <string>{{2,2},{506,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/climb_vine_curved_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,803}</string>
                <key>spriteSourceSize</key>
                <string>{500,803}</string>
                <key>textureRect</key>
                <string>{{511,2},{500,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_vinegame_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa5b0d81fcdc016bc4bddf5ed9d9bdd:4786740bd50af8c008cf31316707e8bc:3837e0f5294d479bb97d2fd67913033a$</string>
            <key>textureFileName</key>
            <string>gameplay_vinegame_2.png</string>
        </dict>
    </dict>
</plist>
