<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/bubble_penny_choosevine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{926,512},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/bubble_penny_choosevine_blank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{926,601},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/bubble_penny_choosevine_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{637,646},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/bubble_penny_choosevine_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{617,843},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/bubble_penny_choosevine_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{617,740},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/bubble_penny_choosevine_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{617,932},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/checkmark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,57}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{390,960},{66,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/climb_vine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,803}</string>
                <key>spriteSourceSize</key>
                <string>{72,803}</string>
                <key>textureRect</key>
                <string>{{258,2},{72,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/climb_vine_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,803}</string>
                <key>spriteSourceSize</key>
                <string>{72,803}</string>
                <key>textureRect</key>
                <string>{{333,2},{72,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/climb_vine_curved_right_narrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,803}</string>
                <key>spriteSourceSize</key>
                <string>{253,803}</string>
                <key>textureRect</key>
                <string>{{2,2},{253,803}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,174}</string>
                <key>spriteSourceSize</key>
                <string>{385,174}</string>
                <key>textureRect</key>
                <string>{{2,808},{385,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/shakes_fg_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,149}</string>
                <key>spriteSourceSize</key>
                <string>{224,149}</string>
                <key>textureRect</key>
                <string>{{390,808},{224,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/shakes_fg_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,131}</string>
                <key>spriteSourceSize</key>
                <string>{286,131}</string>
                <key>textureRect</key>
                <string>{{637,512},{286,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/shakes_slick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{614,507}</string>
                <key>spriteSourceSize</key>
                <string>{614,507}</string>
                <key>textureRect</key>
                <string>{{408,2},{614,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/swatch_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{706,843},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/swatch_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{706,932},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/swatch_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{720,735},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/vine_bloom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,225}</string>
                <key>spriteSourceSize</key>
                <string>{226,225}</string>
                <key>textureRect</key>
                <string>{{408,512},{226,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_vinegame_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efa5b0d81fcdc016bc4bddf5ed9d9bdd:4786740bd50af8c008cf31316707e8bc:3837e0f5294d479bb97d2fd67913033a$</string>
            <key>textureFileName</key>
            <string>gameplay_vinegame_0.png</string>
        </dict>
    </dict>
</plist>
