<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_chesterDeny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1456},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1456},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1728},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1728},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,648},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,648},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,432},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,432},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1240},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1240},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1024},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1024},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1672},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1672},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,216},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterDeny_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,216},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1240},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1456},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1024},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,0},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,216},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1672},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,1672},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1512},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1512},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1080},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1080},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,0},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,0},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,648},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,648},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,864},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,864},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,432},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,432},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1296},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_chesterWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1296},{210,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>

			<key>anim_haroldDeny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1280},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1280},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldDeny_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1792},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1024},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1024},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1536},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1536},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,256},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,512},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,768},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1792},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1792},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1280},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_haroldWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1280},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_friend.png</string>
			</dict>
		</dict>
</plist>