<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_bassDeny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1552,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassDeny_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1261,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,312},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,0},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,624},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,516},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bassWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,516},{160,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,306}}</string>
				<key>sourceSize</key>
				<string>{160,306}</string>
			</dict>

			<key>anim_bullDeny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,238},{138,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,232}}</string>
				<key>sourceSize</key>
				<string>{138,232}</string>
			</dict>

			<key>anim_bullDeny_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,476},{138,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,232}}</string>
				<key>sourceSize</key>
				<string>{138,232}</string>
			</dict>

			<key>anim_bullDeny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1759,714},{138,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,232}}</string>
				<key>sourceSize</key>
				<string>{138,232}</string>
			</dict>

			<key>anim_bullDeny_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1718,0},{138,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,232}}</string>
				<key>sourceSize</key>
				<string>{138,232}</string>
			</dict>

			<key>anim_bullDeny_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,774},{138,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,232}}</string>
				<key>sourceSize</key>
				<string>{138,232}</string>
			</dict>

			<key>anim_bullWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,364},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,364},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,728},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,728},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,182},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,182},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,546},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_bullWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,546},{180,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,176}}</string>
				<key>sourceSize</key>
				<string>{180,176}</string>
			</dict>

			<key>anim_dachDeny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,0},{179,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,252}}</string>
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>

			<key>anim_dachDeny_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,258},{179,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,252}}</string>
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>

			<key>anim_dachDeny_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,516},{179,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,252}}</string>
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>

			<key>anim_dachDeny_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,0},{179,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,252}}</string>
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>

			<key>anim_dachDeny_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,258},{179,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,252}}</string>
				<key>sourceSize</key>
				<string>{179,252}</string>
			</dict>

			<key>anim_dachWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,615},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,410},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,410},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,205},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,205},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,615},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

			<key>anim_dachWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,615},{243,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,199}}</string>
				<key>sourceSize</key>
				<string>{243,199}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_ghost.png</string>
			</dict>
		</dict>
</plist>