<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_eelSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,429},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,286},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,715},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,858},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,143},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelSide_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,572},{356,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,137}}</string>
				<key>sourceSize</key>
				<string>{356,137}</string>
			</dict>

			<key>anim_eelUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,355},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,0},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,355},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,0},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,511},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,0},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,511},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,355},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,0},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_eelUp_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,511},{89,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,349}}</string>
				<key>sourceSize</key>
				<string>{89,349}</string>
			</dict>

			<key>anim_fishSide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,429},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,921},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,839},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,757},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,593},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,429},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,675},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishSide_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,511},{193,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{193,76}}</string>
				<key>sourceSize</key>
				<string>{193,76}</string>
			</dict>

			<key>anim_fishUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{846,710},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,710},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1024,710},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,498},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,710},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,249},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,0},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

			<key>anim_fishUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,0},{83,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,243}}</string>
				<key>sourceSize</key>
				<string>{83,243}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>