@font-face {
    font-family: 'pendlefont-bold';
    src: url('pendlefont-heavy-webfont.eot');
    src: url('pendlefont-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('pendlefont-heavy-webfont.woff2') format('woff2'),
         url('pendlefont-heavy-webfont.woff') format('woff'),
         url('pendlefont-heavy-webfont.ttf') format('truetype'),
         url('pendlefont-heavy-webfont.svg#pendlefont-heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pendlefont';
    src: url('pendlefont-medium-webfont.eot');
    src: url('pendlefont-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pendlefont-medium-webfont.woff2') format('woff2'),
         url('pendlefont-medium-webfont.woff') format('woff'),
         url('pendlefont-medium-webfont.ttf') format('truetype'),
         url('pendlefont-medium-webfont.svg#pendlefont-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lubalin';
    src: url('lubalin.ttf')  format('truetype'),
    url('lubalin.woff') format('woff');
}
