<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugs1Idle2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Idle2_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,323},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,0},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

			<key>char_bugs1Warn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,646},{209,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,317}}</string>
				<key>sourceSize</key>
				<string>{209,317}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char1_batch2.png</string>
			</dict>
		</dict>
</plist>