<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugs0Collect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,394},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,788},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1182},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,788},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,394},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,0},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1576},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1182},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,788},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,394},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,0},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Collect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1576},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1182},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1576},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1182},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,788},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,394},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,0},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1576},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1182},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

			<key>char_bugs0Idle1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{199,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,388}}</string>
				<key>sourceSize</key>
				<string>{199,388}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char0_batch1.png</string>
			</dict>
		</dict>
</plist>