<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugs2Collect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1014,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1690,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Collect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1183,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,359},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

			<key>char_bugs2Idle1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,0},{163,353}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,353}}</string>
				<key>sourceSize</key>
				<string>{163,353}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char2_batch1.png</string>
			</dict>
		</dict>
</plist>