<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_anvil_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,119},{124,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,66}}</string>
				<key>sourceSize</key>
				<string>{124,66}</string>
			</dict>

			<key>gobj_bag_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,191},{58,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,44}}</string>
				<key>sourceSize</key>
				<string>{58,44}</string>
			</dict>

			<key>gobj_bag_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,0},{58,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,73}}</string>
				<key>sourceSize</key>
				<string>{58,73}</string>
			</dict>

			<key>gobj_glasses_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{46,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,17}}</string>
				<key>sourceSize</key>
				<string>{46,17}</string>
			</dict>

			<key>gobj_net_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,0},{91,163}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,0},{91,163}}</string>
				<key>sourceSize</key>
				<string>{159,163}</string>
			</dict>

			<key>gobj_net_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,0},{118,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,13},{118,137}}</string>
				<key>sourceSize</key>
				<string>{159,163}</string>
			</dict>

			<key>gobj_net_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,119},{155,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,34},{155,95}}</string>
				<key>sourceSize</key>
				<string>{159,163}</string>
			</dict>

			<key>gobj_net_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{159,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,25},{159,113}}</string>
				<key>sourceSize</key>
				<string>{159,163}</string>
			</dict>

			<key>gobj_sprayCan_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,191},{24,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,59}}</string>
				<key>sourceSize</key>
				<string>{24,59}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>