<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/replay_game1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,208}</string>
                <key>spriteSourceSize</key>
                <string>{347,208}</string>
                <key>textureRect</key>
                <string>{{2,404},{347,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game1_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,208}</string>
                <key>spriteSourceSize</key>
                <string>{347,208}</string>
                <key>textureRect</key>
                <string>{{2,615},{347,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game1_stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,208}</string>
                <key>spriteSourceSize</key>
                <string>{347,208}</string>
                <key>textureRect</key>
                <string>{{352,605},{347,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,198}</string>
                <key>spriteSourceSize</key>
                <string>{414,198}</string>
                <key>textureRect</key>
                <string>{{2,2},{414,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game3_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,198}</string>
                <key>spriteSourceSize</key>
                <string>{414,198}</string>
                <key>textureRect</key>
                <string>{{419,2},{414,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game3_stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{414,198}</string>
                <key>spriteSourceSize</key>
                <string>{414,198}</string>
                <key>textureRect</key>
                <string>{{2,203},{414,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,198}</string>
                <key>spriteSourceSize</key>
                <string>{402,198}</string>
                <key>textureRect</key>
                <string>{{419,203},{402,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game4_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,198}</string>
                <key>spriteSourceSize</key>
                <string>{402,198}</string>
                <key>textureRect</key>
                <string>{{352,404},{402,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/replay_game4_stroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,198}</string>
                <key>spriteSourceSize</key>
                <string>{402,198}</string>
                <key>textureRect</key>
                <string>{{352,816},{402,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_replay_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16980446196d160d8a749cd575ad718:c8b27f81d7f31b3019d1de8732cf2ccc:9f3ef4f02ca93f3d9092b1c2c466e6b7$</string>
            <key>textureFileName</key>
            <string>ui_replay_0.png</string>
        </dict>
    </dict>
</plist>
