<?xml version="1.0" encoding="UTF-8"?>
<settings>
	
    <!-- Ensure YES/NO settings are in ALL CAPS!! -->

	<!-- Change to YES to enable click tracking (for Canadian region) -->
	<tracking>NO</tracking>
	<!-- Change to NO to disable the rotate screen -->
	<rotateScreen>YES</rotateScreen>
	<!-- Change to the width (in pxels) below which the game will start to scale on smaller devices/containers -->
	<scaleBelow>960</scaleBelow>

</settings>