<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_wileyHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1315},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,789},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,1315},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,789},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1315},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,789},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1315},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,789},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,789},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,526},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,263},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1578},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1315},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

			<key>anim_wileyThrow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1052},{271,262}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,262}}</string>
				<key>sourceSize</key>
				<string>{271,262}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_coyote.png</string>
			</dict>
		</dict>
</plist>