<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_bugsIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,1244},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,1244},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1555},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1244},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,933},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,622},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,933},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,622},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,311},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1410,0},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,1555},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,1555},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,933},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1178,622},{237,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{237,310}}</string>
				<key>sourceSize</key>
				<string>{237,310}</string>
			</dict>

			<key>anim_bugsWhack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,311},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,0},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,933},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,622},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,311},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1555},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1244},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,933},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,622},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,311},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,0},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1555},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

			<key>anim_bugsWhack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1244},{469,310}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,310}}</string>
				<key>sourceSize</key>
				<string>{469,310}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_bugs.png</string>
			</dict>
		</dict>
</plist>