<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_badImpact_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,681},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_badImpact_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,454},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_badImpact_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,908},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_badImpact_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1135},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_explosion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1340},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1675},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,670},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1005},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1340},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1675},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,335},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,670},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_explosion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1005},{335,334}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,334}}</string>
				<key>sourceSize</key>
				<string>{335,334}</string>
			</dict>

			<key>fx_feather_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,554},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,626},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,338},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,698},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,770},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,986},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,842},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,914},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,410},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,1058},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_feather_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,482},{80,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,71}}</string>
				<key>sourceSize</key>
				<string>{80,71}</string>
			</dict>

			<key>fx_goodImpact_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1816},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1589},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1362},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1135},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,908},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,681},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,454},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,227},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_goodImpact_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,227},{234,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,226}}</string>
				<key>sourceSize</key>
				<string>{234,226}</string>
			</dict>

			<key>fx_miss_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1869},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1362},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1700},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1531},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,169},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1142,0},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1700},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1531},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1362},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

			<key>fx_miss_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,1869},{184,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,168}}</string>
				<key>sourceSize</key>
				<string>{184,168}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>