@font-face{
font-family:"Lubalin Graph ITCTurnerAraW03B";
src:url("Fonts/acb449e5-5a1f-4de5-bde2-dc279da9b1ea.eot?#iefix");
src:url("Fonts/acb449e5-5a1f-4de5-bde2-dc279da9b1ea.eot?#iefix") format("eot"),url("Fonts/9d704a14-5422-42e5-9593-c3058bf31035.woff2") format("woff2"),url("Fonts/822e1975-6bb1-44bd-abb9-6a9db91c54ab.woff") format("woff"),url("Fonts/fc9ee47d-9dfe-48ce-92e2-41caa651c657.ttf") format("truetype"),url("Fonts/3f65929b-b81b-4c90-82d3-1780314f22df.svg#3f65929b-b81b-4c90-82d3-1780314f22df") format("svg");
}


@font-face{
	font-family:"ITC Lubalin Graph W03 Bd CnObl";
	src:url("Fonts/c91ae4f0-5bfe-49f1-b74d-049898852cda.eot?#iefix");
	src:url("Fonts/c91ae4f0-5bfe-49f1-b74d-049898852cda.eot?#iefix") format("eot"),url("Fonts/ed34c13e-ad9a-4e5d-ae40-c14b7ce0a35c.woff2") format("woff2"),url("Fonts/f8979e2f-9b91-4d89-adda-ab2bc198880a.woff") format("woff"),url("Fonts/2d40c847-ccfd-469a-9818-914b5f0d036f.ttf") format("truetype"),url("Fonts/6277eb87-2b52-48b1-86cf-173686e35ea5.svg#6277eb87-2b52-48b1-86cf-173686e35ea5") format("svg");
}
@font-face{
	font-family:"ITC Lubalin Graph W03 Book";
	src:url("Fonts/0dab238d-5720-4998-9086-5bde904a6510.eot?#iefix");
	src:url("Fonts/0dab238d-5720-4998-9086-5bde904a6510.eot?#iefix") format("eot"),url("Fonts/2ab09d74-941a-4fa5-8f1d-c651c952f188.woff2") format("woff2"),url("Fonts/f526a9d3-6990-4e60-8793-ceeb7789bb63.woff") format("woff"),url("Fonts/7e09fa8b-3eaa-4cc9-bf88-c8837abce225.ttf") format("truetype"),url("Fonts/155f297e-1326-4de9-995e-3e27fd74fabd.svg#155f297e-1326-4de9-995e-3e27fd74fabd") format("svg");
}
@font-face{
	font-family:"ITC Lubalin Graph W03 D1489630";
	src:url("Fonts/be32f107-9bf9-49b8-bf30-8207605522fe.eot?#iefix");
	src:url("Fonts/be32f107-9bf9-49b8-bf30-8207605522fe.eot?#iefix") format("eot"),url("Fonts/91b45ee7-5fa4-4549-962d-29aeb05bcda6.woff2") format("woff2"),url("Fonts/4a8bedba-b14c-4318-88a6-8d69afedd4db.woff") format("woff"),url("Fonts/82cfef9b-0c80-405b-acaa-bf37bdfeea93.ttf") format("truetype"),url("Fonts/64ee6d4a-2d7b-45dc-8de7-73c2bfa842a3.svg#64ee6d4a-2d7b-45dc-8de7-73c2bfa842a3") format("svg");
}


@font-face{
font-family:"Fred Fredburger W04 Regular";
src:url("Fonts/d42c5ee6-b697-45d5-bfb3-eebdbc97e4f6.eot?#iefix");
src:url("Fonts/d42c5ee6-b697-45d5-bfb3-eebdbc97e4f6.eot?#iefix") format("eot"),url("Fonts/41e7b4a4-2c34-4816-a2eb-b9632cbda617.woff2") format("woff2"),url("Fonts/080a5ca5-a071-4c64-8802-4e4a35dd8da6.woff") format("woff"),url("Fonts/7a90531b-ba9a-45c5-8567-7c522910e5dc.ttf") format("truetype"),url("Fonts/55679da0-9d40-4a66-9bfa-b95d4b788a98.svg#55679da0-9d40-4a66-9bfa-b95d4b788a98") format("svg");
}
@font-face{
font-family:"Fred Fredburger Ara W21 Regula";
src:url("Fonts/bcddf15d-5bfd-411d-822f-87c11fb1d0ea.eot?#iefix");
src:url("Fonts/bcddf15d-5bfd-411d-822f-87c11fb1d0ea.eot?#iefix") format("eot"),url("Fonts/55144638-e860-4054-ad7f-28bb73640bcd.woff2") format("woff2"),url("Fonts/be0db103-e309-4980-aa34-4c4904159e08.woff") format("woff"),url("Fonts/57598c4d-f976-48f3-8b6f-983dc2dde846.ttf") format("truetype"),url("Fonts/9959f8a4-218c-46c3-a184-80c73f805936.svg#9959f8a4-218c-46c3-a184-80c73f805936") format("svg");
}
@font-face{
font-family:"Fred Fredburger W04 Bold";
src:url("Fonts/89491ce2-9625-467f-a318-737491c929db.eot?#iefix");
src:url("Fonts/89491ce2-9625-467f-a318-737491c929db.eot?#iefix") format("eot"),url("Fonts/fe8b00a0-6cfb-47dc-89e0-f415d266bcdd.woff2") format("woff2"),url("Fonts/57cd44ac-2c12-429c-a5a6-2d14217ad8e6.woff") format("woff"),url("Fonts/9cf6beaf-243e-4671-b64b-03f277688019.ttf") format("truetype"),url("Fonts/35874c30-a01a-44a7-9b02-9463d647cb4a.svg#35874c30-a01a-44a7-9b02-9463d647cb4a") format("svg");
}
@font-face{
font-family:"Fred Fredburger Ara W21 Bold";
src:url("Fonts/8dd9df0a-54ae-4c23-9b68-adec5a47f431.eot?#iefix");
src:url("Fonts/8dd9df0a-54ae-4c23-9b68-adec5a47f431.eot?#iefix") format("eot"),url("Fonts/5d55219b-1f62-446b-a553-dbb684537508.woff2") format("woff2"),url("Fonts/7ff1c129-7c60-4641-9f76-ad810abb2663.woff") format("woff"),url("Fonts/b935a2c0-b32f-4790-986b-574386444e23.ttf") format("truetype"),url("Fonts/125c8af3-46f8-4b1d-a950-c4f7e29f7a2b.svg#125c8af3-46f8-4b1d-a950-c4f7e29f7a2b") format("svg");
}
@font-face{
font-family:"Fred Fredburger Ara Head W21Bl";
src:url("Fonts/140199ca-7670-49b1-a6c8-4b2c3c9f9223.eot?#iefix");
src:url("Fonts/140199ca-7670-49b1-a6c8-4b2c3c9f9223.eot?#iefix") format("eot"),url("Fonts/818e0ca7-8492-40d6-9d7d-298d9a027f34.woff2") format("woff2"),url("Fonts/d043096b-367b-419b-a4b3-eaa672c87716.woff") format("woff"),url("Fonts/625e7d10-b367-4c1e-b073-0c3e3fdfd789.ttf") format("truetype"),url("Fonts/81d36e97-768e-4827-8c0c-3fed267f9258.svg#81d36e97-768e-4827-8c0c-3fed267f9258") format("svg");
}
@font-face{
font-family:"Fred FredburgerAraHeadW21Shado";
src:url("Fonts/11dbd302-e218-41f5-92e0-4690618f3054.eot?#iefix");
src:url("Fonts/11dbd302-e218-41f5-92e0-4690618f3054.eot?#iefix") format("eot"),url("Fonts/ff6bb66f-5ab4-436b-87f4-a7d5a5d2c037.woff2") format("woff2"),url("Fonts/2012a93f-e297-4bb1-8daa-770c71bce05a.woff") format("woff"),url("Fonts/3e93e53b-142e-437a-9aac-33c4a6c99647.ttf") format("truetype"),url("Fonts/aede57af-c538-4cc4-9910-b806c03037cb.svg#aede57af-c538-4cc4-9910-b806c03037cb") format("svg");
}
@font-face{
font-family:"Fred Fredburger W04 Condensed";
src:url("Fonts/8721d72b-7013-4fa1-a6a9-43d6bf331beb.eot?#iefix");
src:url("Fonts/8721d72b-7013-4fa1-a6a9-43d6bf331beb.eot?#iefix") format("eot"),url("Fonts/a8b55508-92f7-48bd-88bf-71ad7ddbacb9.woff2") format("woff2"),url("Fonts/7d4abaef-2944-4111-b9f6-89fadda36d1d.woff") format("woff"),url("Fonts/f9fc9113-b322-4c90-9a8e-d7b9c09a08ea.ttf") format("truetype"),url("Fonts/a4efafa9-c01b-4fc6-8c1d-f82b66e2a2fd.svg#a4efafa9-c01b-4fc6-8c1d-f82b66e2a2fd") format("svg");
}
@font-face{
font-family:"Fred Fredburger Ara W21 Cond";
src:url("Fonts/9c85a469-2269-4802-91a0-9ae7cea70b60.eot?#iefix");
src:url("Fonts/9c85a469-2269-4802-91a0-9ae7cea70b60.eot?#iefix") format("eot"),url("Fonts/26ad697c-4dca-4dd1-beae-be919af00fa9.woff2") format("woff2"),url("Fonts/8a83166a-5096-4d86-9813-ad4b9e63c579.woff") format("woff"),url("Fonts/ecb8a61a-67c3-44dd-bbca-097d3cc48314.ttf") format("truetype"),url("Fonts/4453a1bb-c78e-4c55-bca4-b8b48f7eade3.svg#4453a1bb-c78e-4c55-bca4-b8b48f7eade3") format("svg");
}
@font-face{
font-family:"Fred Fredburger Headline W04Bl";
src:url("Fonts/593fde79-4b33-427f-ad06-feedcfa57af4.eot?#iefix");
src:url("Fonts/593fde79-4b33-427f-ad06-feedcfa57af4.eot?#iefix") format("eot"),url("Fonts/05005a30-1065-4adb-ab11-c9aa7f8ff257.woff2") format("woff2"),url("Fonts/a2f0323c-dcc2-4d03-8530-9a8292001383.woff") format("woff"),url("Fonts/622547bb-e8f8-4496-bcf1-eb1a91fd69a0.ttf") format("truetype"),url("Fonts/92d2de47-f436-40a2-85e0-4285c171ba12.svg#92d2de47-f436-40a2-85e0-4285c171ba12") format("svg");
}
@font-face{
font-family:"FredFredburgerHeadlineW04Shado";
src:url("Fonts/b4f097d8-2f72-4211-bb2a-c7ba9e80b5a7.eot?#iefix");
src:url("Fonts/b4f097d8-2f72-4211-bb2a-c7ba9e80b5a7.eot?#iefix") format("eot"),url("Fonts/cd699b6e-9dff-4c4b-b8f9-1a7198d1aa0f.woff2") format("woff2"),url("Fonts/cfe0f39a-4088-4fff-b1f9-eefe8db20a04.woff") format("woff"),url("Fonts/e57f6fa6-7466-4b19-b343-d24014fe2d00.ttf") format("truetype"),url("Fonts/46d668f7-d20a-4f3e-8320-d382823b4258.svg#46d668f7-d20a-4f3e-8320-d382823b4258") format("svg");
}
