<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_balloonPop_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{270,172},{71,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,32},{71,65}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,91},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,27},{82,75}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{140,111}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{93,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{25,21},{93,85}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,0},{103,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{21,15},{103,92}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,117},{113,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{113,98}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,234},{121,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,8},{121,97}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,350},{128,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,6},{128,103}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,350},{133,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,5},{133,106}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{137,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{137,110}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

			<key>fx_balloonPop_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{139,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{139,111}}</string>
				<key>sourceSize</key>
				<string>{146,118}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>