<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elena_jewel1_0_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,54},{23,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{23,36}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_10_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{35,46}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{35,46}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_11_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{39,50}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{39,50}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_12_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,58}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{49,58}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_13_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,2},{31,42}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{31,42}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_14_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{35,46}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{35,46}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_15_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{41,50}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{41,50}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_16_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{45,54}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{45,54}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_17_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,54},{23,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{23,36}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_1_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{33,42}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{33,42}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_2_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{31,52}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{31,52}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_3_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{31,54}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{31,54}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_4_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{35,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{35,50}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_5_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{35,44}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{35,44}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_6_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{29,54}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{29,54}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_7_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{27,50}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{27,50}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_8_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,50},{25,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{25,38}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel1_9_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,46},{31,42}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{31,42}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>elena_jewel2_0_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,58},{36,33}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{36,33}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_10_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{52,47}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{52,47}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_11_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{56,51}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{56,51}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_12_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,58},{36,33}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{36,33}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_13_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,58},{40,33}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{40,33}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_14_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,54},{44,37}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{44,37}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_15_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,58},{36,33}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{36,33}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_1_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,54},{40,37}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{40,37}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_2_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,52},{36,39}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{36,39}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_3_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,50},{42,41}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{42,41}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_4_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,48},{38,43}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{38,43}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_5_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{38,47}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{38,47}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_6_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,58},{36,33}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{36,33}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_7_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,54},{40,37}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{40,37}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_8_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,50},{44,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{44,41}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel2_9_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{48,45}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,45}}</string>
                <key>sourceSize</key>
                <string>{72,65}</string>
            </dict>
            <key>elena_jewel3_0_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,50},{33,34}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{33,34}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_10_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,56},{43,34}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{43,34}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_11_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,55},{47,36}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{47,36}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_12_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,51},{51,40}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{51,40}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_13_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{55,46}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{55,46}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_14_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,46},{35,42}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{35,42}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_15_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{39,46}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{39,46}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_16_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{43,48}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{43,48}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_17_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,50},{33,34}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{33,34}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_1_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{41,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{41,44}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_2_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{47,44}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{47,44}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_3_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,49},{45,42}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{45,42}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_4_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,48},{41,42}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{41,42}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_5_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,48},{41,42}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{41,42}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_6_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{41,42}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{41,42}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_7_anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,51},{39,40}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{39,40}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_8_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,50},{33,34}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{33,34}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>elena_jewel3_9_anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,50},{37,34}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{37,34}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elena_jewels_0.png</string>
            <key>size</key>
            <string>{1006,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d642c5144fd27bcc079c52a94588d482:586cf5d2d65f3bcd618122af5862b48d:002a32b4a705d3da6d80976bfba30a0e$</string>
            <key>textureFileName</key>
            <string>elena_jewels_0.png</string>
        </dict>
    </dict>
</plist>
