<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameplay_hud/sparkle_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,70}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>gameplay_hud/tutorial_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,143},{111,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,172}}</string>
                <key>sourceSize</key>
                <string>{111,172}</string>
            </dict>
            <key>gameplay_hud/tutorial_tap.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,340},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>gameplay_hud/universal_ui_button_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,340},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>gameplay_hud/universal_ui_dialog_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,139}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{600,139}}</string>
                <key>sourceSize</key>
                <string>{600,195}</string>
            </dict>
            <key>gameplay_hud/universal_ui_dialog_portrait_elena.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,143},{145,159}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{145,159}}</string>
                <key>sourceSize</key>
                <string>{145,195}</string>
            </dict>
            <key>gameplay_hud/universal_ui_dialog_portrait_zuzo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{145,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,195}}</string>
                <key>sourceSize</key>
                <string>{145,195}</string>
            </dict>
            <key>gameplay_hud/universal_ui_dialog_portrait_zuzo_lipflap.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{145,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,195}}</string>
                <key>sourceSize</key>
                <string>{145,195}</string>
            </dict>
            <key>gameplay_hud/universal_ui_gem_meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{187,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,58}}</string>
                <key>sourceSize</key>
                <string>{187,58}</string>
            </dict>
            <key>gameplay_hud/universal_ui_gem_meter_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,317},{148,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,21}}</string>
                <key>sourceSize</key>
                <string>{148,21}</string>
            </dict>
            <key>gameplay_hud/universal_ui_meter_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pause/pause_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{370,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{370,472}}</string>
                <key>sourceSize</key>
                <string>{370,472}</string>
            </dict>
            <key>pause/pause_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,188},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>pause/pause_play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,340},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>pause/pause_quit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,346},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>pause/pause_sound_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,498},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>pause/pause_sound_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>pause/pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,143},{179,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,43}}</string>
                <key>sourceSize</key>
                <string>{179,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>/Users/wmdesktop029/Desktop/FDT_Workspace/Elena/trunk/SRC/assets_texturepacker/gameplay_universal/export/gameplay_universal_{n}.png/gameplay_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94cd54ce730456efe9339058487016df:5fc00ac18abbef73161439260bfe3869:ca0c087d8237b19f46af1de5f1f6474b$</string>
            <key>textureFileName</key>
            <string>/Users/wmdesktop029/Desktop/FDT_Workspace/Elena/trunk/SRC/assets_texturepacker/gameplay_universal/export/gameplay_universal_{n}.png/gameplay_universal_0.png</string>
        </dict>
    </dict>
</plist>
