<config>

   <!-- SERVICES -->
   <services>
      <service type="localStorage" enabled="true"/>
   </services>

   <!-- LOCALISATION SETTING - SET WITH LANGUAGE CODE IN BELOW LIST -->
   <!--
	    English: en
		French: fr
		Italian: it
		German: de
		Mexican Spanish: mx
		Castilian Spanish (Spain): es
		Danish: da
		Dutch: nl
		Finnish: fi
		Norwegian: no
		Polish: pl
		Swedish: se
		Portuguese: pt
		Brazilian Portuguese: br
		Romanian: ro
		Turkish: tr
		Russian: ru
		Ukrainian: uk
		Greek: el
		Arabic: ar
	-->

   <localization>
	<languagecode>en</languagecode>
   </localization>

</config>