<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_exclamation_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,0},{60,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,112}}</string>
				<key>sourceSize</key>
				<string>{60,112}</string>
			</dict>

			<key>fx_zip_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{475,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,101}}</string>
				<key>sourceSize</key>
				<string>{475,101}</string>
			</dict>

			<key>fx_zip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,102},{475,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,101}}</string>
				<key>sourceSize</key>
				<string>{475,101}</string>
			</dict>

			<key>fx_zip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{475,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,101}}</string>
				<key>sourceSize</key>
				<string>{475,101}</string>
			</dict>

			<key>fx_zip_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,102},{475,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,101}}</string>
				<key>sourceSize</key>
				<string>{475,101}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,256}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>