@font-face {
  font-family: 'fred_burger_shadow_ar';
  src: url('FREDFREDBURGERARAHEADSHADOW.eot'); /* IE9 Compat Modes */
  src: url('FREDFREDBURGERARAHEADSHADOW.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FREDFREDBURGERARAHEADSHADOW.woff') format('woff'), /* Modern Browsers */
       url('FREDFREDBURGERARAHEADSHADOW.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FREDFREDBURGERARAHEADSHADOW.svg#d900874373eb2c4952ceaec84baf5bdd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

