<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_btnAnvil_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,512},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnAnvil_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,897},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnBag_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,820},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnBag_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,743},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnGlasses_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,589},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnGlasses_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1437},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnHowToPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1656},{324,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,41}}</string>
				<key>sourceSize</key>
				<string>{324,41}</string>
			</dict>

			<key>ui_btnHowToPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1703},{324,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,41}}</string>
				<key>sourceSize</key>
				<string>{324,41}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1866},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnNet_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1437},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnNet_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,666},{131,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,71}}</string>
				<key>sourceSize</key>
				<string>{131,71}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1585},{518,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{518,65}}</string>
				<key>sourceSize</key>
				<string>{518,65}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1514},{518,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{518,65}}</string>
				<key>sourceSize</key>
				<string>{518,65}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1305},{176,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,60}}</string>
				<key>sourceSize</key>
				<string>{176,60}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1371},{176,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,60}}</string>
				<key>sourceSize</key>
				<string>{176,60}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1946},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_iconBag.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1147},{181,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,152}}</string>
				<key>sourceSize</key>
				<string>{181,152}</string>
			</dict>

			<key>ui_iconGlasses.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,1027},{207,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,114}}</string>
				<key>sourceSize</key>
				<string>{207,114}</string>
			</dict>

			<key>ui_iconNet.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1866},{219,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,160}}</string>
				<key>sourceSize</key>
				<string>{219,160}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1750},{238,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,110}}</string>
				<key>sourceSize</key>
				<string>{238,110}</string>
			</dict>

			<key>ui_preGameScreen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1027},{680,481}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{680,481}}</string>
				<key>sourceSize</key>
				<string>{680,481}</string>
			</dict>

			<key>ui_preGameScreen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{790,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{790,509}}</string>
				<key>sourceSize</key>
				<string>{790,509}</string>
			</dict>

			<key>ui_preGameScreen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1079,506}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1079,506}}</string>
				<key>sourceSize</key>
				<string>{1079,506}</string>
			</dict>

			<key>ui_preGameScreen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1514},{598,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{598,509}}</string>
				<key>sourceSize</key>
				<string>{598,509}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>