<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_daphneeCorrect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1368},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1197},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,855},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,684},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,342},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,171},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,0},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1710},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeCorrect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1539},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,855},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1197},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,684},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,342},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,171},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,0},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1710},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1539},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1368},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,855},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,684},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1197},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,342},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,171},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,0},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1710},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1539},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1368},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1197},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,855},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,684},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,342},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,171},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,0},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1710},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1539},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1368},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1197},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1026},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,855},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,684},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

			<key>anim_daphneeWrong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{185,165}}</string>
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>anim_daphnee.png</string>
			</dict>
		</dict>
</plist>