<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_fredCorrect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1506,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1506,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredCorrect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1506,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredOut_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,233},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1631},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1398},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1165},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,932},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

			<key>anim_fredWrong_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,466},{245,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,227}}</string>
				<key>sourceSize</key>
				<string>{245,227}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_fred.png</string>
			</dict>
		</dict>
</plist>