<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_ghostHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1840},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1656},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1840},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1472},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1472},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1472},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,920},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,736},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,552},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,368},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,184},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,920},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,736},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,552},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,368},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,184},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1840},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1656},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1472},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostIn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,736},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,552},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,368},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,184},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1656},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1104},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1288},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

			<key>anim_ghostLaugh_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,920},{275,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,178}}</string>
				<key>sourceSize</key>
				<string>{275,178}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_ghost0.png</string>
			</dict>
		</dict>
</plist>