<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_ghostMoveUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1092},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,819},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,0},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1365},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,546},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,273},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,0},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostMoveUp_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,1638},{154,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,267}}</string>
				<key>sourceSize</key>
				<string>{154,267}</string>
			</dict>

			<key>anim_ghostUpHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1092},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,546},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,273},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,0},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1638},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1365},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1092},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,819},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,546},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,819},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1638},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

			<key>anim_ghostUpIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,1365},{384,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{384,267}}</string>
				<key>sourceSize</key>
				<string>{384,267}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_ghost1.png</string>
			</dict>
		</dict>
</plist>