<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_scoobShagIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1687},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1446},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1205},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,964},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1205},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,964},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,723},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,482},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,241},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,0},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1687},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,1446},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1687},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,723},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,482},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,241},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,0},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1687},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1446},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1205},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,723},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,482},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,482},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,241},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,0},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1233,1687},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1446},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,1205},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,964},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

			<key>char_scoobShagRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,723},{405,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,235}}</string>
				<key>sourceSize</key>
				<string>{405,235}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_scoobAndShag0.png</string>
			</dict>
		</dict>
</plist>