<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gobj_heartL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,95}</string>
                <key>spriteSourceSize</key>
                <string>{105,95}</string>
                <key>textureRect</key>
                <string>{{731,79},{105,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartLBurst_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{107,95}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{846,79},{107,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartLBurst_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{121,85}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{8,184},{121,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartLBurst_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{163,53}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{558,79},{163,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartLBurst_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{175,45}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{373,79},{175,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartLBurst_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{185,35}</string>
                <key>spriteSourceSize</key>
                <string>{193,113}</string>
                <key>textureRect</key>
                <string>{{178,79},{185,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,61}</string>
                <key>spriteSourceSize</key>
                <string>{68,61}</string>
                <key>textureRect</key>
                <string>{{910,8},{68,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartMBurst_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{125,74}</string>
                <key>textureRect</key>
                <string>{{97,79},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartMBurst_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{79,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,74}</string>
                <key>textureRect</key>
                <string>{{8,79},{79,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartMBurst_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{107,36}</string>
                <key>spriteSourceSize</key>
                <string>{125,74}</string>
                <key>textureRect</key>
                <string>{{793,8},{107,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartMBurst_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{115,30}</string>
                <key>spriteSourceSize</key>
                <string>{125,74}</string>
                <key>textureRect</key>
                <string>{{668,8},{115,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartMBurst_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{121,24}</string>
                <key>spriteSourceSize</key>
                <string>{125,74}</string>
                <key>textureRect</key>
                <string>{{537,8},{121,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,46}</string>
                <key>spriteSourceSize</key>
                <string>{51,46}</string>
                <key>textureRect</key>
                <string>{{342,8},{51,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartSBurst_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{403,8},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartSBurst_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{60,43}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{467,8},{60,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartSBurst_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{82,27}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{250,8},{82,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartSBurst_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{88,23}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{152,8},{88,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartSBurst_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{92,19}</string>
                <key>spriteSourceSize</key>
                <string>{94,55}</string>
                <key>textureRect</key>
                <string>{{50,8},{92,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,144}</string>
                <key>spriteSourceSize</key>
                <string>{159,144}</string>
                <key>textureRect</key>
                <string>{{198,279},{159,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXLBurst_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{162,144}</string>
                <key>spriteSourceSize</key>
                <string>{292,172}</string>
                <key>textureRect</key>
                <string>{{367,279},{162,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXLBurst_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{180,126}</string>
                <key>spriteSourceSize</key>
                <string>{292,172}</string>
                <key>textureRect</key>
                <string>{{8,279},{180,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXLBurst_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,46}</string>
                <key>spriteSize</key>
                <string>{246,80}</string>
                <key>spriteSourceSize</key>
                <string>{292,172}</string>
                <key>textureRect</key>
                <string>{{703,184},{246,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXLBurst_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,46}</string>
                <key>spriteSize</key>
                <string>{264,68}</string>
                <key>spriteSourceSize</key>
                <string>{292,172}</string>
                <key>textureRect</key>
                <string>{{429,184},{264,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXLBurst_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,44}</string>
                <key>spriteSize</key>
                <string>{280,52}</string>
                <key>spriteSourceSize</key>
                <string>{292,172}</string>
                <key>textureRect</key>
                <string>{{139,184},{280,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,29}</string>
                <key>spriteSourceSize</key>
                <string>{32,29}</string>
                <key>textureRect</key>
                <string>{{8,8},{32,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXL.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,220}</string>
                <key>spriteSourceSize</key>
                <string>{244,220}</string>
                <key>textureRect</key>
                <string>{{8,567},{244,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXLBurst_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{245,222}</string>
                <key>spriteSourceSize</key>
                <string>{449,264}</string>
                <key>textureRect</key>
                <string>{{549,567},{245,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXLBurst_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-14}</string>
                <key>spriteSize</key>
                <string>{277,194}</string>
                <key>spriteSourceSize</key>
                <string>{449,264}</string>
                <key>textureRect</key>
                <string>{{262,567},{277,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXLBurst_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,70}</string>
                <key>spriteSize</key>
                <string>{377,124}</string>
                <key>spriteSourceSize</key>
                <string>{449,264}</string>
                <key>textureRect</key>
                <string>{{421,433},{377,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXLBurst_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,70}</string>
                <key>spriteSize</key>
                <string>{403,102}</string>
                <key>spriteSourceSize</key>
                <string>{449,264}</string>
                <key>textureRect</key>
                <string>{{8,433},{403,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_heartXXLBurst_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,68}</string>
                <key>spriteSize</key>
                <string>{429,78}</string>
                <key>spriteSourceSize</key>
                <string>{449,264}</string>
                <key>textureRect</key>
                <string>{{539,279},{429,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gobj_A.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db8281d77f5fc1db929c900a17cd8579:59090c559db56f65e0f6005d9f7df8bb:05dfb1dd60bb7b135bd27394debf2f7a$</string>
            <key>textureFileName</key>
            <string>gobj_A.png</string>
        </dict>
    </dict>
</plist>
