/* Webfont: Junegull-Regular */@font-face {
    font-family: 'junegull rg';
    src: url('Junegull-Regular.eot'); /* IE9 Compat Modes */
    src: url('Junegull-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Junegull-Regular.woff') format('woff'), /* Modern Browsers */
         url('Junegull-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Junegull-Regular.svg#Junegull-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

