<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bugsDive_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1428},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,476},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,0},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1428},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,1428},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,952},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,476},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,952},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,952},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

			<key>char_bugsDive_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,476},{305,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,470}}</string>
				<key>sourceSize</key>
				<string>{305,470}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_bugsDive.png</string>
			</dict>
		</dict>
</plist>