<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_NewRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,864},{161,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,107}}</string>
				<key>sourceSize</key>
				<string>{161,107}</string>
			</dict>

			<key>ui_btnHowto_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,815},{298,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,79}}</string>
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>

			<key>ui_btnHowto_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,900},{298,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,79}}</string>
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,838},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,675},{278,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,78}}</string>
				<key>sourceSize</key>
				<string>{278,78}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,675},{278,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,78}}</string>
				<key>sourceSize</key>
				<string>{278,78}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,815},{298,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,79}}</string>
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,900},{298,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,79}}</string>
				<key>sourceSize</key>
				<string>{298,79}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1201,311},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_dayBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{472,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{472,87}}</string>
				<key>sourceSize</key>
				<string>{472,87}</string>
			</dict>

			<key>ui_dayCount.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,395},{150,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,43}}</string>
				<key>sourceSize</key>
				<string>{150,43}</string>
			</dict>

			<key>ui_dayFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,985},{283,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{283,20}}</string>
				<key>sourceSize</key>
				<string>{283,20}</string>
			</dict>

			<key>ui_exclamation_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,918},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_exclamation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1210,759},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_exclamation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1214,207},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_exclamation_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,0},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_exclamation_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,654},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_exclamation_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,105},{32,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,69}}</string>
				<key>sourceSize</key>
				<string>{32,69}</string>
			</dict>

			<key>ui_iconCarrot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,574},{75,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,74}}</string>
				<key>sourceSize</key>
				<string>{75,74}</string>
			</dict>

			<key>ui_iconCarrotnivi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,759},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{75,73}</string>
			</dict>

			<key>ui_iconCarrotpoison.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,495},{75,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,73}}</string>
				<key>sourceSize</key>
				<string>{75,73}</string>
			</dict>

			<key>ui_iconRadish.png</key>
			<dict>
				<key>frame</key>
				<string>{{1199,417},{75,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,72}}</string>
				<key>sourceSize</key>
				<string>{75,72}</string>
			</dict>

			<key>ui_iconSpinach.png</key>
			<dict>
				<key>frame</key>
				<string>{{1121,864},{75,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,89}}</string>
				<key>sourceSize</key>
				<string>{75,89}</string>
			</dict>

			<key>ui_lineOfSight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,692},{340,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,278}}</string>
				<key>sourceSize</key>
				<string>{340,278}</string>
			</dict>

			<key>ui_nextDay.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{641,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{641,389}}</string>
				<key>sourceSize</key>
				<string>{641,389}</string>
			</dict>

			<key>ui_preGameBugs.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,0},{415,669}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,669}}</string>
				<key>sourceSize</key>
				<string>{415,669}</string>
			</dict>

			<key>ui_preGameDialogue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,488},{469,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{469,198}}</string>
				<key>sourceSize</key>
				<string>{469,198}</string>
			</dict>

			<key>ui_soilGrid_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,759},{169,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,99}}</string>
				<key>sourceSize</key>
				<string>{169,99}</string>
			</dict>

			<key>ui_soilGrid_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,592},{154,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,93}}</string>
				<key>sourceSize</key>
				<string>{154,93}</string>
			</dict>

			<key>ui_soilGrid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,105},{151,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,96}}</string>
				<key>sourceSize</key>
				<string>{151,96}</string>
			</dict>

			<key>ui_soilGrid_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,311},{127,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,100}}</string>
				<key>sourceSize</key>
				<string>{127,100}</string>
			</dict>

			<key>ui_soilGrid_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,519},{125,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,95}}</string>
				<key>sourceSize</key>
				<string>{125,95}</string>
			</dict>

			<key>ui_soilGrid_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,417},{125,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,96}}</string>
				<key>sourceSize</key>
				<string>{125,96}</string>
			</dict>

			<key>ui_soilGrid_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,207},{140,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,98}}</string>
				<key>sourceSize</key>
				<string>{140,98}</string>
			</dict>

			<key>ui_soilGrid_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,0},{153,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,99}}</string>
				<key>sourceSize</key>
				<string>{153,99}</string>
			</dict>

			<key>ui_soilGrid_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,488},{162,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,98}}</string>
				<key>sourceSize</key>
				<string>{162,98}</string>
			</dict>

			<key>ui_weightBase_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,692},{301,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,117}}</string>
				<key>sourceSize</key>
				<string>{301,117}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>