@font-face {
    font-family: 'LubalinGraphITCTurnerAraBold';
    src: url('hinted-LubalinGraphITCTurnerAraBold.eot');
    src: url('hinted-LubalinGraphITCTurnerAraBold.eot?#iefix') format('embedded-opentype'),
        url('hinted-LubalinGraphITCTurnerAraBold.woff2') format('woff2'),
        url('hinted-LubalinGraphITCTurnerAraBold.woff') format('woff'),
        url('hinted-LubalinGraphITCTurnerAraBold.ttf') format('truetype'),
        url('hinted-LubalinGraphITCTurnerAraBold.svg#LubalinGraphITCTurnerAraBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

