<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_spray_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,171},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,342},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,513},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,171},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,684},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,513},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,342},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,513},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

			<key>fx_spray_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,684},{354,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{354,165}}</string>
				<key>sourceSize</key>
				<string>{354,165}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>