<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_lamPeel_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,227}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{8,8},{136,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{177,242}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{8,245},{177,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,250}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{8,497},{185,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_3.png</string>
            <key>size</key>
            <string>{201,755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0841a6be49cd504b07eedae275219f9:285b19610166dd3f61c8f8092a0d349f:2c4a86639de5266930745d770abaa923$</string>
            <key>textureFileName</key>
            <string>char_3.png</string>
        </dict>
    </dict>
</plist>
