<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_lamBuff2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{346,8},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{226,380},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,192},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{346,8},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{226,380},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,192},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{550,8},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{444,192},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{226,192},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,8},{194,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{754,8},{194,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,380},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{208,178}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{662,192},{208,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,225}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{674,780},{124,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,225}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{674,780},{124,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,227}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{808,780},{136,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{124,201}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{142,780},{124,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{124,201}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{142,780},{124,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeelBlue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{122,203}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{408,780},{122,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeel_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,225}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{540,780},{124,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeel_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,225}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{540,780},{124,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeel_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{124,201}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{8,780},{124,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeel_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{124,201}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{8,780},{124,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamPeel_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{122,203}</string>
                <key>spriteSourceSize</key>
                <string>{138,227}</string>
                <key>textureRect</key>
                <string>{{276,780},{122,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{207,194}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{772,576},{207,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{177,192}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{585,576},{177,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{185,188}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{203,576},{185,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{177,192}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{585,576},{177,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{185,188}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{203,576},{185,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{177,192}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{398,576},{177,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{185,188}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{8,576},{185,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamSpot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-30}</string>
                <key>spriteSize</key>
                <string>{185,188}</string>
                <key>spriteSourceSize</key>
                <string>{207,250}</string>
                <key>textureRect</key>
                <string>{{8,576},{185,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,27}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{684,380},{140,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,3}</string>
                <key>spriteSize</key>
                <string>{108,180}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{444,380},{108,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,27}</string>
                <key>spriteSize</key>
                <string>{140,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{684,380},{140,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,27}</string>
                <key>spriteSize</key>
                <string>{146,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{834,380},{146,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,3}</string>
                <key>spriteSize</key>
                <string>{112,180}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{562,380},{112,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,27}</string>
                <key>spriteSize</key>
                <string>{146,186}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{834,380},{146,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,21}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{212,8},{124,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,21}</string>
                <key>spriteSize</key>
                <string>{124,170}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{212,8},{124,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_2.png</string>
            <key>size</key>
            <string>{988,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0841a6be49cd504b07eedae275219f9:285b19610166dd3f61c8f8092a0d349f:2c4a86639de5266930745d770abaa923$</string>
            <key>textureFileName</key>
            <string>char_2.png</string>
        </dict>
    </dict>
</plist>
