<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_lamIdle_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{828,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{828,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{286,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{286,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{556,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{556,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{692,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{148,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{556,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{556,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{556,756},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{148,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{148,756},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{858,592},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{858,592},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{620,146},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{284,146},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{684,442},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{688,592},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{348,592},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{518,592},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{516,294},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{180,294},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{348,442},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMoveBlue_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{8,442},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{520,442},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{688,294},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{154,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{352,294},{154,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{8,592},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{848,442},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{178,592},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{448,146},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{784,146},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{162,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{8,294},{162,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamMove_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{170,144}</string>
                <key>textureRect</key>
                <string>{{178,442},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{122,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{424,756},{122,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{122,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{424,756},{122,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-58}</string>
                <key>spriteSize</key>
                <string>{126,136}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{148,146},{126,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-82}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{292,8},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-82}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{292,8},{118,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-70}</string>
                <key>spriteSize</key>
                <string>{94,112}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{420,8},{94,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-58}</string>
                <key>spriteSize</key>
                <string>{130,136}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{8,146},{130,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-82}</string>
                <key>spriteSize</key>
                <string>{124,88}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{158,8},{124,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-82}</string>
                <key>spriteSize</key>
                <string>{124,88}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{158,8},{124,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-70}</string>
                <key>spriteSize</key>
                <string>{96,112}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{524,8},{96,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-59}</string>
                <key>spriteSize</key>
                <string>{146,128}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{772,8},{146,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-91}</string>
                <key>spriteSize</key>
                <string>{140,62}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{8,8},{140,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-59}</string>
                <key>spriteSize</key>
                <string>{132,126}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{630,8},{132,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{8,756},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{130,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{8,756},{130,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_0.png</string>
            <key>size</key>
            <string>{1016,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0841a6be49cd504b07eedae275219f9:285b19610166dd3f61c8f8092a0d349f:2c4a86639de5266930745d770abaa923$</string>
            <key>textureFileName</key>
            <string>char_0.png</string>
        </dict>
    </dict>
</plist>
