<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_lamBuff2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{282,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{500,172},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{170,668},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,668},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{416,846},{172,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,846},{194,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{206,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{776,172},{206,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{638,172},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{362,172},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{170,668},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,668},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{416,846},{172,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,846},{194,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamBuff_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{206,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{776,172},{206,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{224,172},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{636,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{604,668},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{442,668},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{780,846},{172,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-5}</string>
                <key>spriteSize</key>
                <string>{194,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{212,846},{194,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{206,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{8,172},{206,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{282,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{774,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{604,668},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-7}</string>
                <key>spriteSize</key>
                <string>{152,166}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{442,668},{152,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-5}</string>
                <key>spriteSize</key>
                <string>{172,170}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{598,846},{172,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamHit_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-13}</string>
                <key>spriteSize</key>
                <string>{206,154}</string>
                <key>spriteSourceSize</key>
                <string>{218,180}</string>
                <key>textureRect</key>
                <string>{{420,8},{206,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,500},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,500},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{282,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{282,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{282,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,500},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{284,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{284,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{558,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{284,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{284,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{284,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{146,500},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{694,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{694,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdleBlue_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{420,500},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{832,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{832,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,8},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{832,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{832,336},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_lamIdle_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{128,154}</string>
                <key>spriteSourceSize</key>
                <string>{134,160}</string>
                <key>textureRect</key>
                <string>{{8,336},{128,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{118,158}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{690,500},{118,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-34}</string>
                <key>spriteSize</key>
                <string>{94,168}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{866,668},{94,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{146,8},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{126,154}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{146,8},{126,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{122,158}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{558,500},{122,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphIN_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-34}</string>
                <key>spriteSize</key>
                <string>{100,168}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{756,668},{100,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{110,166}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{322,668},{110,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_morphOUT_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-47}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{196,252}</string>
                <key>textureRect</key>
                <string>{{818,500},{130,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_1.png</string>
            <key>size</key>
            <string>{990,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0841a6be49cd504b07eedae275219f9:285b19610166dd3f61c8f8092a0d349f:2c4a86639de5266930745d770abaa923$</string>
            <key>textureFileName</key>
            <string>char_1.png</string>
        </dict>
    </dict>
</plist>
