/* Webfont: cartonsixregular-Regular */
@font-face {
    font-family: 'carton_sixregular';
    src: url('carton_six.eot');
    src: url('carton_six.eot?#iefix') format('embedded-opentype'),
         url('carton_six.woff') format('woff'),
         url('carton_six.ttf') format('truetype'),
         url('carton_six.svg#carton_sixregular') format('svg');
    font-weight: normal;
    font-style: normal;

}