<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_tomAlert_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,363},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,242},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,121},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,0},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,363},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,726},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,605},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,484},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,363},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAlert_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,242},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,121},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,594},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,473},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,715},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,836},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,715},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,847},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,473},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,352},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,231},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,836},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomAwake_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{146,594},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,484},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,484},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,363},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,242},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,121},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,0},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,847},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,726},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,605},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomDrowsy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,484},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomGameOver_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{170,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,230}}</string>
				<key>sourceSize</key>
				<string>{170,230}</string>
			</dict>

			<key>anim_tomSleep_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,242},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,121},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,0},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,847},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,726},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,605},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,605},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,0},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,847},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,726},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,605},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,484},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,363},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,242},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

			<key>anim_tomSleep_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,121},{145,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,120}}</string>
				<key>sourceSize</key>
				<string>{145,120}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>