<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_miceCracker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,704},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,528},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,704},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,352},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1232},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,880},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1408},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1056},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,352},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,176},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,0},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1760},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1584},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1408},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1232},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceCracker_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1056},{400,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,175}}</string>
				<key>sourceSize</key>
				<string>{400,175}</string>
			</dict>

			<key>char_miceEnd_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,352},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1760},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1584},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,528},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1584},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1760},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,0},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,176},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,352},{285,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{285,175}}</string>
				<key>sourceSize</key>
				<string>{285,175}</string>
			</dict>

			<key>char_miceTipToe_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1584},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1408},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,704},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,1760},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1056},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1232},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,880},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,704},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1408},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,528},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1232},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1408},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1232},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1584},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1239,1584},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,176},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,0},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,880},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,704},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1056},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

			<key>char_miceTipToe_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1760},{265,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{265,175}}</string>
				<key>sourceSize</key>
				<string>{265,175}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>