<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_explosion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1680},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1344},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1008},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1344},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1680},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,0},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,336},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_explosion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,672},{335,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{335,335}}</string>
				<key>sourceSize</key>
				<string>{335,335}</string>
			</dict>

			<key>fx_noiseLoud_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1236},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseLoud_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1030},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseLoud_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,824},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseMedium_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1648},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseMedium_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,412},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseMedium_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,206},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseSoft_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseSoft_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,618},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_noiseSoft_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1442},{245,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,205}}</string>
				<key>sourceSize</key>
				<string>{245,205}</string>
			</dict>

			<key>fx_sparkle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1854},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1854},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1945},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1854},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1945},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,273},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,1945},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,0},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,91},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

			<key>fx_sparkle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,182},{100,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,90}}</string>
				<key>sourceSize</key>
				<string>{100,90}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>