<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_catToy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1969},{99,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,54}}</string>
				<key>sourceSize</key>
				<string>{99,54}</string>
			</dict>

			<key>gobj_catToy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1533},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1835},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,0},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,302},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{261,1818},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1684},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1818},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,151},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1835},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1533},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1818},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1818},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1684},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_catToy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,453},{255,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,145}}</string>
				<key>sourceSize</key>
				<string>{255,145}</string>
			</dict>

			<key>gobj_cheese_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1969},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,60}}</string>
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>

			<key>gobj_fireCracker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1969},{85,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,30}}</string>
				<key>sourceSize</key>
				<string>{85,30}</string>
			</dict>

			<key>gobj_lampShade_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,721},{149,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,235}}</string>
				<key>sourceSize</key>
				<string>{149,235}</string>
			</dict>

			<key>gobj_lampShade_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,0},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1212},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,909},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,606},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,303},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1515},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1212},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,909},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,606},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1515},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,303},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,0},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_lampShade_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1515},{530,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,297}}</string>
				<key>sourceSize</key>
				<string>{530,297}</string>
			</dict>

			<key>gobj_piggyBank_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,604},{149,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,111}}</string>
				<key>sourceSize</key>
				<string>{149,111}</string>
			</dict>

			<key>gobj_piggyBank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,303},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,303},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1287},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1779},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,795},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1041},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,549},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,303},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,795},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,303},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,549},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1287},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1041},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

			<key>gobj_piggyBank_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1533},{350,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,240}}</string>
				<key>sourceSize</key>
				<string>{350,240}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_2.png</string>
			</dict>
		</dict>
</plist>