<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_alarmClock_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1962},{76,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,77}}</string>
				<key>sourceSize</key>
				<string>{76,77}</string>
			</dict>

			<key>gobj_alarmClock_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1176},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,678},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,844},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,678},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,844},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1435,678},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,678},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,678},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1342},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1674},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1840},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1508},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,1010},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_alarmClock_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,844},{175,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,160}}</string>
				<key>sourceSize</key>
				<string>{175,160}</string>
			</dict>

			<key>gobj_buildBlocks_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1898},{52,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,124}}</string>
				<key>sourceSize</key>
				<string>{52,124}</string>
			</dict>

			<key>gobj_buildBlocks_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,0},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,654},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1744},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,436},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1090},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,218},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1308},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,872},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_buildBlocks_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1526},{360,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,212}}</string>
				<key>sourceSize</key>
				<string>{360,212}</string>
			</dict>

			<key>gobj_flowerVase_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1500,844},{82,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,172}}</string>
				<key>sourceSize</key>
				<string>{82,172}</string>
			</dict>

			<key>gobj_flowerVase_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,171},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1753},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,226},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,0},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1075},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1301},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,623},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,397},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,452},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,397},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,171},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1527},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{993,623},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_flowerVase_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,849},{255,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{255,220}}</string>
				<key>sourceSize</key>
				<string>{255,220}</string>
			</dict>

			<key>gobj_mouseTrap_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1962},{121,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,39}}</string>
				<key>sourceSize</key>
				<string>{121,39}</string>
			</dict>

			<key>gobj_mouseTrap_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1727},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1214},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1385},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,872},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1043},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1556},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{712,1727},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1727},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1043},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,872},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1385},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1556},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

			<key>gobj_mouseTrap_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,1214},{340,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,165}}</string>
				<key>sourceSize</key>
				<string>{340,165}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_1.png</string>
			</dict>
		</dict>
</plist>