@font-face {
  font-family: 'fred_burger_ar';
  src: url('FREDFREDBURGERARAHEADBLACK.eot'); /* IE9 Compat Modes */
  src: url('FREDFREDBURGERARAHEADBLACK.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('FREDFREDBURGERARAHEADBLACK.woff') format('woff'), /* Modern Browsers */
       url('FREDFREDBURGERARAHEADBLACK.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('FREDFREDBURGERARAHEADBLACK.svg#913b8fa5dadf392aa8958c63204777c0') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

