<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_frogFireD_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1582},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1461},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,484},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,251},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,735},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1452},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1331},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1210},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1089},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireD_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,968},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,847},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,726},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,605},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,484},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,363},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,242},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,121},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,0},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1824},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireS_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1703},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1582},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1461},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,484},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1340},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1452},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1219},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,1098},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,977},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,856},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogFireU_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,735},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,614},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,493},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,372},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1250,251},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1824},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1703},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1582},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,493},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,372},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1461},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1340},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1219},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1098},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,977},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,856},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,1573},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_frogIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,614},{245,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,120}}</string>
				<key>sourceSize</key>
				<string>{245,120}</string>
			</dict>

			<key>anim_mowerDizzy_D_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1255},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_D_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1255},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerDizzy_U_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1255},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_D_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerHit_U_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1004},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,753},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerRun_U_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1255},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,0},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1506},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

			<key>anim_mowerrun_D_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1255},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_batch0.png</string>
			</dict>
		</dict>
</plist>