<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_scrapperAttack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperAttack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1496,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperDizzy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1224,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperNauseous_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_D_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_L_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_R_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,126},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,756},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,630},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,504},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

			<key>anim_scrapperWalk_U_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,252},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,125}}</string>
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_scrapper.png</string>
			</dict>
		</dict>
</plist>