<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_visitorPeek_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,652},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,0},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,0},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,326},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,0},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,326},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,652},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,652},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorPeek_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,326},{395,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,325}}</string>
				<key>sourceSize</key>
				<string>{395,325}</string>
			</dict>

			<key>anim_visitorRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1389,652},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>anim_visitorRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,0},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>anim_visitorRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,652},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>anim_visitorRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,502},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>anim_visitorRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1590,753},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

			<key>anim_visitorRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,251},{200,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,250}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_visitor.png</string>
			</dict>
		</dict>
</plist>