<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_beanCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanCollect_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1505,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanFall_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1290,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1720,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanStand_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWhistle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,478},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,239},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,0},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1673},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1434},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1195},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,956},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

			<key>char_beanWin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,717},{209,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,233}}</string>
				<key>sourceSize</key>
				<string>{209,233}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_0.png</string>
			</dict>
		</dict>
</plist>