<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_gBallDisperse_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,348},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallDisperse_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,348},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallDisperse_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,242},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallDisperse_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,136},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallDisperse_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,136},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallDisperse_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,242},{115,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,105}}</string>
				<key>sourceSize</key>
				<string>{115,105}</string>
			</dict>

			<key>fx_gBallIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,50},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,0},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_gBallIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,454},{77,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,49}}</string>
				<key>sourceSize</key>
				<string>{77,49}</string>
			</dict>

			<key>fx_trashCollect_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{272,0},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,136},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,0},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,136},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

			<key>fx_trashCollect_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,272},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>