<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,0},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,65}}</string>
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>

			<key>gobj_bombExplode_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,0},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,0},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,663},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,404},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,625},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,663},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,0},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,663},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombExplode_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,442},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,221},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,0},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,442},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,404},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,183},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,625},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,442},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,442},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_bombIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{844,442},{205,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,215}}</string>
				<key>sourceSize</key>
				<string>{205,215}</string>
			</dict>

			<key>gobj_can.png</key>
			<dict>
				<key>frame</key>
				<string>{{1478,936},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>

			<key>gobj_cursorText_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,261},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,361},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,661},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,761},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,461},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,561},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,661},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,861},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,261},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursorText_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,261},{98,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,94}}</string>
				<key>sourceSize</key>
				<string>{98,94}</string>
			</dict>

			<key>gobj_cursor_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,261},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,127},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,69},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,261},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,116},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1671,961},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,69},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1650,174},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,261},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_cursor_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1491,261},{45,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>sourceSize</key>
				<string>{45,41}</string>
			</dict>

			<key>gobj_holeIdle.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{149,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,63}}</string>
				<key>sourceSize</key>
				<string>{149,63}</string>
			</dict>

			<key>gobj_marbleAppear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1545,156},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1083,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,69},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,312},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1188,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,156},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleAppear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,910},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_marbleWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1614,71},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>gobj_marbleWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1549,961},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>gobj_marbleWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,846},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>gobj_marbleWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,961},{55,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,50}}</string>
				<key>sourceSize</key>
				<string>{55,50}</string>
			</dict>

			<key>gobj_paper.png</key>
			<dict>
				<key>frame</key>
				<string>{{1398,961},{74,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,47}}</string>
				<key>sourceSize</key>
				<string>{74,47}</string>
			</dict>

			<key>gobj_puddle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{258,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{258,177}}</string>
				<key>sourceSize</key>
				<string>{258,177}</string>
			</dict>

			<key>gobj_whistleAppear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,442},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,846},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,156},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,780},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,0},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,624},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,846},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,754},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,442},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,598},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,754},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,0},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,598},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,312},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

			<key>gobj_whistleAppear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,468},{168,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,150}}</string>
				<key>sourceSize</key>
				<string>{168,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>