<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_+10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,0},{58,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,35}}</string>
				<key>sourceSize</key>
				<string>{58,35}</string>
			</dict>

			<key>ui_+20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1687,623},{62,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,35}}</string>
				<key>sourceSize</key>
				<string>{62,35}</string>
			</dict>

			<key>ui_+50.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,958},{63,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,35}}</string>
				<key>sourceSize</key>
				<string>{63,35}</string>
			</dict>

			<key>ui_beanLife.png</key>
			<dict>
				<key>frame</key>
				<string>{{1709,902},{118,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,112}}</string>
				<key>sourceSize</key>
				<string>{118,112}</string>
			</dict>

			<key>ui_bombX.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,958},{40,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,49}}</string>
				<key>sourceSize</key>
				<string>{40,49}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,800},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,41},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btn_bomb_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1786,623},{105,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,99}}</string>
				<key>sourceSize</key>
				<string>{105,99}</string>
			</dict>

			<key>ui_btn_bomb_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,125},{106,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,99}}</string>
				<key>sourceSize</key>
				<string>{106,99}</string>
			</dict>

			<key>ui_btn_continue_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,923},{188,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,64}}</string>
				<key>sourceSize</key>
				<string>{188,64}</string>
			</dict>

			<key>ui_btn_continue_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,241},{188,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,64}}</string>
				<key>sourceSize</key>
				<string>{188,64}</string>
			</dict>

			<key>ui_btn_howToPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,322},{394,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{394,110}}</string>
				<key>sourceSize</key>
				<string>{394,110}</string>
			</dict>

			<key>ui_btn_howToPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,438},{394,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{394,110}}</string>
				<key>sourceSize</key>
				<string>{394,110}</string>
			</dict>

			<key>ui_btn_playAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,923},{208,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,64}}</string>
				<key>sourceSize</key>
				<string>{208,64}</string>
			</dict>

			<key>ui_btn_playAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,241},{208,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,64}}</string>
				<key>sourceSize</key>
				<string>{208,64}</string>
			</dict>

			<key>ui_btn_play_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,125},{256,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,110}}</string>
				<key>sourceSize</key>
				<string>{256,110}</string>
			</dict>

			<key>ui_btn_play_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,683},{256,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,110}}</string>
				<key>sourceSize</key>
				<string>{256,110}</string>
			</dict>

			<key>ui_counterRoulette.png</key>
			<dict>
				<key>frame</key>
				<string>{{1524,799},{217,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,97}}</string>
				<key>sourceSize</key>
				<string>{217,97}</string>
			</dict>

			<key>ui_gameOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,923},{266,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,58}}</string>
				<key>sourceSize</key>
				<string>{266,58}</string>
			</dict>

			<key>ui_greatText.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,0},{350,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,119}}</string>
				<key>sourceSize</key>
				<string>{350,119}</string>
			</dict>

			<key>ui_levelBar_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,585},{508,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{508,101}}</string>
				<key>sourceSize</key>
				<string>{508,101}</string>
			</dict>

			<key>ui_levelBar_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,958},{392,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,22}}</string>
				<key>sourceSize</key>
				<string>{392,22}</string>
			</dict>

			<key>ui_levelBar_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,986},{392,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,22}}</string>
				<key>sourceSize</key>
				<string>{392,22}</string>
			</dict>

			<key>ui_levelCleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,692},{489,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{489,225}}</string>
				<key>sourceSize</key>
				<string>{489,225}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,480},{148,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,137}}</string>
				<key>sourceSize</key>
				<string>{148,137}</string>
			</dict>

			<key>ui_popUpbase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{600,579}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,579}}</string>
				<key>sourceSize</key>
				<string>{600,579}</string>
			</dict>

			<key>ui_powerUp_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,728},{71,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,66}</string>
			</dict>

			<key>ui_powerUp_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,604},{71,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,67}}</string>
				<key>sourceSize</key>
				<string>{71,67}</string>
			</dict>

			<key>ui_powerUp_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1747,799},{71,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,67}}</string>
				<key>sourceSize</key>
				<string>{71,67}</string>
			</dict>

			<key>ui_powerUp_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,604},{71,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>sourceSize</key>
				<string>{71,66}</string>
			</dict>

			<key>ui_preGameBean.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,0},{381,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{381,474}}</string>
				<key>sourceSize</key>
				<string>{381,474}</string>
			</dict>

			<key>ui_preGameBubble_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{499,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,316}}</string>
				<key>sourceSize</key>
				<string>{499,316}</string>
			</dict>

			<key>ui_preGameBubble_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{524,692},{499,316}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{499,316}}</string>
				<key>sourceSize</key>
				<string>{499,316}</string>
			</dict>

			<key>ui_preGameWicket.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,585},{518,367}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{518,367}}</string>
				<key>sourceSize</key>
				<string>{518,367}</string>
			</dict>

			<key>ui_resultScreen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,322},{489,355}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{489,355}}</string>
				<key>sourceSize</key>
				<string>{489,355}</string>
			</dict>

			<key>ui_score.png</key>
			<dict>
				<key>frame</key>
				<string>{{1533,480},{202,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{202,118}}</string>
				<key>sourceSize</key>
				<string>{202,118}</string>
			</dict>

			<key>ui_x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1485,121},{39,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,35}}</string>
				<key>sourceSize</key>
				<string>{39,35}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>