


@font-face{
font-family:"Cervo";
src:url("8e4c2eaf-8e50-4c81-8ad1-e1ae021d273d.eot?#iefix");
src:url("8e4c2eaf-8e50-4c81-8ad1-e1ae021d273d.eot?#iefix") format("eot"),url("6e0698b6-e8a9-4636-a7e8-756882bb55a5.woff2") format("woff2"),url("32e4e29f-95db-417d-9251-95657cc384ac.woff") format("woff"),url("bf68941c-c311-4161-9645-51db96263e51.ttf") format("truetype"),url("68839916-14f1-4ee1-bd5c-41ff6e0391c4.svg#68839916-14f1-4ee1-bd5c-41ff6e0391c4") format("svg");
}