<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/platform_sneeze5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,400}</string>
                <key>spriteSourceSize</key>
                <string>{404,400}</string>
                <key>textureRect</key>
                <string>{{2,2},{404,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_sneeze_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0914322f61e488d595537bd69d1c0222:cc8eb6606971b845fc162f01bd1ade20:96f8861d1ce6e176f5790986bfb681ef$</string>
            <key>textureFileName</key>
            <string>gameplay_sneeze_1.png</string>
        </dict>
    </dict>
</plist>
