<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_poisonBubbles_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,158},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1478},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,1320},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1794},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1636},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1478},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1320},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1106},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,948},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,790},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,632},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,474},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,316},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,1636},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poisonBubbles_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,0},{206,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{206,152}}</string>
				<key>sourceSize</key>
				<string>{206,152}</string>
			</dict>

			<key>fx_poof_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,1100},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,880},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,660},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,440},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,220},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,0},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1772},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1552},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1772},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_poof_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1552},{274,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,214}}</string>
				<key>sourceSize</key>
				<string>{274,214}</string>
			</dict>

			<key>fx_successfulPull_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1552},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,776},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,388},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,0},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1164},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1164},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

			<key>fx_successfulPull_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{415,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{415,382}}</string>
				<key>sourceSize</key>
				<string>{415,382}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>