<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_blossomOrb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1023},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>fx_blueAura_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1515},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1515},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1656},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,282},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,423},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,141},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_blueAura_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,1656},{143,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,135}}</string>
				<key>sourceSize</key>
				<string>{143,135}</string>
			</dict>

			<key>fx_bubblesOrb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1410},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>fx_buttercupOrb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1835},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>

			<key>fx_clawSlash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,1728},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_clawSlash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,318},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_clawSlash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,0},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_clawSlash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,705},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_clawSlash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{994,1410},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_clawSlash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,636},{114,312}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,312}}</string>
				<key>sourceSize</key>
				<string>{114,312}</string>
			</dict>

			<key>fx_explosion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1693},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1764},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1938},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1622},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1938},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1551},{129,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,65}}</string>
				<key>sourceSize</key>
				<string>{129,65}</string>
			</dict>

			<key>fx_greenAura_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,564},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,846},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1656},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1515},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1128},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,705},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1797},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_greenAura_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,987},{141,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,135}}</string>
				<key>sourceSize</key>
				<string>{141,135}</string>
			</dict>

			<key>fx_laser_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1621},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_laser_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1439},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_laser_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1257},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_laser_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1075},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_laser_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,893},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_laser_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,711},{397,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{397,176}}</string>
				<key>sourceSize</key>
				<string>{397,176}</string>
			</dict>

			<key>fx_missile_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,79},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,474},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,237},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_missile_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,316},{684,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{684,73}}</string>
				<key>sourceSize</key>
				<string>{684,73}</string>
			</dict>

			<key>fx_pinkAura_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,423},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1410},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,141},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,282},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,1269},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,564},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1269},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_pinkAura_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,0},{140,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,135}}</string>
				<key>sourceSize</key>
				<string>{140,135}</string>
			</dict>

			<key>fx_stapler_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,2004},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_stapler_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,2004},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_stapler_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,2026},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_stapler_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,2026},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_stapler_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2026},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_stapler_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2004},{62,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,16}}</string>
				<key>sourceSize</key>
				<string>{62,16}</string>
			</dict>

			<key>fx_trailBlue_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1937},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailBlue_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1314},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailBlue_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1247},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailBlue_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1803},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailBlue_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1870},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailBlue_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1803},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1870},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1937},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,711},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,778},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,912},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailGreen_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,979},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,845},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1113},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1180},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1046},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1448},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

			<key>fx_trailPink_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1381},{357,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,61}}</string>
				<key>sourceSize</key>
				<string>{357,61}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>