<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_blossom0.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,801},{62,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,79}}</string>
				<key>sourceSize</key>
				<string>{62,79}</string>
			</dict>

			<key>gobj_blossom1.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,907},{37,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,75}}</string>
				<key>sourceSize</key>
				<string>{37,75}</string>
			</dict>

			<key>gobj_bubbles0.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,801},{76,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,86}}</string>
				<key>sourceSize</key>
				<string>{76,86}</string>
			</dict>

			<key>gobj_bubbles1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,921},{97,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,40}}</string>
				<key>sourceSize</key>
				<string>{97,40}</string>
			</dict>

			<key>gobj_buttercup0.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,893},{73,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,77}}</string>
				<key>sourceSize</key>
				<string>{73,77}</string>
			</dict>

			<key>gobj_buttercup1.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,893},{75,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,75}}</string>
				<key>sourceSize</key>
				<string>{75,75}</string>
			</dict>

			<key>gobj_introBlossom_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{440,795}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{440,795}}</string>
				<key>sourceSize</key>
				<string>{440,795}</string>
			</dict>

			<key>gobj_introBubbles_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{441,795}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,795}}</string>
				<key>sourceSize</key>
				<string>{441,795}</string>
			</dict>

			<key>gobj_introButtercup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,0},{440,795}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{440,795}}</string>
				<key>sourceSize</key>
				<string>{440,795}</string>
			</dict>

			<key>gobj_large0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,326},{293,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{293,333}}</string>
				<key>sourceSize</key>
				<string>{293,333}</string>
			</dict>

			<key>gobj_large1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,462},{78,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,307}}</string>
				<key>sourceSize</key>
				<string>{78,307}</string>
			</dict>

			<key>gobj_large2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,0},{353,320}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{353,320}}</string>
				<key>sourceSize</key>
				<string>{353,320}</string>
			</dict>

			<key>gobj_large3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1339,665},{275,331}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,331}}</string>
				<key>sourceSize</key>
				<string>{275,331}</string>
			</dict>

			<key>gobj_medium0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,326},{164,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,222}}</string>
				<key>sourceSize</key>
				<string>{164,222}</string>
			</dict>

			<key>gobj_medium1.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,801},{100,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,212}}</string>
				<key>sourceSize</key>
				<string>{100,212}</string>
			</dict>

			<key>gobj_medium2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,665},{221,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,222}}</string>
				<key>sourceSize</key>
				<string>{221,222}</string>
			</dict>

			<key>gobj_medium3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1698,0},{125,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,225}}</string>
				<key>sourceSize</key>
				<string>{125,225}</string>
			</dict>

			<key>gobj_medium4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1808,231},{95,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,225}}</string>
				<key>sourceSize</key>
				<string>{95,225}</string>
			</dict>

			<key>gobj_small0.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,801},{69,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,100}}</string>
				<key>sourceSize</key>
				<string>{69,100}</string>
			</dict>

			<key>gobj_small1.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,801},{54,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,113}}</string>
				<key>sourceSize</key>
				<string>{54,113}</string>
			</dict>

			<key>gobj_small2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,801},{59,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,119}}</string>
				<key>sourceSize</key>
				<string>{59,119}</string>
			</dict>

			<key>gobj_small3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,801},{119,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,114}}</string>
				<key>sourceSize</key>
				<string>{119,114}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>