<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui__bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{863,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{863,75}}</string>
				<key>sourceSize</key>
				<string>{863,75}</string>
			</dict>

			<key>ui__sirenNormal.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,749},{82,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,76}}</string>
				<key>sourceSize</key>
				<string>{82,76}</string>
			</dict>

			<key>ui_btnHowToPlayD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,614},{388,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,94}}</string>
				<key>sourceSize</key>
				<string>{388,94}</string>
			</dict>

			<key>ui_btnHowToPlayU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,714},{388,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,94}}</string>
				<key>sourceSize</key>
				<string>{388,94}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,485},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlayAgainD.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,235},{212,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,148}}</string>
				<key>sourceSize</key>
				<string>{212,148}</string>
			</dict>

			<key>ui_btnPlayAgainU.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,81},{212,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{212,148}}</string>
				<key>sourceSize</key>
				<string>{212,148}</string>
			</dict>

			<key>ui_btnPlayD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,914},{388,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,94}}</string>
				<key>sourceSize</key>
				<string>{388,94}</string>
			</dict>

			<key>ui_btnPlayU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,814},{388,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{388,94}}</string>
				<key>sourceSize</key>
				<string>{388,94}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,941},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_heartFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,816},{34,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,31}}</string>
				<key>sourceSize</key>
				<string>{34,31}</string>
			</dict>

			<key>ui_mojoHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,749},{47,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,61}}</string>
				<key>sourceSize</key>
				<string>{47,61}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,389},{208,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,159}}</string>
				<key>sourceSize</key>
				<string>{208,159}</string>
			</dict>

			<key>ui_ppgHead.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,614},{127,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,48}}</string>
				<key>sourceSize</key>
				<string>{127,48}</string>
			</dict>

			<key>ui_preGameBubble.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,81},{665,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{665,444}}</string>
				<key>sourceSize</key>
				<string>{665,444}</string>
			</dict>

			<key>ui_preGameMayor.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,591},{398,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{398,412}}</string>
				<key>sourceSize</key>
				<string>{398,412}</string>
			</dict>

			<key>ui_progressFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{530,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{530,17}}</string>
				<key>sourceSize</key>
				<string>{530,17}</string>
			</dict>

			<key>ui_runningFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,561},{593,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{593,24}}</string>
				<key>sourceSize</key>
				<string>{593,24}</string>
			</dict>

			<key>ui_sirenBlossom.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,831},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,75}}</string>
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>

			<key>ui_sirenBlossom_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,583},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBlossom_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1201,333},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBlossom_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,789},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBlossom_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,181},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBlossom_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,0},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBubbles.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,912},{82,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,75}}</string>
				<key>sourceSize</key>
				<string>{82,75}</string>
			</dict>

			<key>ui_sirenBubbles_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,485},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBubbles_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1256,485},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBubbles_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,152},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBubbles_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,29},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenBubbles_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,389},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenButtercup.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,668},{83,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,75}}</string>
				<key>sourceSize</key>
				<string>{83,75}</string>
			</dict>

			<key>ui_sirenButtercup_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,637},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenButtercup_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,735},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenButtercup_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,181},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenButtercup_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,29},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_sirenButtercup_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1043,333},{152,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,146}}</string>
				<key>sourceSize</key>
				<string>{152,146}</string>
			</dict>

			<key>ui_stkBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,531},{594,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{594,24}}</string>
				<key>sourceSize</key>
				<string>{594,24}</string>
			</dict>

			<key>ui_stkBlossomFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,554},{198,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,23}}</string>
				<key>sourceSize</key>
				<string>{198,23}</string>
			</dict>

			<key>ui_stkBubblesFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{599,561},{199,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{199,23}}</string>
				<key>sourceSize</key>
				<string>{199,23}</string>
			</dict>

			<key>ui_stkButtercupFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,0},{198,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,23}}</string>
				<key>sourceSize</key>
				<string>{198,23}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>