/* Webfont: LubalinGraphITCTurnerAra-Bd */@font-face {
    font-family: 'LubalinGraphITCTurnerAra-Bd';
    src: url('../fonts/LubalinGraphITCTurnerAra-Bd.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LubalinGraphITCTurnerAra-Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LubalinGraphITCTurnerAra-Bd.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LubalinGraphITCTurnerAra-Bd.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LubalinGraphITCTurnerAra-Bd.svg#LubalinGraphITCTurnerAra-Bd') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

