<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_docShake_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{8,8},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{8,8},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{257,379},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{257,379},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{255,359}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{289,8},{255,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{257,379},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{257,379},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{255,359}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{554,8},{255,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{8,379},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docWalk_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{506,379},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docWalk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{506,379},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docWalk_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{506,379},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docWalk_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{271,361}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{506,379},{271,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_doc_2.png</string>
            <key>size</key>
            <string>{817,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7980048e19d15a407d2711f6a5e3d4:5ec3d50917c1a9910e897e8bf76eac07:b0effc6d677b6d222272d0ef069c8c45$</string>
            <key>textureFileName</key>
            <string>anim_doc_2.png</string>
        </dict>
    </dict>
</plist>
