<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_glassLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,552},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,552},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glassLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,368},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,736},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_glass_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,178}}</string>
				<key>sourceSize</key>
				<string>{223,178}</string>
			</dict>

			<key>anim_oldLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,723},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,723},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,736},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,736},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_oldLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,723},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{871,723},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,241},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,0},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,736},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,736},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_old_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,482},{208,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,235}}</string>
				<key>sourceSize</key>
				<string>{208,235}</string>
			</dict>

			<key>anim_umbLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,646},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1416,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,646},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1297,646},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umbLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,0},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1191,564},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,564},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,564},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{992,241},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

			<key>anim_umb_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,323},{100,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,317}}</string>
				<key>sourceSize</key>
				<string>{100,317}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_people.png</string>
			</dict>
		</dict>
</plist>