<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_ballLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,644},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,805},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,322},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1127},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1288},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1288},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ballLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_ball_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,161},{230,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,155}}</string>
				<key>sourceSize</key>
				<string>{230,155}</string>
			</dict>

			<key>anim_birdLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1621},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1360},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,261},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,261},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,261},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1621},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1621},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1621},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1360},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,783},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,783},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1044},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1044},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,522},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1566},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_birdLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1566},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1305},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1305},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,0},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1305},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_bird_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1305},{167,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,255}}</string>
				<key>sourceSize</key>
				<string>{167,255}</string>
			</dict>

			<key>anim_botLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,476},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,627},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,476},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,778},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,778},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1882},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1882},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,778},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,778},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_botLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,476},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_bot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1882},{127,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,145}}</string>
				<key>sourceSize</key>
				<string>{127,145}</string>
			</dict>

			<key>anim_catLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1088},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1088},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,816},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1449},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1449},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_catLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,272},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1721},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_cat_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,544},{168,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{168,266}}</string>
				<key>sourceSize</key>
				<string>{168,266}</string>
			</dict>

			<key>anim_hydLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,929},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,929},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,929},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,0},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hydLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1133},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_hyd_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,204},{125,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,198}}</string>
				<key>sourceSize</key>
				<string>{125,198}</string>
			</dict>

			<key>anim_mailLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1712},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,760},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,522},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1712},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1712},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,522},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,0},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,998},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,760},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1474},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1236},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,1236},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,238},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1474},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mailLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,998},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_mail_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1236},{145,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,232}}</string>
				<key>sourceSize</key>
				<string>{145,232}</string>
			</dict>

			<key>anim_trashLam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1757},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1757},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1477},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1477},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trashLam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1617},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

			<key>anim_trash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{996,1337},{117,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,134}}</string>
				<key>sourceSize</key>
				<string>{117,134}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_objects.png</string>
			</dict>
		</dict>
</plist>