<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_docInsp_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{288,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{304,332},{288,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{288,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{304,332},{288,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{288,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{304,332},{288,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{286,316}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,332},{286,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{286,316}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,332},{286,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{284,314}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{664,8},{284,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{284,314}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{664,8},{284,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-1}</string>
                <key>spriteSize</key>
                <string>{284,314}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{664,8},{284,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{286,316}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,332},{286,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-1}</string>
                <key>spriteSize</key>
                <string>{286,316}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,332},{286,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docInsp_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-1}</string>
                <key>spriteSize</key>
                <string>{288,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{304,332},{288,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docShake_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-6}</string>
                <key>spriteSize</key>
                <string>{239,353}</string>
                <key>spriteSourceSize</key>
                <string>{275,371}</string>
                <key>textureRect</key>
                <string>{{604,660},{239,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{290,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{602,332},{290,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{290,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{602,332},{290,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{290,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,660},{290,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{344,8},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,1}</string>
                <key>spriteSize</key>
                <string>{310,310}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{344,8},{310,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{326,308}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,8},{326,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{326,308}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,8},{326,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{326,308}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,8},{326,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{286,326}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{308,660},{286,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{286,326}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{308,660},{286,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim_docSpot_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{290,318}</string>
                <key>spriteSourceSize</key>
                <string>{340,342}</string>
                <key>textureRect</key>
                <string>{{8,660},{290,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>anim_doc_0.png</string>
            <key>size</key>
            <string>{956,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7980048e19d15a407d2711f6a5e3d4:5ec3d50917c1a9910e897e8bf76eac07:b0effc6d677b6d222272d0ef069c8c45$</string>
            <key>textureFileName</key>
            <string>anim_doc_0.png</string>
        </dict>
    </dict>
</plist>
