<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dressup_bg.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,560}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>dressup_bg_2.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,560}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>dressup_bg_3.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,560}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>dressup_button_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,950},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dressup_button_environments.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,940},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>dressup_button_props.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,940},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,71}</string>
            </dict>
            <key>dressup_category_dress.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,934},{71,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,88}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,934},{71,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,88}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_headwear.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,933},{71,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,88}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,940},{55,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,75}}</string>
                <key>sourceSize</key>
                <string>{55,75}</string>
            </dict>
            <key>dressup_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,564},{402,452}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,452}}</string>
                <key>sourceSize</key>
                <string>{402,452}</string>
            </dict>
            <key>elena_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,564},{301,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,238}}</string>
                <key>sourceSize</key>
                <string>{301,238}</string>
            </dict>
            <key>flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{49,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,457}}</string>
                <key>sourceSize</key>
                <string>{51,459}</string>
            </dict>
            <key>jaquin_statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,804},{74,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,127}}</string>
                <key>sourceSize</key>
                <string>{76,129}</string>
            </dict>
            <key>model_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,804},{121,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,128}}</string>
                <key>sourceSize</key>
                <string>{123,130}</string>
            </dict>
            <key>vase_large_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,564},{234,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{234,374}}</string>
                <key>sourceSize</key>
                <string>{236,376}</string>
            </dict>
            <key>vase_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,804},{106,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,144}}</string>
                <key>sourceSize</key>
                <string>{108,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dress_up_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0d94664195ba02c57ff0f97e720ed2:632378ecb3bad6b73df7ad672d26772a:77de191a8ef48430970d95a8cba2761c$</string>
            <key>textureFileName</key>
            <string>dress_up_0.png</string>
        </dict>
    </dict>
</plist>
