<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{222,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,108}}</string>
                <key>sourceSize</key>
                <string>{224,110}</string>
            </dict>
            <key>dressup_button_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dressup_button_editor.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,66},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dressup_button_environment.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,66},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dressup_button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,533},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>dressup_button_next_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,533},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>dressup_button_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,130},{101,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,62}}</string>
                <key>sourceSize</key>
                <string>{101,62}</string>
            </dict>
            <key>dressup_button_previous.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,582},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>dressup_button_previous_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,582},{112,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,47}}</string>
                <key>sourceSize</key>
                <string>{112,47}</string>
            </dict>
            <key>dressup_button_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,890},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>dressup_button_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,826},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>dressup_button_unlocks.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,469},{112,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,62}}</string>
                <key>sourceSize</key>
                <string>{112,62}</string>
            </dict>
            <key>dressup_category_dress_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,290},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_hair_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,386},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_headwear_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,544},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_jewelry.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,736},{71,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,88}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_jewelry_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,624},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,907},{71,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{71,88}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_category_shoes_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,640},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>dressup_elena_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{301,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,50}}</string>
                <key>sourceSize</key>
                <string>{301,50}</string>
            </dict>
            <key>dressup_panel_props.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,234}}</string>
                <key>sourceSize</key>
                <string>{400,234}</string>
            </dict>
            <key>edit_delete.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,826},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>feather_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,383},{90,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,54}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>feather_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,624},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,54}}</string>
                <key>sourceSize</key>
                <string>{46,56}</string>
            </dict>
            <key>feather_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,400},{31,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,16}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
            <key>guitar.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{100,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,273}}</string>
                <key>sourceSize</key>
                <string>{102,275}</string>
            </dict>
            <key>journal.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,680},{142,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{142,61}}</string>
                <key>sourceSize</key>
                <string>{144,63}</string>
            </dict>
            <key>magic_drum.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{166,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{166,165}}</string>
                <key>sourceSize</key>
                <string>{168,167}</string>
            </dict>
            <key>pillow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,720},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,60}}</string>
                <key>sourceSize</key>
                <string>{77,62}</string>
            </dict>
            <key>pillow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,482},{79,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,60}}</string>
                <key>sourceSize</key>
                <string>{81,62}</string>
            </dict>
            <key>scepter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{137,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{137,153}}</string>
                <key>sourceSize</key>
                <string>{139,155}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{180,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{180,183}}</string>
                <key>sourceSize</key>
                <string>{182,185}</string>
            </dict>
            <key>vase_large_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,238},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,143}}</string>
                <key>sourceSize</key>
                <string>{99,145}</string>
            </dict>
            <key>vase_large_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,439},{82,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,183}}</string>
                <key>sourceSize</key>
                <string>{84,185}</string>
            </dict>
            <key>vase_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,92}}</string>
                <key>sourceSize</key>
                <string>{68,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dress_up_1.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0d94664195ba02c57ff0f97e720ed2:632378ecb3bad6b73df7ad672d26772a:77de191a8ef48430970d95a8cba2761c$</string>
            <key>textureFileName</key>
            <string>dress_up_1.png</string>
        </dict>
    </dict>
</plist>
