
@font-face {
  font-family: 'GarageGothic-Bold';
  src: url('GarageGothic-Bold.eot?#iefix') format('embedded-opentype'),  url('GarageGothic-Bold.otf')  format('opentype'),
	     url('GarageGothic-Bold.woff') format('woff'), url('GarageGothic-Bold.ttf')  format('truetype'), url('GarageGothic-Bold.svg#GarageGothic-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}




@font-face{
font-family:"Cervo W01 Medium";
src:url("0901b26e-5beb-41b9-ab6b-47dd6078dfc8.eot?#iefix");
src:url("0901b26e-5beb-41b9-ab6b-47dd6078dfc8.eot?#iefix") format("eot"),url("4a49c9d3-eb5e-4a6a-be64-db23173343e1.woff2") format("woff2"),url("5577bcf0-20e0-473d-9315-29f3bebf47e1.woff") format("woff"),url("b4e1ca8b-2223-4b21-8dfe-99e984de1615.ttf") format("truetype"),url("a0a267c6-00d0-4a4d-8f9d-c46790abc94b.svg#a0a267c6-00d0-4a4d-8f9d-c46790abc94b") format("svg");
}