<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_bugsHappy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{155,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{678,406},{155,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{147,189}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{8,406},{147,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,3}</string>
                <key>spriteSize</key>
                <string>{155,181}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{813,207},{155,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,5}</string>
                <key>spriteSize</key>
                <string>{147,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{662,8},{147,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{145,189}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{658,207},{145,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{143,189}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{181,8},{143,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,7}</string>
                <key>spriteSize</key>
                <string>{145,189}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{503,207},{145,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsHappy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,6}</string>
                <key>spriteSize</key>
                <string>{145,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{334,8},{145,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{163,141}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{8,8},{163,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{187,175}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{523,605},{187,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-14}</string>
                <key>spriteSize</key>
                <string>{217,213}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{720,605},{217,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,15}</string>
                <key>spriteSize</key>
                <string>{157,199}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{356,605},{157,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,9}</string>
                <key>spriteSize</key>
                <string>{155,189}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{8,605},{155,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{153,181}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{181,207},{153,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,6}</string>
                <key>spriteSize</key>
                <string>{153,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{165,406},{153,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsIn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,7}</string>
                <key>spriteSize</key>
                <string>{155,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{678,406},{155,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,8}</string>
                <key>spriteSize</key>
                <string>{155,187}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{843,406},{155,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{149,185}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{344,207},{149,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,5}</string>
                <key>spriteSize</key>
                <string>{173,181}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{173,605},{173,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,1}</string>
                <key>spriteSize</key>
                <string>{165,173}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{328,406},{165,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{163,171}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{819,8},{163,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-1}</string>
                <key>spriteSize</key>
                <string>{163,169}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{489,8},{163,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{163,171}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{8,207},{163,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_bugsSad_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,1}</string>
                <key>spriteSize</key>
                <string>{165,173}</string>
                <key>spriteSourceSize</key>
                <string>{225,241}</string>
                <key>textureRect</key>
                <string>{{503,406},{165,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_bugs.png</string>
            <key>size</key>
            <string>{1006,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a59dba37a3878824572215c58397ec3:c036576b3bc7936c03cc6d4965c0c542:6af4a4e09db78f302b69b0a850acfb27$</string>
            <key>textureFileName</key>
            <string>char_bugs.png</string>
        </dict>
    </dict>
</plist>
