<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_samHappy_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{228,155}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{8,171},{228,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,15}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{722,338},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{8,507},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{228,161}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{484,507},{228,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{228,161}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{722,507},{228,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{228,157}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{8,338},{228,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,20}</string>
                <key>spriteSize</key>
                <string>{228,153}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{658,8},{228,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samHappy_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{228,161}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{8,678},{228,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{162,141}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{8,8},{162,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{228,151}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{180,8},{228,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{230,153}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{418,8},{230,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{228,157}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{246,338},{228,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{228,157}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{484,338},{228,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samIn_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{228,157}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{722,171},{228,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{228,155}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{484,171},{228,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{228,155}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{246,171},{228,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,17}</string>
                <key>spriteSize</key>
                <string>{228,159}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{246,507},{228,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,15}</string>
                <key>spriteSize</key>
                <string>{230,165}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{246,678},{230,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{228,167}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{486,678},{228,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_samSad_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{228,167}</string>
                <key>spriteSourceSize</key>
                <string>{234,215}</string>
                <key>textureRect</key>
                <string>{{724,678},{228,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_sam_0.png</string>
            <key>size</key>
            <string>{960,853}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78f43e4ec8b8393b92a50d3726652566:74e9de83d79d1bd31edb7ebb0654a553:fb33118dcd2b0ab232d2ac90f1b9fb74$</string>
            <key>textureFileName</key>
            <string>char_sam_0.png</string>
        </dict>
    </dict>
</plist>
