<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>endScreen_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,951},{482,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{482,281}}</string>
				<key>sourceSize</key>
				<string>{482,281}</string>
			</dict>

			<key>endScreen_p1.png</key>
			<dict>
				<key>frame</key>
				<string>{{490,491},{484,454}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{484,454}}</string>
				<key>sourceSize</key>
				<string>{484,454}</string>
			</dict>

			<key>endScreen_p2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{484,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{484,456}}</string>
				<key>sourceSize</key>
				<string>{484,456}</string>
			</dict>

			<key>endScreen_results.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{667,485}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{667,485}}</string>
				<key>sourceSize</key>
				<string>{667,485}</string>
			</dict>

			<key>endScreen_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,0},{481,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{481,281}}</string>
				<key>sourceSize</key>
				<string>{481,281}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1160,1238}</string>
			<key>textureFileName</key>
			<string>endScreen.png</string>
			</dict>
		</dict>
</plist>