<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gobj_card1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,397}</string>
                <key>spriteSourceSize</key>
                <string>{274,397}</string>
                <key>textureRect</key>
                <string>{{1094,396},{274,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,396}</string>
                <key>spriteSourceSize</key>
                <string>{273,396}</string>
                <key>textureRect</key>
                <string>{{1368,0},{273,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,396}</string>
                <key>spriteSourceSize</key>
                <string>{274,396}</string>
                <key>textureRect</key>
                <string>{{1094,0},{274,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,396}</string>
                <key>spriteSourceSize</key>
                <string>{273,396}</string>
                <key>textureRect</key>
                <string>{{274,0},{273,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,397}</string>
                <key>spriteSourceSize</key>
                <string>{273,397}</string>
                <key>textureRect</key>
                <string>{{0,793},{273,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,397}</string>
                <key>spriteSourceSize</key>
                <string>{273,397}</string>
                <key>textureRect</key>
                <string>{{1368,396},{273,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,397}</string>
                <key>spriteSourceSize</key>
                <string>{273,397}</string>
                <key>textureRect</key>
                <string>{{273,793},{273,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,397}</string>
                <key>spriteSourceSize</key>
                <string>{274,397}</string>
                <key>textureRect</key>
                <string>{{546,793},{274,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,397}</string>
                <key>spriteSourceSize</key>
                <string>{273,397}</string>
                <key>textureRect</key>
                <string>{{821,396},{273,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,397}</string>
                <key>spriteSourceSize</key>
                <string>{274,397}</string>
                <key>textureRect</key>
                <string>{{0,396},{274,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,397}</string>
                <key>spriteSourceSize</key>
                <string>{274,397}</string>
                <key>textureRect</key>
                <string>{{274,396},{274,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,397}</string>
                <key>spriteSourceSize</key>
                <string>{273,397}</string>
                <key>textureRect</key>
                <string>{{548,396},{273,397}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,396}</string>
                <key>spriteSourceSize</key>
                <string>{274,396}</string>
                <key>textureRect</key>
                <string>{{0,0},{274,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,396}</string>
                <key>spriteSourceSize</key>
                <string>{273,396}</string>
                <key>textureRect</key>
                <string>{{547,0},{273,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_card9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,396}</string>
                <key>spriteSourceSize</key>
                <string>{274,396}</string>
                <key>textureRect</key>
                <string>{{820,0},{274,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_cardBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,402}</string>
                <key>spriteSourceSize</key>
                <string>{278,402}</string>
                <key>textureRect</key>
                <string>{{820,793},{278,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gobj_cardShadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,402}</string>
                <key>spriteSourceSize</key>
                <string>{279,402}</string>
                <key>textureRect</key>
                <string>{{1098,793},{279,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gobj.png</string>
            <key>size</key>
            <string>{1641,1195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ca777e79f1ca983a41df0dd1be29071:8b45e8591c14ce4595fa9282ef38e086:fc86278e5045194fe7638df41a1aa4f3$</string>
            <key>textureFileName</key>
            <string>gobj.png</string>
        </dict>
    </dict>
</plist>
