<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,215},{532,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{532,32}}</string>
				<key>sourceSize</key>
				<string>{532,32}</string>
			</dict>

			<key>ui_bar_Fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{521,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{521,22}}</string>
				<key>sourceSize</key>
				<string>{521,22}</string>
			</dict>

			<key>ui_btnHowToPlayD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,377},{324,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,89}}</string>
				<key>sourceSize</key>
				<string>{324,89}</string>
			</dict>

			<key>ui_btnHowToPlayU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,568},{324,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,94}}</string>
				<key>sourceSize</key>
				<string>{324,94}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,679},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnNextLevelD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{324,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,90}}</string>
				<key>sourceSize</key>
				<string>{324,90}</string>
			</dict>

			<key>ui_btnNextLevelU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,768},{324,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,94}}</string>
				<key>sourceSize</key>
				<string>{324,94}</string>
			</dict>

			<key>ui_btnPlayAgainD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,868},{324,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,90}}</string>
				<key>sourceSize</key>
				<string>{324,90}</string>
			</dict>

			<key>ui_btnPlayAgainU.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,668},{324,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,94}}</string>
				<key>sourceSize</key>
				<string>{324,94}</string>
			</dict>

			<key>ui_btnPlayD.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,472},{324,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,90}}</string>
				<key>sourceSize</key>
				<string>{324,90}</string>
			</dict>

			<key>ui_btnPlayU.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,281},{324,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{324,94}}</string>
				<key>sourceSize</key>
				<string>{324,94}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,381},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btn_Shoot.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,814},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,129}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>

			<key>ui_btn_Shoot_D .png</key>
			<dict>
				<key>frame</key>
				<string>{{330,679},{129,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,129}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>

			<key>ui_btn_levelSelect_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,780},{86,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,91}}</string>
				<key>sourceSize</key>
				<string>{86,91}</string>
			</dict>

			<key>ui_btn_levelSelect_next_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,876},{86,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,93}}</string>
				<key>sourceSize</key>
				<string>{86,93}</string>
			</dict>

			<key>ui_btn_levelSelect_prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,780},{86,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,90}}</string>
				<key>sourceSize</key>
				<string>{86,90}</string>
			</dict>

			<key>ui_btn_levelSelect_prev_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,877},{86,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,92}}</string>
				<key>sourceSize</key>
				<string>{86,92}</string>
			</dict>

			<key>ui_btn_lvl.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,158},{83,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,73}}</string>
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>

			<key>ui_btn_lvlCurrent.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,79},{83,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,73}}</string>
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>

			<key>ui_btn_lvlCurrentStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,679},{124,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,95}}</string>
				<key>sourceSize</key>
				<string>{124,95}</string>
			</dict>

			<key>ui_btn_lvlSelect.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,949},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,58}}</string>
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>

			<key>ui_btn_lvlSelect_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,949},{57,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,58}}</string>
				<key>sourceSize</key>
				<string>{57,58}</string>
			</dict>

			<key>ui_btn_lvlcircle.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,0},{83,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,73}}</string>
				<key>sourceSize</key>
				<string>{83,73}</string>
			</dict>

			<key>ui_charSel_beastBoy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{558,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{558,66}}</string>
				<key>sourceSize</key>
				<string>{558,66}</string>
			</dict>

			<key>ui_charSel_cyborg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,143},{558,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{558,66}}</string>
				<key>sourceSize</key>
				<string>{558,66}</string>
			</dict>

			<key>ui_charSel_raven.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,72},{558,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{558,65}}</string>
				<key>sourceSize</key>
				<string>{558,65}</string>
			</dict>

			<key>ui_go.png</key>
			<dict>
				<key>frame</key>
				<string>{{330,381},{301,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{301,292}}</string>
				<key>sourceSize</key>
				<string>{301,292}</string>
			</dict>

			<key>ui_level.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,964},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>

			<key>ui_lvlBBoy.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,964},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,37}}</string>
				<key>sourceSize</key>
				<string>{44,37}</string>
			</dict>

			<key>ui_lvlCyborg.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,964},{38,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,37}}</string>
				<key>sourceSize</key>
				<string>{38,37}</string>
			</dict>

			<key>ui_lvlRaven.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,964},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,38}}</string>
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>

			<key>ui_lvlStar.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,964},{22,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,21}}</string>
				<key>sourceSize</key>
				<string>{22,21}</string>
			</dict>

			<key>ui_star0.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,991},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>

			<key>ui_star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,991},{19,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,18}}</string>
				<key>sourceSize</key>
				<string>{19,18}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>