<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_scoobyDooHideIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHideIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooHide_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_scoobyDoo1.png</string>
			</dict>
		</dict>
</plist>