<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_scoobyDooEat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1680,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1402,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1536},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooEat_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,1024},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooFear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1042},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,521},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1042},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,521},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1042},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,521},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

			<key>anim_scoobyDooFear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1042},{280,520}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,520}}</string>
				<key>sourceSize</key>
				<string>{280,520}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_scoobyDoo0.png</string>
			</dict>
		</dict>
</plist>