<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_pirateIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1680},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1344},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,336},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,0},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1008},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,672},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,336},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,0},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1680},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1344},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1008},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,672},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{843,1680},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1344},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,336},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1008},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,672},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,336},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,0},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1680},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1344},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1008},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

			<key>anim_pirateThrow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,672},{280,335}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,335}}</string>
				<key>sourceSize</key>
				<string>{280,335}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_pirate.png</string>
			</dict>
		</dict>
</plist>