<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_fxBarrel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,257},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxBarrel_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,514},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxBarrel_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,0},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxExclamation_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,808},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxExclamation_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,661},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxExclamation_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,514},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxExclamation_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,808},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxExclamation_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,514},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxExclamation_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1061,661},{105,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,146}}</string>
				<key>sourceSize</key>
				<string>{105,146}</string>
			</dict>

			<key>anim_fxHeart_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,771},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxHeart_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,720},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxHeart_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,771},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxHeart_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,771},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxHeart_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,514},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxHeart_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,771},{190,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,205}}</string>
				<key>sourceSize</key>
				<string>{190,205}</string>
			</dict>

			<key>anim_fxSmoke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,257},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxSmoke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,0},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxSmoke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,514},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxSmoke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

			<key>anim_fxSmoke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{376,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,256}}</string>
				<key>sourceSize</key>
				<string>{376,256}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_fx.png</string>
			</dict>
		</dict>
</plist>