<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_scoobyDooIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,512},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

			<key>anim_scoobyDooIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,511}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,511}}</string>
				<key>sourceSize</key>
				<string>{277,511}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim_scoobyDooIdle.png</string>
			</dict>
		</dict>
</plist>