<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_shaggyEat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1053,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyEat_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyFear_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1503},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,501},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,501},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,0},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,0},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,1002},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1503},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1002},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1503},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

			<key>anim_shaggyFear_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1002},{350,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,500}}</string>
				<key>sourceSize</key>
				<string>{350,500}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_shaggy0.png</string>
			</dict>
		</dict>
</plist>