<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_shaggyHideIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHideIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,471},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,0},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,1413},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{556,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

			<key>anim_shaggyHide_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1112,942},{277,470}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{277,470}}</string>
				<key>sourceSize</key>
				<string>{277,470}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_shaggy1.png</string>
			</dict>
		</dict>
</plist>