<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collider.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,461},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>collider_lv11_w1_horz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,190},{162,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{162,32}}</string>
				<key>sourceSize</key>
				<string>{162,32}</string>
			</dict>

			<key>collider_lv11_w1_horz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{97,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,33}}</string>
				<key>sourceSize</key>
				<string>{97,33}</string>
			</dict>

			<key>collider_lv11_w1_vert1.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,335},{33,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,32}}</string>
				<key>sourceSize</key>
				<string>{33,32}</string>
			</dict>

			<key>collider_lv11_w1_vert2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,266},{33,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,63}}</string>
				<key>sourceSize</key>
				<string>{33,63}</string>
			</dict>

			<key>collider_lv11_w6_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{94,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,32}}</string>
				<key>sourceSize</key>
				<string>{94,32}</string>
			</dict>

			<key>collider_lv11_w6_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,457},{33,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,27}}</string>
				<key>sourceSize</key>
				<string>{33,27}</string>
			</dict>

			<key>collider_lv1_w3_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,381},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>

			<key>collider_lv1_w3_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{216,38},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>collider_lv2_w1_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,381},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>

			<key>collider_lv2_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,461},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>collider_lv3_w1_horz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,419},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>collider_lv3_w1_horz2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{173,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,32}}</string>
				<key>sourceSize</key>
				<string>{173,32}</string>
			</dict>

			<key>collider_lv3_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,114},{33,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,174}}</string>
				<key>sourceSize</key>
				<string>{33,174}</string>
			</dict>

			<key>collider_lv6_w1_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>collider_lv6_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,294},{33,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,65}}</string>
				<key>sourceSize</key>
				<string>{33,65}</string>
			</dict>

			<key>collider_lv7_w1_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{319,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,32}}</string>
				<key>sourceSize</key>
				<string>{319,32}</string>
			</dict>

			<key>collider_lv7_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,419},{33,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,36}}</string>
				<key>sourceSize</key>
				<string>{33,36}</string>
			</dict>

			<key>collider_lv7_w5_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,38},{210,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,32}}</string>
				<key>sourceSize</key>
				<string>{210,32}</string>
			</dict>

			<key>collider_lv7_w5_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,365},{33,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,72}}</string>
				<key>sourceSize</key>
				<string>{33,72}</string>
			</dict>

			<key>collider_lv8_w1_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{101,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,32}}</string>
				<key>sourceSize</key>
				<string>{101,32}</string>
			</dict>

			<key>collider_lv8_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,304},{33,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,68}}</string>
				<key>sourceSize</key>
				<string>{33,68}</string>
			</dict>

			<key>collider_lv8_w3_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,419},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,32}}</string>
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>

			<key>collider_lv8_w3_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,304},{33,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,68}}</string>
				<key>sourceSize</key>
				<string>{33,68}</string>
			</dict>

			<key>collider_lv8_w5_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{170,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,32}}</string>
				<key>sourceSize</key>
				<string>{170,32}</string>
			</dict>

			<key>collider_lv8_w5_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,304},{33,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,68}}</string>
				<key>sourceSize</key>
				<string>{33,68}</string>
			</dict>

			<key>collider_lv9_w1_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,76},{192,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,32}}</string>
				<key>sourceSize</key>
				<string>{192,32}</string>
			</dict>

			<key>collider_lv9_w1_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,294},{33,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,65}}</string>
				<key>sourceSize</key>
				<string>{33,65}</string>
			</dict>

			<key>collider_lv9_w2_horz.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,32}}</string>
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>

			<key>collider_lv9_w2_vert.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,111},{32,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,128}}</string>
				<key>sourceSize</key>
				<string>{32,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>colliders.png</string>
			</dict>
		</dict>
</plist>