<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameScreen_grayWall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,217},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_grayWall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,179},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_grayWall3.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,976},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_grayWall4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,977},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>gameScreen_grayWall5.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,106},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>gameScreen_grayWall6.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,305},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_grayWall7.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,203},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>gameScreen_lv10w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,413},{33,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,162}}</string>
				<key>sourceSize</key>
				<string>{33,162}</string>
			</dict>

			<key>gameScreen_lv11w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,605},{226,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,160}}</string>
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>

			<key>gameScreen_lv11w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,605},{225,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,161}}</string>
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>

			<key>gameScreen_lv11w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,771},{226,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{226,160}}</string>
				<key>sourceSize</key>
				<string>{226,160}</string>
			</dict>

			<key>gameScreen_lv11w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,772},{225,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,161}}</string>
				<key>sourceSize</key>
				<string>{225,161}</string>
			</dict>

			<key>gameScreen_lv11w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,581},{32,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,97}}</string>
				<key>sourceSize</key>
				<string>{32,97}</string>
			</dict>

			<key>gameScreen_lv11w6.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,106},{94,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,91}}</string>
				<key>sourceSize</key>
				<string>{94,91}</string>
			</dict>

			<key>gameScreen_lv1w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,203},{32,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,96}}</string>
				<key>sourceSize</key>
				<string>{32,96}</string>
			</dict>

			<key>gameScreen_lv1w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,947},{96,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,32}}</string>
				<key>sourceSize</key>
				<string>{96,32}</string>
			</dict>

			<key>gameScreen_lv1w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,563},{64,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,99}}</string>
				<key>sourceSize</key>
				<string>{64,99}</string>
			</dict>

			<key>gameScreen_lv1w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,668},{64,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,99}}</string>
				<key>sourceSize</key>
				<string>{64,99}</string>
			</dict>

			<key>gameScreen_lv1w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,843},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_lv2w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,343},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_lv2w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,273},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_lv2w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,773},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_lv2w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,493},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_lv2w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,581},{32,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,179}}</string>
				<key>sourceSize</key>
				<string>{32,179}</string>
			</dict>

			<key>gameScreen_lv3w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{303,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,303}}</string>
				<key>sourceSize</key>
				<string>{303,303}</string>
			</dict>

			<key>gameScreen_lv4w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,509},{142,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,32}}</string>
				<key>sourceSize</key>
				<string>{142,32}</string>
			</dict>

			<key>gameScreen_lv4w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,975},{176,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,32}}</string>
				<key>sourceSize</key>
				<string>{176,32}</string>
			</dict>

			<key>gameScreen_lv5w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,985},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,32}}</string>
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>

			<key>gameScreen_lv5w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,547},{128,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,32}}</string>
				<key>sourceSize</key>
				<string>{128,32}</string>
			</dict>

			<key>gameScreen_lv5w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,975},{161,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,32}}</string>
				<key>sourceSize</key>
				<string>{161,32}</string>
			</dict>

			<key>gameScreen_lv6w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,250},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>gameScreen_lv6w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,406},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>gameScreen_lv6w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,106},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>gameScreen_lv6w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,841},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>gameScreen_lv7w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{319,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,68}}</string>
				<key>sourceSize</key>
				<string>{319,68}</string>
			</dict>

			<key>gameScreen_lv7w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,74},{319,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,68}}</string>
				<key>sourceSize</key>
				<string>{319,68}</string>
			</dict>

			<key>gameScreen_lv7w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,222},{319,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,68}}</string>
				<key>sourceSize</key>
				<string>{319,68}</string>
			</dict>

			<key>gameScreen_lv7w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{319,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,68}}</string>
				<key>sourceSize</key>
				<string>{319,68}</string>
			</dict>

			<key>gameScreen_lv7w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,296},{210,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,104}}</string>
				<key>sourceSize</key>
				<string>{210,104}</string>
			</dict>

			<key>gameScreen_lv8w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,841},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,100}}</string>
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>

			<key>gameScreen_lv8w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,0},{101,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,100}}</string>
				<key>sourceSize</key>
				<string>{101,100}</string>
			</dict>

			<key>gameScreen_lv8w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{679,0},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,100}}</string>
				<key>sourceSize</key>
				<string>{65,100}</string>
			</dict>

			<key>gameScreen_lv8w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{608,0},{65,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,100}}</string>
				<key>sourceSize</key>
				<string>{65,100}</string>
			</dict>

			<key>gameScreen_lv8w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,0},{170,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,100}}</string>
				<key>sourceSize</key>
				<string>{170,100}</string>
			</dict>

			<key>gameScreen_lv8w6.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,106},{170,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,100}}</string>
				<key>sourceSize</key>
				<string>{170,100}</string>
			</dict>

			<key>gameScreen_lv8w7.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,353},{64,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,32}}</string>
				<key>sourceSize</key>
				<string>{64,32}</string>
			</dict>

			<key>gameScreen_lv9w1.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,406},{192,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{192,97}}</string>
				<key>sourceSize</key>
				<string>{192,97}</string>
			</dict>

			<key>gameScreen_lv9w2.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,675},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>gameScreen_lv9w3.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,509},{160,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,160}}</string>
				<key>sourceSize</key>
				<string>{160,160}</string>
			</dict>

			<key>gameScreen_lv9w4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,937},{194,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,32}}</string>
				<key>sourceSize</key>
				<string>{194,32}</string>
			</dict>

			<key>gameScreen_lv9w5.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,250},{65,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,32}}</string>
				<key>sourceSize</key>
				<string>{65,32}</string>
			</dict>

			<key>gameScreen_lv9w6.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,144},{32,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,193}}</string>
				<key>sourceSize</key>
				<string>{32,193}</string>
			</dict>

			<key>gameScreen_lv9w7.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,760},{32,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,96}}</string>
				<key>sourceSize</key>
				<string>{32,96}</string>
			</dict>

			<key>gameScreen_orangeWall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,938},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_orangeWall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,305},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_orangeWall3.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,722},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_orangeWall4.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,250},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>gameScreen_orangeWall5.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,913},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>gameScreen_orangeWall6.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,913},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_orangeWall7.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,353},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>gameScreen_pinkWall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,986},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,209},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWall3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,773},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWall4.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,212},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>gameScreen_pinkWall5.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,951},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>gameScreen_pinkWall6.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,209},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWall7.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,944},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>gameScreen_pinkWall8.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,843},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>

			<key>gameScreen_pinkWallB1.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,900},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWallB2.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,343},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWallB3.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,862},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWallB4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,939},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>gameScreen_pinkWallB5.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>gameScreen_pinkWallB6.png</key>
			<dict>
				<key>frame</key>
				<string>{{742,106},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_pinkWallB7.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,423},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

			<key>gameScreen_whiteWall1.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,524},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_whiteWall2.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,486},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_whiteWall3.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,255},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_whiteWall4.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,212},{97,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,32}}</string>
				<key>sourceSize</key>
				<string>{97,32}</string>
			</dict>

			<key>gameScreen_whiteWall5.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,413},{32,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,67}}</string>
				<key>sourceSize</key>
				<string>{32,67}</string>
			</dict>

			<key>gameScreen_whiteWall6.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,684},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>gameScreen_whiteWall7.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,947},{65,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>sourceSize</key>
				<string>{65,64}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>gameScreen.png</string>
			</dict>
		</dict>
</plist>