<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_bush_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1273,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1273,73}}</string>
				<key>sourceSize</key>
				<string>{1273,73}</string>
			</dict>

			<key>gobj_cloth_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,851},{527,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{527,142}}</string>
				<key>sourceSize</key>
				<string>{527,142}</string>
			</dict>

			<key>gobj_cobweb_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1600},{78,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,111}}</string>
				<key>sourceSize</key>
				<string>{78,111}</string>
			</dict>

			<key>gobj_door_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1444},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,998},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,0},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,1416},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,970},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,998},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1132,78},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1444},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,851},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1297},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,78},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,524},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,970},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1416},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_door_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1228,524},{302,441}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{302,441}}</string>
				<key>sourceSize</key>
				<string>{302,441}</string>
			</dict>

			<key>gobj_eyes_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1987},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1987},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2001},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1987},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1987},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,2001},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1987},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,2001},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2029},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1973},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1973},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2015},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1973},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1973},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_eyes_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1973},{34,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,9}}</string>
				<key>sourceSize</key>
				<string>{34,9}</string>
			</dict>

			<key>gobj_lantern_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,1600},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,1480},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1412,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1242,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1157,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1862},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_lantern_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1620,1480},{80,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,115}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>

			<key>gobj_pillar_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,446},{108,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,512}}</string>
				<key>sourceSize</key>
				<string>{108,512}</string>
			</dict>

			<key>gobj_pillar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1780,1101},{58,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,650}}</string>
				<key>sourceSize</key>
				<string>{58,650}</string>
			</dict>

			<key>gobj_pillar_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,963},{108,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,512}}</string>
				<key>sourceSize</key>
				<string>{108,512}</string>
			</dict>

			<key>gobj_pillar_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,446},{58,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,650}}</string>
				<key>sourceSize</key>
				<string>{58,650}</string>
			</dict>

			<key>gobj_snack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,524},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,764},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1942},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1862},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1862},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,1942},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1890},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1535,1720},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1880},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1582,1800},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,684},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_snack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,604},{80,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,75}}</string>
				<key>sourceSize</key>
				<string>{80,75}</string>
			</dict>

			<key>gobj_stone_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1890},{141,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,111}}</string>
				<key>sourceSize</key>
				<string>{141,111}</string>
			</dict>

			<key>gobj_stone_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1743},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,111}}</string>
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>

			<key>gobj_stone_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1743},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,111}}</string>
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>

			<key>gobj_stone_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1890},{140,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,111}}</string>
				<key>sourceSize</key>
				<string>{140,111}</string>
			</dict>

			<key>gobj_torch_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,1716},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,851},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1705,1461},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,446},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,591},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,1316},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,1171},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1667,1861},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,881},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,736},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_torch_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1648,1026},{70,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,140}}</string>
				<key>sourceSize</key>
				<string>{70,140}</string>
			</dict>

			<key>gobj_vine_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,1862},{198,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,162}}</string>
				<key>sourceSize</key>
				<string>{198,162}</string>
			</dict>

			<key>gobj_vine_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1890},{176,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{176,78}}</string>
				<key>sourceSize</key>
				<string>{176,78}</string>
			</dict>

			<key>gobj_wall.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,78},{820,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{820,768}}</string>
				<key>sourceSize</key>
				<string>{820,768}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>