<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>end_game/endgame_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,505},{387,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,511}}</string>
                <key>sourceSize</key>
                <string>{387,511}</string>
            </dict>
            <key>end_game/endgame_gem.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,699},{56,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,81}}</string>
                <key>sourceSize</key>
                <string>{56,81}</string>
            </dict>
            <key>end_game/endgame_infobox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,509},{553,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,42}}</string>
                <key>sourceSize</key>
                <string>{553,42}</string>
            </dict>
            <key>end_game/endgame_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,793},{138,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,229}}</string>
                <key>sourceSize</key>
                <string>{138,229}</string>
            </dict>
            <key>end_game/endgame_meter_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{239,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{239,22}}</string>
                <key>sourceSize</key>
                <string>{259,42}</string>
            </dict>
            <key>end_game/endgame_meter_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,948},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>end_game/endgame_meter_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{259,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,42}}</string>
                <key>sourceSize</key>
                <string>{259,42}</string>
            </dict>
            <key>end_game/endgame_potion_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,505},{63,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,108}}</string>
                <key>sourceSize</key>
                <string>{63,108}</string>
            </dict>
            <key>end_game/endgame_reward_burst1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{511,505}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{511,505}}</string>
                <key>sourceSize</key>
                <string>{511,515}</string>
            </dict>
            <key>end_game/endgame_reward_burst2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{503,501}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{503,501}}</string>
                <key>sourceSize</key>
                <string>{511,515}</string>
            </dict>
            <key>end_game/endgame_reward_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{387,393}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,55},{387,393}}</string>
                <key>sourceSize</key>
                <string>{511,515}</string>
            </dict>
            <key>end_game/endgame_reward_thumb_frame_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,553},{130,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,238}}</string>
                <key>sourceSize</key>
                <string>{130,238}</string>
            </dict>
            <key>end_game/universal_ui_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,615},{46,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,82}}</string>
                <key>sourceSize</key>
                <string>{46,82}</string>
            </dict>
            <key>general/none.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,505},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>initial_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5792f5273aa0acd972fcefb41d64e671:574c1bdf106c84c1eaf8a5a8d1e0a0f1:f3d51b1ee0bb6dc0f78e572a680a218d$</string>
            <key>textureFileName</key>
            <string>initial_universal_0.png</string>
        </dict>
    </dict>
</plist>
