<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_cardSuccess_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,746},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1492},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,0},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1492},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1119},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,373},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1119},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,746},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,373},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,0},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1492},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1119},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,0},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

			<key>fx_cardSuccess_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,373},{364,363}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{364,363}}</string>
				<key>sourceSize</key>
				<string>{364,363}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>