<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_curtain.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{182,738}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,738}}</string>
				<key>sourceSize</key>
				<string>{182,738}</string>
			</dict>

			<key>gobj_curtain_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{585,642}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{585,642}}</string>
				<key>sourceSize</key>
				<string>{585,642}</string>
			</dict>

			<key>gobj_mirror_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{203,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,704}}</string>
				<key>sourceSize</key>
				<string>{203,704}</string>
			</dict>

			<key>gobj_mirror_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{988,0},{111,704}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,704}}</string>
				<key>sourceSize</key>
				<string>{111,704}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>