/* ====================================== */
/* ============  TITLE UI  ============== */
/* ====================================== */

* {
    -webkit-tap-highlight-color : rgba(0,0,0,0);
    -webkit-touch-callout       : none;
    -webkit-user-select         : none;    
    border                      : none;
    outline                     : 0;  
}

/* Hidden Tab Focus Element */

.tabFocus {
    position : absolute;
    display  : block;
    top      : 0px;
    left     : 0px;
    width    : 0px;
    height   : 0px;
    opacity  : 0;        
}

/* How To Button */

.howto {
    position : absolute;
    width    : 180px;
    height   : 50px;
    right    : 2vw;
    bottom   : 2vw;
    
    background      : url([button-img-howto]) no-repeat;
    background-size : 100%;
    
    pointer-events : auto;
}

.howto:hover, .howto:focus {
    position : absolute;
    width    : 180px;
    height   : 50px;
    right    : 2vw;
    bottom   : 2vw;

    background       : url([button-img-howto:hover]) no-repeat;
    background-size  : 100%;
    
    pointer-events : auto;
}

.howto:active {
    position : absolute;
    width    : 180px;
    height   : 50px;
    right    : 2vw;
    bottom   : 2vw;

    background       : url([button-img-howto:pressed]) no-repeat;
    background-size  : 100%;
    
    pointer-events : auto;
}

/* Pause Button */

.pause {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;
    
    background      : url([button-img-pause]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.pause:hover, .pause:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;

    background      : url([button-img-pause:hover]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.pause:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;

    background      : url([button-img-pause:pressed]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

/* Home Button */

.home {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background      : url([button-img-home]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.home:hover, .home:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background      : url([button-img-home:hover]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.home:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background: url([button-img-home:pressed]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}
    
/* Settings Button */

.settings {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;

    background: url([button-img-settings]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}

.settings:hover, .settings:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;

    background: url([button-img-settings:hover]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}

.settings:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : 2vw;
    top      : 2vw;

    background: url([button-img-settings:pressed]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}

/* Back Button */

.back {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background: url([button-img-back]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}

.back:hover, .back:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background      : url([button-img-back:hover]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.back:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;

    background      : url([button-img-back:pressed]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

/* Sound Button - On */

.soundOn {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;

    background      : url([button-img-soundOn]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}  

.soundOn:hover, .soundOn:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;
    border   : none;

    background      : url([button-img-soundOn:hover]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}   

.soundOn:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;

    background      : url([button-img-soundOn:pressed]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
} 

/* Sound Button - Off */

.soundOff {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;

    background: url([button-img-soundOff]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}  

.soundOff:hover, .soundOff:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;
    border   : none;
    
    background: url([button-img-soundOff:hover]) no-repeat center;
    background-size: 50px 50px;
    
    pointer-events : auto;
}   

.soundOff:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    right    : calc(2vw + 75px);
    top      : 2vw;

    background      : url([button-img-soundOff:pressed]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
} 

/* Start Button */

.start {
    position    : absolute;
    width       : 90px;
    height      : 90px;
    left        : 50%;
    margin-left : -45px; 
    bottom      : calc(2vw + 50px);
    
    background: url([button-img-start]) no-repeat;
    background-size: 100%;
    
    pointer-events : auto;
}    

.start:hover, .start:focus {
    position    : absolute;
    width       : 90px;
    height      : 90px;
    left        : 50%;
    margin-left : -45px; 
    bottom      : calc(2vw + 50px);
    
    background      : url([button-img-start:hover]) no-repeat;
    background-size : 100%;
    
    pointer-events : auto;
}  

.start:active {
    position    : absolute;
    width       : 90px;
    height      : 90px;
    left        : 50%;
    margin-left : -45px; 
    bottom      : calc(2vw + 50px);
    
    background      : url([button-img-start:pressed]) no-repeat;
    background-size : 100%;
    
    pointer-events : auto;
}  

/* Exit Button */

.exit {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;   

    background      : url([button-img-exit]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.exit:hover, .exit:focus {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;    
    
    background      : url([button-img-exit:hover]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}

.exit:active {
    position : absolute;
    width    : 64px;
    height   : 64px;
    left     : 2vw;
    top      : 2vw;    
    
    background      : url([button-img-exit:pressed]) no-repeat center;
    background-size : 50px 50px;
    
    pointer-events : auto;
}
   
/* Previous Chapter */

.prevChapter {
    position : absolute;
    width    : 66px;
    height   : 62px;
    left     : 0;
    bottom   : 45vh;
    
    background      : url("[asset-dir]/ui/mobile/mobile_half-oblong_left.png") no-repeat;
    background-size : cover;

    pointer-events : auto;
}

.prevChapter:hover, .prevChapter:focus {
    position : absolute;
    width    : 66px;
    height   : 62px;
    left     : 0;
    bottom   : 45vh;
    
    background      : url("[asset-dir]/ui/mobile/mobile_half-oblong_left_tabbed.png") no-repeat;
    background-size : cover;

    pointer-events : auto;
}

/* Next Chapter */

.nextChapter {
    position : absolute;
    width    : 66px;
    height   : 62px;
    right    : 0;
    bottom   : 45vh;
    
    background      : url("[asset-dir]/ui/mobile/mobile_half-oblong_right.png") no-repeat;
    background-size : cover;

    pointer-events : auto;
}

.nextChapter:hover, .nextChapter:focus {
    position : absolute;
    width    : 66px;
    height   : 62px;
    right    : 0;
    bottom   : 45vh;
    
    background      : url("[asset-dir]/ui/mobile/mobile_half-oblong_right_tabbed.png") no-repeat;
    background-size : cover;

    pointer-events : auto;
}

