<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ruins End/maze_end_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{913,614}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{913,614}}</string>
                <key>sourceSize</key>
                <string>{917,630}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cutscenes_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9243e4a0d164d2fd3614b0a74cfdae07:015eea5ce30cc39500079448087946fd:3ede41a600d0cf4fdb98611709e808a5$</string>
            <key>textureFileName</key>
            <string>cutscenes_1.png</string>
        </dict>
    </dict>
</plist>
