<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Game Intro/story_intro_panel2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,494},{139,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,107}}</string>
                <key>sourceSize</key>
                <string>{139,107}</string>
            </dict>
            <key>Game Intro/story_intro_panel3_elena.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1014,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1014,490}}</string>
                <key>sourceSize</key>
                <string>{1014,490}</string>
            </dict>
            <key>Ruins Intro/maze_intro_panel1_elena.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{564,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,515}}</string>
                <key>sourceSize</key>
                <string>{564,515}</string>
            </dict>
            <key>Ruins Intro/maze_intro_panel3_elena.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,494},{310,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,509}}</string>
                <key>sourceSize</key>
                <string>{310,509}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cutscenes_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9243e4a0d164d2fd3614b0a74cfdae07:015eea5ce30cc39500079448087946fd:3ede41a600d0cf4fdb98611709e808a5$</string>
            <key>textureFileName</key>
            <string>cutscenes_0.png</string>
        </dict>
    </dict>
</plist>
