<?xml version="1.0" encoding="utf-8"?>
<config>
	
	<tracking enabled="true">
		<gameName>matchanddestroy</gameName>
		<eventCategory>games</eventCategory>
		<pageDescription>max: Match and Destroy</pageDescription>
		<!-- The localization region to load. Loads string files in strings/strings_<two letter locale>.xml. or, will load string.xml by default. -->
		<locale></locale>
	</tracking>

	<options>
		<piracy><![CDATA[aHR0cDovL3d3dy5uaWNrLmNvbS9tYXNoLXVwcy9nYW1lcy9uaWNrZWxvZGVvbi1ibGFzdGVyLXNxdWFkLw==]]></piracy>
	</options>

</config>