<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bubble_hide_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,367},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>bubble_hide_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,216},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>bubble_hide_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,518},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>bubble_hide_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,669},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>bubble_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1316},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1192},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,820},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,944},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1068},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,588},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,464},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,340},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,216},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,944},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,820},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1440},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>

			<key>bubble_show_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1373},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1373},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1589},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1157},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1157},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1805},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1805},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>bubble_show_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,1589},{175,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{175,215}}</string>
				<key>sourceSize</key>
				<string>{175,215}</string>
			</dict>

			<key>enemy_hl_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,801},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,890},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,534},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,712},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,623},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,979},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,445},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,356},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hl_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,267},{475,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{475,88}}</string>
				<key>sourceSize</key>
				<string>{475,88}</string>
			</dict>

			<key>enemy_hs_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1869},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1157},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1513},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1068},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1246},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1958},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1068},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1691},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1602},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1780},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1424},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_hs_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1335},{275,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{275,88}}</string>
				<key>sourceSize</key>
				<string>{275,88}</string>
			</dict>

			<key>enemy_vl_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1044},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1624},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,116},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1169},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1108,1624},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,532},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,0},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vl_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1131,948},{75,415}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,415}}</string>
				<key>sourceSize</key>
				<string>{75,415}</string>
			</dict>

			<key>enemy_vs_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,1364},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,1615},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,416},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,667},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1206,0},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,251},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1585},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>enemy_vs_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1207,918},{75,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,250}}</string>
				<key>sourceSize</key>
				<string>{75,250}</string>
			</dict>

			<key>stev_hit_back_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1796},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_hit_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1680},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_hit_front_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1564},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_hit_front_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,944},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_hit_side_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,812},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_hit_side_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1524},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,928},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1912},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,0},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,712},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1564},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1796},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1680},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,828},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,348},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_back_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,464},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,580},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{753,0},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1060},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1176},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1292},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1408},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,696},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1912},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,116},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_front_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,232},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,116},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1756},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1872},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,1640},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,232},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,348},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,464},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,580},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_idle_side_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1044},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1160},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1276},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1392},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,696},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,812},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,928},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1508},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_back_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1624},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1740},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,1856},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,116},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,232},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,348},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,464},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,580},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_front_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,0},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1044},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1160},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1276},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,1508},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,696},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,812},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1027,928},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

			<key>stev_run_side_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,1392},{100,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,115}}</string>
				<key>sourceSize</key>
				<string>{100,115}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>characters.png</string>
			</dict>
		</dict>
</plist>