<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gameplay_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,769},{811,690}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{811,690}}</string>
				<key>sourceSize</key>
				<string>{811,690}</string>
			</dict>

			<key>gameplay_fg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1366,768}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1366,768}}</string>
				<key>sourceSize</key>
				<string>{1366,768}</string>
			</dict>

			<key>tint_col.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1559},{98,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,486}}</string>
				<key>sourceSize</key>
				<string>{98,486}</string>
			</dict>

			<key>tint_row.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1460},{583,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{583,98}}</string>
				<key>sourceSize</key>
				<string>{583,98}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>environment.png</string>
			</dict>
		</dict>
</plist>