<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,297},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,217},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btn_howTo_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,106},{210,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,105}}</string>
				<key>sourceSize</key>
				<string>{210,105}</string>
			</dict>

			<key>ui_btn_howTo_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,106},{210,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,105}}</string>
				<key>sourceSize</key>
				<string>{210,105}</string>
			</dict>

			<key>ui_btn_playAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,961},{253,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,81}}</string>
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>

			<key>ui_btn_playAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,961},{253,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{253,81}}</string>
				<key>sourceSize</key>
				<string>{253,81}</string>
			</dict>

			<key>ui_btn_play_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,0},{210,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,100}}</string>
				<key>sourceSize</key>
				<string>{210,100}</string>
			</dict>

			<key>ui_btn_play_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,0},{210,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,100}}</string>
				<key>sourceSize</key>
				<string>{210,100}</string>
			</dict>

			<key>ui_dayIndicator.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,895},{189,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{189,74}}</string>
				<key>sourceSize</key>
				<string>{189,74}</string>
			</dict>

			<key>ui_fill_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,866},{35,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,14}}</string>
				<key>sourceSize</key>
				<string>{35,14}</string>
			</dict>

			<key>ui_fill_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,866},{35,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,13}}</string>
				<key>sourceSize</key>
				<string>{35,13}</string>
			</dict>

			<key>ui_nextNight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,548},{424,291}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{424,291}}</string>
				<key>sourceSize</key>
				<string>{424,291}</string>
			</dict>

			<key>ui_nightCleared.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,270}}</string>
				<key>sourceSize</key>
				<string>{512,270}</string>
			</dict>

			<key>ui_posterCounter.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,895},{234,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{234,119}}</string>
				<key>sourceSize</key>
				<string>{234,119}</string>
			</dict>

			<key>ui_specsLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,276},{434,613}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{434,613}}</string>
				<key>sourceSize</key>
				<string>{434,613}</string>
			</dict>

			<key>ui_status_A.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,975},{166,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,57}}</string>
				<key>sourceSize</key>
				<string>{166,57}</string>
			</dict>

			<key>ui_status_B.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,895},{166,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,57}}</string>
				<key>sourceSize</key>
				<string>{166,57}</string>
			</dict>

			<key>ui_timer_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,845},{292,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,110}}</string>
				<key>sourceSize</key>
				<string>{292,110}</string>
			</dict>

			<key>ui_timer_fill.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,845},{76,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,15}}</string>
				<key>sourceSize</key>
				<string>{76,15}</string>
			</dict>

			<key>ui_timer_fillB.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1020},{163,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,15}}</string>
				<key>sourceSize</key>
				<string>{163,15}</string>
			</dict>

			<key>ui_timesUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{460,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{460,266}}</string>
				<key>sourceSize</key>
				<string>{460,266}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{961,1048}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>