<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_bcsd3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1803},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1803},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1803},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,1803},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd3_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,604},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,755},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,453},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,302},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,151},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,0},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1812},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1661},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1510},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1359},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1208},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1057},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

			<key>gobj_bcsd5_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,906},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_4x4.png</string>
			</dict>
		</dict>
</plist>