<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_bcsd0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,601},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1608},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1407},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,1005},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd0_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1202},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1809},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1407},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1206},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1005},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>

			<key>gobj_bcsd2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,402},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1608},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,0},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,603},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,201},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1803},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1803},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1803},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>gobj_bcsd2_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,804},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>gobj_3x3.png</string>
			</dict>
		</dict>
</plist>