<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_ravenhitLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,8},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{52,8},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{104,8},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-19}</string>
                <key>spriteSize</key>
                <string>{46,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{104,8},{46,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-20}</string>
                <key>spriteSize</key>
                <string>{42,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{52,8},{42,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,8},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{160,8},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-20}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{204,8},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,78},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitLower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{34,60}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,8},{34,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{52,78},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,23}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{118,78},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,21}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{186,78},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,21}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,148},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,23}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,148},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{52,78},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{142,148},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,23}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,210},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,24}</string>
                <key>spriteSize</key>
                <string>{56,48}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,210},{56,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenhitUpper_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{140,210},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{206,210},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,282},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{48,282},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-19}</string>
                <key>spriteSize</key>
                <string>{30,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{88,282},{30,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{128,282},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{170,282},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{212,282},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleLower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-19}</string>
                <key>spriteSize</key>
                <string>{32,62}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,354},{32,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenidleUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{50,354},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{116,354},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{182,354},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{74,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{8,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenshootUpper_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{182,354},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_ravenvictoryUpper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,25}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{90,100}</string>
                <key>textureRect</key>
                <string>{{140,426},{56,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_raven.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f11feef5683f3e0de7b4969b2626cdcb:e155b9af48df0287deea8a8347a53f99:426f7095e7e5c60b27e24b0981979125$</string>
            <key>textureFileName</key>
            <string>char_raven.png</string>
        </dict>
    </dict>
</plist>
