<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_eliasCrash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{168,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,72},{168,207}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasCrash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1586},{177,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,96},{177,182}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasCrash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,931},{160,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,80},{160,199}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasCrash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{150,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,87},{150,192}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,686},{189,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,50},{189,239}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,907},{205,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,52},{205,228}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,52},{225,225}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1804},{199,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,53},{199,222}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,231},{225,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,53},{225,225}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasFall_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{219,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,61},{219,218}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,0},{134,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{134,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1548},{132,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{132,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,282},{128,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{128,275}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,282},{131,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{131,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,564},{130,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{130,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{128,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{128,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1130},{127,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{127,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1548},{127,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{127,278}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,845},{127,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{127,278}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,846},{128,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{128,278}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,846},{128,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{128,278}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasHang_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,563},{128,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,4},{128,276}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,686},{207,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,46},{207,215}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1367},{204,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,47},{204,215}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,213},{167,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,42},{167,227}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1588},{204,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,39},{204,210}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1367},{195,213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,51},{195,213}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,686},{157,217}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{62,47},{157,217}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,213},{160,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,42},{160,222}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1804},{199,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{20,39},{199,216}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1141},{204,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,46},{204,220}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1141},{196,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{22,47},{196,220}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,462},{181,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,50},{181,218}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,441},{150,222}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{68,46},{150,222}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1680},{154,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,251}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1290},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1680},{154,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,251}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,258},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,24},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,774},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1166},{154,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,251}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,909},{154,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,251}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,1423},{154,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,251}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,516},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,1032},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

			<key>anim_eliasStack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,1586},{154,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,25},{154,252}}</string>
				<key>sourceSize</key>
				<string>{266,296}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_elias.png</string>
			</dict>
		</dict>
</plist>