<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_headCrash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1300},{121,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,71},{121,248}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1098,522},{116,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,69},{116,248}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1664},{150,242}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,78},{150,242}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,752},{178,203}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,117},{178,203}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,1701},{175,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,68},{175,252}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,244},{177,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,72},{177,248}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,0},{180,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,82},{180,238}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headCrash_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,258},{171,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{32,105},{171,215}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1274},{169,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,60},{169,259}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,491},{185,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,64},{185,255}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1017},{169,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,68},{169,251}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,498},{176,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{60,60},{176,259}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,0},{183,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{48,67},{183,252}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headFall_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,763},{169,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,71},{169,248}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1180},{139,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,9},{139,257}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,0},{137,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,9},{137,256}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{949,1180},{135,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,8},{135,255}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,262},{137,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,9},{137,256}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,524},{134,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,8},{134,255}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1441},{130,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{56,8},{130,246}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,0},{126,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,8},{126,253}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,259},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,8},{125,257}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1092,1693},{124,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,7},{124,258}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1090,1037},{125,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{58,8},{125,257}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1693},{127,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{57,8},{127,253}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headHang_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,785},{132,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{55,8},{132,246}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,491},{235,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,18},{235,238}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1225},{230,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,22},{230,235}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{236,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,10},{236,247}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{236,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,12},{236,232}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1225},{216,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,26},{216,230}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,980},{219,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,18},{219,238}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1701},{222,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{16,10},{222,246}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1466},{228,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,12},{228,229}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{234,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,18},{234,239}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1466},{229,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,22},{229,235}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1707},{229,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,26},{229,231}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headRun_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{233,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,18},{233,239}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,477},{153,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,25},{153,229}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,232},{153,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,26},{153,228}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,731},{154,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,26},{154,228}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,712},{153,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,26},{153,228}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,946},{153,228}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,26},{153,228}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1664},{153,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{46,27},{153,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1431},{154,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,27},{154,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{639,965},{154,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,27},{154,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,0},{154,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,28},{154,226}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{644,1198},{154,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,27},{154,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,244},{154,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,27},{154,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

			<key>anim_headStack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,498},{154,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,27},{154,227}}</string>
				<key>sourceSize</key>
				<string>{238,331}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>anim_head.png</string>
			</dict>
		</dict>
</plist>