<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_balloonA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,0},{63,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{63,188}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,579},{64,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{64,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,764},{66,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{66,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{66,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{66,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,772},{65,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{65,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,193},{64,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{64,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,772},{64,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{64,188}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,386},{64,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{64,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,579},{65,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{65,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,0},{65,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{65,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,386},{66,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{66,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,193},{66,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{66,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,0},{67,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,3},{67,187}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,193},{67,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{67,188}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,764},{67,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,2},{67,188}}</string>
				<key>sourceSize</key>
				<string>{82,190}</string>
			</dict>

			<key>anim_balloonB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,388},{59,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{59,189}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,776},{59,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{7,3},{59,189}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,194},{60,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{60,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,388},{60,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,4},{60,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,583},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,777},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,388},{59,189}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,3},{59,189}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,0},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,194},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,776},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,194},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,582},{60,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{60,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,194},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonB_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,0},{59,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,4},{59,188}}</string>
				<key>sourceSize</key>
				<string>{69,192}</string>
			</dict>

			<key>anim_balloonC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,572},{82,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,1},{82,186}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{82,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{82,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,761},{84,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{84,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,571},{84,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{84,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,571},{83,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{83,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,381},{83,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{83,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,572},{82,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{82,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,763},{82,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,2},{82,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,761},{83,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{83,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,381},{83,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{83,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{84,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{84,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,0},{84,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{84,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,190},{84,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{84,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,190},{84,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{84,185}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

			<key>anim_balloonC_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{84,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{84,184}}</string>
				<key>sourceSize</key>
				<string>{87,187}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>