<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_scoobDizzy_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,0},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,300},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,750},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,600},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,450},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,150},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1025,300},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,0},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,600},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1150,750},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1315,450},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobDizzy_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,150},{159,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,144}}</string>
				<key>sourceSize</key>
				<string>{159,144}</string>
			</dict>

			<key>char_scoobFall01_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,166},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,588},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,0},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,754},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,588},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,754},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,664},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,830},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,498},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,332},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,664},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,0},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,830},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,166},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{800,498},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall01_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,332},{169,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,160}}</string>
				<key>sourceSize</key>
				<string>{169,160}</string>
			</dict>

			<key>char_scoobFall02_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,294},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,588},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,735},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,441},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,147},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,294},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,441},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,294},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,588},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,441},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobFall02_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,147},{219,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,141}}</string>
				<key>sourceSize</key>
				<string>{219,141}</string>
			</dict>

			<key>char_scoobIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,142},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,426},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,284},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,710},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1487,0},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,852},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,284},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,568},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1480,426},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,882},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,882},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,882},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,568},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,852},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,0},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,142},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

			<key>char_scoobShoot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1612,710},{126,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,136}}</string>
				<key>sourceSize</key>
				<string>{126,136}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>