
@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=cbec5051-3586-439e-986b-4ea13bed5b4f");
    @font-face{
        font-family:"Windsor Elongated";
        src:url("13ac8c16-a78e-4eb8-be11-88a5e94b5898.eot?#iefix");
        src:url("13ac8c16-a78e-4eb8-be11-88a5e94b5898.eot?#iefix") format("eot"),url("f39b933e-3063-4fd2-bb2c-01fea66cc782.woff2") format("woff2"),url("f9ed6410-6f55-47ef-8cdc-dd8ec25f6387.woff") format("woff"),url("ac94c720-c969-4f7b-9e8c-65e8de4d4020.ttf") format("truetype"),url("358b8912-025d-4a9f-8f98-e65cd94a7c93.svg#358b8912-025d-4a9f-8f98-e65cd94a7c93") format("svg");
    }
