<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_mojoJojoEscape_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoEscape_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoTurn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_mojoBatch1.png</string>
			</dict>
		</dict>
</plist>