<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bubblesFloatToFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1032,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFloatToFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{688,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1204,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFloat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesHitFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,0},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,700},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,420},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

			<key>char_bubblesIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{166,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,134}}</string>
				<key>sourceSize</key>
				<string>{166,134}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char_bubbles.png</string>
			</dict>
		</dict>
</plist>