<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_blossomSpecial_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,506},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1012},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,1518},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,0},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1518},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1012},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,506},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,0},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1518},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1012},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,506},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,506},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1544,0},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1518},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,1012},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,506},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,0},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1518},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

			<key>char_blossomSpecial_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1012},{380,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{380,500}}</string>
				<key>sourceSize</key>
				<string>{380,500}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_blossomSpecial.png</string>
			</dict>
		</dict>
</plist>