<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_blossomFloatToFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFloatToFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1450,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFloat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomHitFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,0},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,732},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

			<key>char_blossomIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{139,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,177}}</string>
				<key>sourceSize</key>
				<string>{139,177}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char_blossom.png</string>
			</dict>
		</dict>
</plist>