<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_buttercupFloatToFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,833},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1666},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1547},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1428},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1309},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1190},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1071},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,952},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,833},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFloatToFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,714},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,595},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,476},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1666},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1547},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,357},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,238},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,119},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1904},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,0},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,119},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupFly_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1785},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1428},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1309},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1190},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1071},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,952},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{320,1785},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,714},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,595},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFloat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,476},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,357},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,238},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,119},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,0},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1904},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1785},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1666},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1547},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupHitFly_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1428},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1309},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1190},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,119},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1071},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,952},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,833},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,714},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,476},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,357},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

			<key>char_buttercupIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{154,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,113}}</string>
				<key>sourceSize</key>
				<string>{154,113}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>char_buttercup.png</string>
			</dict>
		</dict>
</plist>