<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_buttercupSpecial_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,0},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1760},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,0},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1760},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1540},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1320},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1100},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,660},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,440},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1540},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1540},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1320},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,1100},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,880},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,660},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,440},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

			<key>char_buttercupSpecial_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,220},{427,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{427,214}}</string>
				<key>sourceSize</key>
				<string>{427,214}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_buttercupSpecial.png</string>
			</dict>
		</dict>
</plist>