<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_mojoJojoAttack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1452,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoAttack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,702},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,1404},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

			<key>anim_mojoJojoHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,1053},{357,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{357,345}}</string>
				<key>sourceSize</key>
				<string>{357,345}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>char_mojoBatch2.png</string>
			</dict>
		</dict>
</plist>