<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_beastboyhitLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{136,423},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{152,228},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{66,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,358},{66,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-22}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{410,358},{64,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{60,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{340,358},{60,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{148,358},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,423},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{212,358},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{84,358},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitLower_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{148,358},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,21}</string>
                <key>spriteSize</key>
                <string>{62,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{382,169},{62,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,20}</string>
                <key>spriteSize</key>
                <string>{64,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,114},{64,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,19}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{308,169},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,18}</string>
                <key>spriteSize</key>
                <string>{64,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{78,228},{64,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,21}</string>
                <key>spriteSize</key>
                <string>{64,47}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{234,169},{64,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,21}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{82,169},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,21}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,169},{64,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{158,169},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{304,114},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyhitUpper_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{66,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{380,114},{66,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{72,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{288,228},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{416,228},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{352,228},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{264,423},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{264,423},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{352,228},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{276,358},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleLower_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{224,228},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{388,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{84,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{164,8},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{240,8},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{88,8},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{316,8},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{392,8},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{236,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyidleUpper_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{312,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{72,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{72,423},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{328,423},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{392,423},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,57}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{200,423},{54,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{388,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{70,39}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,8},{70,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{232,114},{62,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{60,49}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,228},{60,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyshootUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,22}</string>
                <key>spriteSize</key>
                <string>{64,45}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{158,114},{64,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboyvictoryUpper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,20}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{160,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{136,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{328,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{264,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{392,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkLower_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{200,293},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{82,114},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{82,114},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{8,61},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{82,114},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_beastboywalkUpper_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{66,43}</string>
                <key>spriteSourceSize</key>
                <string>{86,99}</string>
                <key>textureRect</key>
                <string>{{82,114},{66,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char_beastboy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c492c2abc2d595c3a913c9130a389e:47f609b253a98100a7669ee1dc0616ed:1efe3049322cc6973c35218404aa46b2$</string>
            <key>textureFileName</key>
            <string>char_beastboy.png</string>
        </dict>
    </dict>
</plist>
