<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_yoseIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,448},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,317},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,710},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,579},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,655},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,393},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,524},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,524},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,841},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,579},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,710},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,186},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,317},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,448},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,186},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLaugh_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,744},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,558},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,744},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,558},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,372},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,558},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,0},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,744},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,186},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,372},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,372},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,0},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,186},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{492,0},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,744},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,558},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,372},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,186},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLaugh_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,0},{245,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,185}}</string>
				<key>sourceSize</key>
				<string>{245,185}</string>
			</dict>

			<key>anim_yoseLook_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,262},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,131},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,786},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,655},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1653,0},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,786},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,655},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,524},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,393},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,262},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1548,131},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseLook_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,0},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,524},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,393},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,131},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1230,0},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,841},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1830,131},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1794,0},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,262},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,131},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1371,0},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,786},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,786},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,655},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,393},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

			<key>anim_yoseWalk_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1266,262},{140,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,130}}</string>
				<key>sourceSize</key>
				<string>{140,130}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>