<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/climb_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,975}</string>
                <key>spriteSourceSize</key>
                <string>{960,975}</string>
                <key>textureRect</key>
                <string>{{2,2},{960,975}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/confetti/ui_confetti_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{54,69}</string>
                <key>textureRect</key>
                <string>{{965,148},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/confetti/ui_confetti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,24}</string>
                <key>spriteSourceSize</key>
                <string>{39,24}</string>
                <key>textureRect</key>
                <string>{{965,271},{39,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/confetti/ui_confetti_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{51,48}</string>
                <key>textureRect</key>
                <string>{{965,220},{51,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/confetti/ui_firework_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{1007,271},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/progress_rod.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{57,70}</string>
                <key>textureRect</key>
                <string>{{965,2},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/progress_swift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,70}</string>
                <key>spriteSourceSize</key>
                <string>{57,70}</string>
                <key>textureRect</key>
                <string>{{965,75},{57,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_universal_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df1130b94c6fe72a4359d9795527479:ed100c8595fde7e625013c131259db3c:1f7b45be109031e507767b45b44aa16a$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_0.png</string>
        </dict>
    </dict>
</plist>
