<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/btn_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,161}</string>
                <key>spriteSourceSize</key>
                <string>{153,161}</string>
                <key>textureRect</key>
                <string>{{2,846},{153,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/btn_spacebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,156}</string>
                <key>spriteSourceSize</key>
                <string>{526,156}</string>
                <key>textureRect</key>
                <string>{{158,846},{526,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/keyboard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,298}</string>
                <key>spriteSourceSize</key>
                <string>{600,298}</string>
                <key>textureRect</key>
                <string>{{2,2},{600,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/p1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,174}</string>
                <key>spriteSourceSize</key>
                <string>{385,174}</string>
                <key>textureRect</key>
                <string>{{605,2},{385,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/particles/effect_poof_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,138}</string>
                <key>textureRect</key>
                <string>{{195,662},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/particles/sparkle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,117}</string>
                <key>spriteSourceSize</key>
                <string>{65,117}</string>
                <key>textureRect</key>
                <string>{{358,662},{65,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/pausemenu_backing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{563,356}</string>
                <key>spriteSourceSize</key>
                <string>{563,356}</string>
                <key>textureRect</key>
                <string>{{2,303},{563,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/up_highlight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,181}</string>
                <key>spriteSourceSize</key>
                <string>{190,181}</string>
                <key>textureRect</key>
                <string>{{605,179},{190,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/up_nostroke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,181}</string>
                <key>spriteSourceSize</key>
                <string>{190,181}</string>
                <key>textureRect</key>
                <string>{{798,179},{190,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/up_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,181}</string>
                <key>spriteSourceSize</key>
                <string>{190,181}</string>
                <key>textureRect</key>
                <string>{{2,662},{190,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameplay_universal_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5df1130b94c6fe72a4359d9795527479:ed100c8595fde7e625013c131259db3c:1f7b45be109031e507767b45b44aa16a$</string>
            <key>textureFileName</key>
            <string>gameplay_universal_2.png</string>
        </dict>
    </dict>
</plist>
