<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemySlow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemySlow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,0},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,788},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,591},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,394},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

			<key>enemy_startledSlow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,197},{119,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,196}}</string>
				<key>sourceSize</key>
				<string>{119,196}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>enemySlow.png</string>
			</dict>
		</dict>
</plist>