<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemyNormal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,780},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,390},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,195},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,195},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,780},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,390},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,195},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemyNormal_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,390},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,780},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,390},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,195},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,390},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,195},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,780},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

			<key>enemy_startledNormal_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,585},{87,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,194}}</string>
				<key>sourceSize</key>
				<string>{87,194}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>enemyNormal.png</string>
			</dict>
		</dict>
</plist>