<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>char_bunniHitA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,0},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,760},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,608},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,456},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,304},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,152},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{830,0},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,760},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,608},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,0},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniHitB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,770},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,616},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,462},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,154},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,308},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,616},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,0},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,770},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,0},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitB_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,0},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniHitC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,616},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,770},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,308},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,616},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,770},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,462},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,308},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,462},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniHitC_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,154},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,152},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,304},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,456},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,608},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,760},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,456},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,608},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,760},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,0},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,152},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleA_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,304},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniIdleB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,770},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,770},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,462},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,308},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,154},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,308},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,462},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,616},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1234,770},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,0},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,154},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleB_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,308},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniIdleC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,154},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,462},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,616},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,154},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,308},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,462},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,770},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,0},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,154},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniIdleC_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,308},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,152},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,304},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,456},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,152},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,608},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,304},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,456},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkA_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,760},{79,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,146}}</string>
				<key>sourceSize</key>
				<string>{79,146}</string>
			</dict>

			<key>char_bunniWalkB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,616},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,462},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,308},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,154},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1078,0},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1312,616},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1156,154},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkB_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,462},{72,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,148}}</string>
				<key>sourceSize</key>
				<string>{72,148}</string>
			</dict>

			<key>char_bunniWalkC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,770},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,308},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,154},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,0},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,770},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,616},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

			<key>char_bunniWalkC_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,462},{109,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,148}}</string>
				<key>sourceSize</key>
				<string>{109,148}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>char.png</string>
			</dict>
		</dict>
</plist>