<config>
<localization>
	<language>latin</language>
</localization>
<isInternational>YES</isInternational>
<playVO>false</playVO>
<playCutScenes>false</playCutScenes>
<services>
	<service type="canadaTracking" enabled="false" showGameTitle="Blaze and the Monster Machines: mud mountain"/>
</services>
</config>