<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,157},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,314},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,157},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,628},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,157},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,0},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,785},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,628},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,471},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,314},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,471},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,0},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>gobj_card_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,785},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>