<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elena_splash.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{996,560}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{996,560}}</string>
                <key>sourceSize</key>
                <string>{996,560}</string>
            </dict>
            <key>elena_splash_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{344,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,259}}</string>
                <key>sourceSize</key>
                <string>{344,259}</string>
            </dict>
            <key>elena_splash_logo_sparkles.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,564},{300,241}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,12},{300,241}}</string>
                <key>sourceSize</key>
                <string>{344,259}</string>
            </dict>
            <key>elena_splash_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{125,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,125}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boostrap_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:935761ecba635c1030d3be17f4a966b8:83aea2cafe37b1af1ad86b2efc73b5bf:0775697e7a8a5a47e3ed2b2f587139f7$</string>
            <key>textureFileName</key>
            <string>boostrap_0.png</string>
        </dict>
    </dict>
</plist>
