<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_barrier_2_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,298},{46,237}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{46,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_barrier_tile_front_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{30,264}}</string>
                <key>offset</key>
                <string>{27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,38},{30,264}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_ceiling_transition.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,800},{205,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,137}}</string>
                <key>sourceSize</key>
                <string>{205,137}</string>
            </dict>
            <key>maze_darkroom_exit_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,256},{144,258}}</string>
                <key>offset</key>
                <string>{-20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{144,258}}</string>
                <key>sourceSize</key>
                <string>{184,296}</string>
            </dict>
            <key>maze_door_revealed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{152,214}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{152,214}}</string>
                <key>sourceSize</key>
                <string>{160,216}</string>
            </dict>
            <key>maze_entrance_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{152,252}}</string>
                <key>offset</key>
                <string>{-16,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,252}}</string>
                <key>sourceSize</key>
                <string>{184,296}</string>
            </dict>
            <key>maze_entrance_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{274,484}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,484}}</string>
                <key>sourceSize</key>
                <string>{370,484}</string>
            </dict>
            <key>maze_floor_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,896},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>maze_floor_end_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,832},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>maze_floor_end_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,920},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>maze_floor_transition.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,317},{111,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,108}}</string>
                <key>sourceSize</key>
                <string>{111,108}</string>
            </dict>
            <key>maze_foreground_bricks.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,896},{187,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{187,123}}</string>
                <key>sourceSize</key>
                <string>{189,123}</string>
            </dict>
            <key>maze_foreground_pillar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,488},{261,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,406}}</string>
                <key>sourceSize</key>
                <string>{261,406}</string>
            </dict>
            <key>maze_foreground_vines1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{521,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{521,291}}</string>
                <key>sourceSize</key>
                <string>{523,291}</string>
            </dict>
            <key>maze_foreground_vines2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,537},{234,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,293}}</string>
                <key>sourceSize</key>
                <string>{236,293}</string>
            </dict>
            <key>maze_foreground_vines3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{377,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{377,503}}</string>
                <key>sourceSize</key>
                <string>{379,503}</string>
            </dict>
            <key>maze_goalroom_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{59,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,294}}</string>
                <key>sourceSize</key>
                <string>{59,294}</string>
            </dict>
            <key>maze_goalroom_doorway_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{91,313}}</string>
                <key>offset</key>
                <string>{-21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{91,313}}</string>
                <key>sourceSize</key>
                <string>{135,341}</string>
            </dict>
            <key>maze_goalroom_floorbutton_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,980},{96,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,24}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>maze_goalroom_floorbutton_raised.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,980},{96,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,28}}</string>
                <key>sourceSize</key>
                <string>{96,28}</string>
            </dict>
            <key>maze_goalroom_vines1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,800},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{142,178}</string>
            </dict>
            <key>maze_pickup_gem_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,939},{32,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>maze_vines_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,939},{133,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,66}}</string>
                <key>sourceSize</key>
                <string>{133,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeone_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1274114f1619e6e6d21a4b6f7b4fe6:8af12ca324c525104fb7e03ec8323410:540e82064c4abc9622eec56d944e479f$</string>
            <key>textureFileName</key>
            <string>mazeone_1.png</string>
        </dict>
    </dict>
</plist>
