<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_elevator_platform.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,830},{245,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,175}}</string>
                <key>sourceSize</key>
                <string>{245,175}</string>
            </dict>
            <key>maze_entrance_foreground_smaller.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,535}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,535}}</string>
                <key>sourceSize</key>
                <string>{1000,535}</string>
            </dict>
            <key>maze_floor_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,913},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>maze_foreground_pillar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,539},{294,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,372}}</string>
                <key>sourceSize</key>
                <string>{294,372}</string>
            </dict>
            <key>maze_foreground_pillar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{587,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,289}}</string>
                <key>sourceSize</key>
                <string>{587,289}</string>
            </dict>
            <key>maze_goalroom_doorway_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,539},{125,341}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{125,341}}</string>
                <key>sourceSize</key>
                <string>{135,341}</string>
            </dict>
            <key>maze_goalroom_potion.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,913},{33,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,51}}</string>
                <key>sourceSize</key>
                <string>{35,51}</string>
            </dict>
            <key>maze_goalroom_vines2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{323,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{323,183}}</string>
                <key>sourceSize</key>
                <string>{325,183}</string>
            </dict>
            <key>maze_pickup_gem_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,882},{22,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{22,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>maze_pickup_gem_teal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,966},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>maze_switch_vines.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,882},{111,127}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,127}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeone_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1274114f1619e6e6d21a4b6f7b4fe6:8af12ca324c525104fb7e03ec8323410:540e82064c4abc9622eec56d944e479f$</string>
            <key>textureFileName</key>
            <string>mazeone_0.png</string>
        </dict>
    </dict>
</plist>
