<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_barrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{102,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_barrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,776},{102,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_barrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,776},{102,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_barrier_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,230},{102,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_barrier_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,742},{102,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,237}}</string>
                <key>sourceSize</key>
                <string>{102,237}</string>
            </dict>
            <key>maze_decal_boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,390},{79,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,98}}</string>
                <key>sourceSize</key>
                <string>{79,98}</string>
            </dict>
            <key>maze_decal_brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,141},{103,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,87}}</string>
                <key>sourceSize</key>
                <string>{103,87}</string>
            </dict>
            <key>maze_elevator_platform_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{168,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{168,137}}</string>
                <key>sourceSize</key>
                <string>{170,137}</string>
            </dict>
            <key>maze_floor_end_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,348},{74,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>maze_floor_end_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,260},{74,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>maze_floor_end_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,347},{74,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>maze_floor_end_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>maze_floor_end_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,348},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>maze_floor_end_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,260},{67,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,86}}</string>
                <key>sourceSize</key>
                <string>{67,86}</string>
            </dict>
            <key>maze_stairs_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,490},{251,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,250}}</string>
                <key>sourceSize</key>
                <string>{251,250}</string>
            </dict>
            <key>maze_vines_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,141},{86,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,247}}</string>
                <key>sourceSize</key>
                <string>{86,247}</string>
            </dict>
            <key>maze_wall_window_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_window_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_window_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_window_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_window_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeone_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1274114f1619e6e6d21a4b6f7b4fe6:8af12ca324c525104fb7e03ec8323410:540e82064c4abc9622eec56d944e479f$</string>
            <key>textureFileName</key>
            <string>mazeone_3.png</string>
        </dict>
    </dict>
</plist>
