<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_barrier_tile_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{84,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,302}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_barrier_tile_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,306},{84,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,302}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_barrier_tile_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,232},{84,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,302}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_barrier_tile_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,488},{84,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,302}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_barrier_tile_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,610},{84,302}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,302}}</string>
                <key>sourceSize</key>
                <string>{84,302}</string>
            </dict>
            <key>maze_darkroom_entrance_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{132,254}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{132,254}}</string>
                <key>sourceSize</key>
                <string>{184,296}</string>
            </dict>
            <key>maze_darkroom_exit_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,258},{132,254}}</string>
                <key>offset</key>
                <string>{22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,41},{132,254}}</string>
                <key>sourceSize</key>
                <string>{184,296}</string>
            </dict>
            <key>maze_decal_pillar.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,276},{108,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,220}}</string>
                <key>sourceSize</key>
                <string>{108,220}</string>
            </dict>
            <key>maze_elevator_ropes.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,412},{61,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,87}}</string>
                <key>sourceSize</key>
                <string>{61,87}</string>
            </dict>
            <key>maze_entrance_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,232},{132,254}}</string>
                <key>offset</key>
                <string>{26,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,41},{132,254}}</string>
                <key>sourceSize</key>
                <string>{184,296}</string>
            </dict>
            <key>maze_floor_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,610},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>maze_floor_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,514},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>maze_floor_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,914},{256,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,85}}</string>
                <key>sourceSize</key>
                <string>{256,85}</string>
            </dict>
            <key>maze_floor_end_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,514},{74,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>maze_floor_end_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,514},{74,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,85}}</string>
                <key>sourceSize</key>
                <string>{76,85}</string>
            </dict>
            <key>maze_foreground_vines4.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,276},{185,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{185,134}}</string>
                <key>sourceSize</key>
                <string>{187,134}</string>
            </dict>
            <key>maze_goalroom_ceiling.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{501,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,228}}</string>
                <key>sourceSize</key>
                <string>{501,228}</string>
            </dict>
            <key>maze_stairs_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{271,272}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{271,272}}</string>
                <key>sourceSize</key>
                <string>{271,288}</string>
            </dict>
            <key>maze_switch_decal.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,412},{119,99}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{119,99}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>maze_switch_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,914},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>maze_vines_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,792},{49,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,222}}</string>
                <key>sourceSize</key>
                <string>{49,222}</string>
            </dict>
            <key>maze_vines_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,488},{38,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,217}}</string>
                <key>sourceSize</key>
                <string>{38,217}</string>
            </dict>
            <key>maze_wall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,707},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>maze_wall_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,601},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeone_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1274114f1619e6e6d21a4b6f7b4fe6:8af12ca324c525104fb7e03ec8323410:540e82064c4abc9622eec56d944e479f$</string>
            <key>textureFileName</key>
            <string>mazeone_2.png</string>
        </dict>
    </dict>
</plist>
