<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_poof_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,0},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,663},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,442},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,442},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,442},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,221},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,221},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

			<key>fx_poof_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,221},{267,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,215}}</string>
				<key>sourceSize</key>
				<string>{267,215}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>fx_poof.png</string>
			</dict>
		</dict>
</plist>