<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>UI_anglearrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,978},{170,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{170,34}}</string>
				<key>sourceSize</key>
				<string>{170,34}</string>
			</dict>

			<key>UI_anglemeter.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,285},{224,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,175}}</string>
				<key>sourceSize</key>
				<string>{224,175}</string>
			</dict>

			<key>anim_fish_fly_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,489},{204,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,183}}</string>
				<key>sourceSize</key>
				<string>{204,183}</string>
			</dict>

			<key>anim_fish_fly_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,673},{204,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,183}}</string>
				<key>sourceSize</key>
				<string>{204,183}</string>
			</dict>

			<key>anim_fish_fly_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1615,0},{204,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,183}}</string>
				<key>sourceSize</key>
				<string>{204,183}</string>
			</dict>

			<key>anim_fish_fly_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1619,489},{204,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,183}}</string>
				<key>sourceSize</key>
				<string>{204,183}</string>
			</dict>

			<key>anim_fish_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,109},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,570},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,570},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,900},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,679},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,900},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1321,788},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,897},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,0},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,679},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,461},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1197,285},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1100,788},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_idle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1193,461},{220,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,108}}</string>
				<key>sourceSize</key>
				<string>{220,108}</string>
			</dict>

			<key>anim_fish_splash_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,570},{696,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{696,284}}</string>
				<key>sourceSize</key>
				<string>{696,284}</string>
			</dict>

			<key>anim_fish_splash_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,0},{696,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{696,284}}</string>
				<key>sourceSize</key>
				<string>{696,284}</string>
			</dict>

			<key>anim_fish_splash_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{696,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{696,284}}</string>
				<key>sourceSize</key>
				<string>{696,284}</string>
			</dict>

			<key>anim_fish_splash_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{696,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{696,284}}</string>
				<key>sourceSize</key>
				<string>{696,284}</string>
			</dict>

			<key>anim_fish_squeeze_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1414,394},{216,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,94}}</string>
				<key>sourceSize</key>
				<string>{216,94}</string>
			</dict>

			<key>anim_fish_swim_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,531},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,777},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,285},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,855},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,855},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,855},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,408},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

			<key>anim_fish_swim_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,654},{274,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,122}}</string>
				<key>sourceSize</key>
				<string>{274,122}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fish.png</string>
			</dict>
		</dict>
</plist>