<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>game_back1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1875},{374,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{374,138}}</string>
				<key>sourceSize</key>
				<string>{374,138}</string>
			</dict>

			<key>game_back2.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,1875},{246,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,133}}</string>
				<key>sourceSize</key>
				<string>{246,133}</string>
			</dict>

			<key>game_bean_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,766},{382,660}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{382,660}}</string>
				<key>sourceSize</key>
				<string>{382,660}</string>
			</dict>

			<key>game_bean_chuckle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,705},{467,703}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{467,703}}</string>
				<key>sourceSize</key>
				<string>{467,703}</string>
			</dict>

			<key>game_bean_chuckle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,0},{467,703}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{467,703}}</string>
				<key>sourceSize</key>
				<string>{467,703}</string>
			</dict>

			<key>game_bean_head_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,383},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1492},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1492},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1492},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,383},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,0},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1410},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_head_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,0},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>game_bean_idle.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,766},{140,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{140,315}}</string>
				<key>sourceSize</key>
				<string>{140,315}</string>
			</dict>

			<key>game_bean_startle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{512,744}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,744}}</string>
				<key>sourceSize</key>
				<string>{512,744}</string>
			</dict>

			<key>game_bean_startle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{512,744}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{512,744}}</string>
				<key>sourceSize</key>
				<string>{512,744}</string>
			</dict>

			<key>game_front1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1875},{330,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{330,134}}</string>
				<key>sourceSize</key>
				<string>{330,134}</string>
			</dict>

			<key>game_front2.png</key>
			<dict>
				<key>frame</key>
				<string>{{956,1793},{220,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{220,155}}</string>
				<key>sourceSize</key>
				<string>{220,155}</string>
			</dict>

			<key>game_ringhot.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,766},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>

			<key>game_ringhotmask.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,911},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>

			<key>game_ringregular.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1056},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>

			<key>game_ringregularmask.png</key>
			<dict>
				<key>frame</key>
				<string>{{983,1201},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>