<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_bean_head_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1528},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,382},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1528},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1146},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,764},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

			<key>anim_bean_head_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1146},{441,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{441,381}}</string>
				<key>sourceSize</key>
				<string>{441,381}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,2048}</string>
			<key>textureFileName</key>
			<string>head.png</string>
			</dict>
		</dict>
</plist>