<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>pfx_confetti_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,483},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,966},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,483},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1449},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,966},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,0},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_confetti_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{545,480}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{545,480}}</string>
				<key>sourceSize</key>
				<string>{545,480}</string>
			</dict>

			<key>pfx_flame_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,1479},{395,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,490}}</string>
				<key>sourceSize</key>
				<string>{395,490}</string>
			</dict>

			<key>pfx_flame_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,493},{395,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,490}}</string>
				<key>sourceSize</key>
				<string>{395,490}</string>
			</dict>

			<key>pfx_flame_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,986},{395,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,490}}</string>
				<key>sourceSize</key>
				<string>{395,490}</string>
			</dict>

			<key>pfx_flame_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1096,0},{395,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,490}}</string>
				<key>sourceSize</key>
				<string>{395,490}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>pfx.png</string>
			</dict>
		</dict>
</plist>