<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maze_darkness_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>maze_door_hidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{160,214}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,214}}</string>
                <key>sourceSize</key>
                <string>{160,216}</string>
            </dict>
            <key>maze_door_hidden_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,411},{125,207}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{125,207}}</string>
                <key>sourceSize</key>
                <string>{127,215}</string>
            </dict>
            <key>maze_gem_hidden_octagon.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,969},{47,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,48}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>maze_gem_hidden_rectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,969},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>maze_gem_hidden_triangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,969},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>maze_goalroom_gradient.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{409,470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,470}}</string>
                <key>sourceSize</key>
                <string>{409,470}</string>
            </dict>
            <key>maze_goalroom_potion_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,829},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,146}}</string>
                <key>sourceSize</key>
                <string>{144,146}</string>
            </dict>
            <key>maze_goalroom_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,218},{208,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,247}}</string>
                <key>sourceSize</key>
                <string>{208,247}</string>
            </dict>
            <key>maze_goalroom_timer_hourglass_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,147},{46,68}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{46,68}}</string>
                <key>sourceSize</key>
                <string>{82,132}</string>
            </dict>
            <key>maze_goalroom_timer_hourglass_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,640},{46,68}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{46,68}}</string>
                <key>sourceSize</key>
                <string>{82,132}</string>
            </dict>
            <key>maze_goalroom_timer_pedastal.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,620},{82,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,132}}</string>
                <key>sourceSize</key>
                <string>{82,132}</string>
            </dict>
            <key>maze_magic_puff_teal.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,539},{71,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,99}}</string>
                <key>sourceSize</key>
                <string>{71,103}</string>
            </dict>
            <key>maze_magic_refill.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,539},{87,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,213}}</string>
                <key>sourceSize</key>
                <string>{89,213}</string>
            </dict>
            <key>maze_mural_fox.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,279},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{137,128}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_mural_fox_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,829},{147,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,138}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_mural_monkey.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,281},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{137,128}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_mural_monkey_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,147},{145,132}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{145,132}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_mural_sloth.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,409},{137,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{137,128}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_mural_sloth_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,147},{143,130}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{143,130}}</string>
                <key>sourceSize</key>
                <string>{147,138}</string>
            </dict>
            <key>maze_ui_meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{279,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,105}}</string>
                <key>sourceSize</key>
                <string>{279,105}</string>
            </dict>
            <key>maze_ui_power1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,977},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{55,40}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_power1_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,754},{81,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,64}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_power2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,977},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{55,40}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_power2_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,754},{81,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,64}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_power3.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,977},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{55,40}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_power3_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,769},{81,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,64}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>maze_ui_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,109},{274,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,36}}</string>
                <key>sourceSize</key>
                <string>{274,36}</string>
            </dict>
            <key>maze_ui_timer_backing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{260,22}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{260,22}}</string>
                <key>sourceSize</key>
                <string>{274,36}</string>
            </dict>
            <key>maze_ui_timer_hourglass.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,710},{39,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{39,57}}</string>
                <key>sourceSize</key>
                <string>{41,57}</string>
            </dict>
            <key>maze_window_overlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,516},{293,311}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,311}}</string>
                <key>sourceSize</key>
                <string>{295,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeuniversal_lossless_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c157846e093c83bfce3ae94c1c4f637d:4ae0a97feb6212ff40a4373b61eaa5b1:64210a6c15bff96cee0959c9c95e1729$</string>
            <key>textureFileName</key>
            <string>mazeuniversal_lossless_0.png</string>
        </dict>
    </dict>
</plist>
