<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingdom_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,162}}</string>
                <key>sourceSize</key>
                <string>{410,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mazeuniversal_2.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ac1cc33a103e293ce635f7deb1fc75c:762d632d4348e5dd6b150d20dbc310f4:bc8a0e1e8f476225aef088d7b1bb36a2$</string>
            <key>textureFileName</key>
            <string>mazeuniversal_2.png</string>
        </dict>
    </dict>
</plist>
