<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_beastboyBlast_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,468},{19,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,36}}</string>
				<key>sourceSize</key>
				<string>{19,36}</string>
			</dict>

			<key>fx_beastboyBlast_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,442},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,67}}</string>
				<key>sourceSize</key>
				<string>{53,67}</string>
			</dict>

			<key>fx_beastboyBlast_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,515},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,67}}</string>
				<key>sourceSize</key>
				<string>{53,67}</string>
			</dict>

			<key>fx_beastboyBlast_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,123},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,67}}</string>
				<key>sourceSize</key>
				<string>{53,67}</string>
			</dict>

			<key>fx_beastboyBlast_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,369},{53,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,67}}</string>
				<key>sourceSize</key>
				<string>{53,67}</string>
			</dict>

			<key>fx_cyborgBeam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,288},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>fx_cyborgBeam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,818},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>fx_cyborgBeam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,875},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>fx_cyborgBeam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,727},{28,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,51}}</string>
				<key>sourceSize</key>
				<string>{28,51}</string>
			</dict>

			<key>fx_forcefield_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{191,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,190}}</string>
				<key>sourceSize</key>
				<string>{191,190}</string>
			</dict>

			<key>fx_forcefield_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{356,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,221}}</string>
				<key>sourceSize</key>
				<string>{356,221}</string>
			</dict>

			<key>fx_forcefield_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,227},{356,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,221}}</string>
				<key>sourceSize</key>
				<string>{356,221}</string>
			</dict>

			<key>fx_forcefield_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,454},{356,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,221}}</string>
				<key>sourceSize</key>
				<string>{356,221}</string>
			</dict>

			<key>fx_forcefield_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,681},{356,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{356,221}}</string>
				<key>sourceSize</key>
				<string>{356,221}</string>
			</dict>

			<key>fx_rainbow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,192},{33,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,90}}</string>
				<key>sourceSize</key>
				<string>{33,90}</string>
			</dict>

			<key>fx_rainbow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,96},{33,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,90}}</string>
				<key>sourceSize</key>
				<string>{33,90}</string>
			</dict>

			<key>fx_rainbow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,369},{33,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,90}}</string>
				<key>sourceSize</key>
				<string>{33,90}</string>
			</dict>

			<key>fx_rainbow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{743,0},{33,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,90}}</string>
				<key>sourceSize</key>
				<string>{33,90}</string>
			</dict>

			<key>fx_ravenBlackholeHit_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,521},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,0},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,857},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,665},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,48},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,569},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,617},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,473},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,473},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,713},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,761},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeHit_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,809},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,640},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,692},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,692},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,588},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,421},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,588},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,796},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,848},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,369},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,640},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,744},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,796},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,848},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,588},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,421},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,588},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,692},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenBlackholeIdle_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,744},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>

			<key>fx_ravenShadowballBlack_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,905},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,905},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,659},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,659},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,784},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,557},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,625},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,591},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,905},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,905},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,905},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,591},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,625},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,557},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,784},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,659},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,659},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballBlack_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,693},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>

			<key>fx_ravenShadowballWhite_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,521},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,432},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,432},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,521},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,0},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,360},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,36},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,36},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,900},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,288},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,324},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,432},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,432},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowballWhite_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,396},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>

			<key>fx_ravenShadowbeam_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,462},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,0},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,462},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,693},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,462},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,345},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,576},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,231},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,693},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{884,0},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,231},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_ravenShadowbeam_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,576},{27,225}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,225}}</string>
				<key>sourceSize</key>
				<string>{27,225}</string>
			</dict>

			<key>fx_robinFloatHeart_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,319},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,196},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,123},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,811},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{634,246},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,319},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,442},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,811},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,565},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,688},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,688},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,565},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,196},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,442},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

			<key>fx_robinFloatHeart_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,0},{130,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,117}}</string>
				<key>sourceSize</key>
				<string>{130,117}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{919,939}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>