<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprites/btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{2,2},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/btn_sound_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{88,2},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/btn_sound_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,75}</string>
                <key>spriteSourceSize</key>
                <string>{71,75}</string>
                <key>textureRect</key>
                <string>{{162,2},{71,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/progress_backing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,60}</string>
                <key>spriteSourceSize</key>
                <string>{262,60}</string>
                <key>textureRect</key>
                <string>{{236,2},{262,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprites/progress_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,60}</string>
                <key>spriteSourceSize</key>
                <string>{262,60}</string>
                <key>textureRect</key>
                <string>{{236,65},{262,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>preload_0.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd6b960ca350def88ddae7a0d9b892f6:22a29bd3afa0b7a14144171aa18f7f97:7d1088815ca9e6266ea2d589c7eca328$</string>
            <key>textureFileName</key>
            <string>preload_0.png</string>
        </dict>
    </dict>
</plist>
