/* Webfont: boogalooregular-Regular */@font-face {
    font-family: 'boogalooregular';
    src: url('../fonts/BoogalooRegular/boogalooregular-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BoogalooRegular/boogalooregular-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/BoogalooRegular/boogalooregular-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/BoogalooRegular/boogalooregular-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/BoogalooRegular/boogalooregular-Regular.svg#boogalooregular-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

