<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fx_brokenFloor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,58}</string>
                <key>spriteSourceSize</key>
                <string>{136,58}</string>
                <key>textureRect</key>
                <string>{{8,8},{136,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_electricity_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{166,195}</string>
                <key>spriteSourceSize</key>
                <string>{184,209}</string>
                <key>textureRect</key>
                <string>{{1169,167},{166,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_electricity_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{172,199}</string>
                <key>spriteSourceSize</key>
                <string>{184,209}</string>
                <key>textureRect</key>
                <string>{{1345,167},{172,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_electricity_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{168,195}</string>
                <key>spriteSourceSize</key>
                <string>{184,209}</string>
                <key>textureRect</key>
                <string>{{991,167},{168,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_electricity_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{150,191}</string>
                <key>spriteSourceSize</key>
                <string>{184,209}</string>
                <key>textureRect</key>
                <string>{{831,167},{150,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-21}</string>
                <key>spriteSize</key>
                <string>{117,189}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{704,167},{117,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-15}</string>
                <key>spriteSize</key>
                <string>{241,311}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{1608,401},{241,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{319,363}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{522,722},{319,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{335,385}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{351,1107},{335,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-1}</string>
                <key>spriteSize</key>
                <string>{349,403}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{1122,1107},{349,403}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,12}</string>
                <key>spriteSize</key>
                <string>{333,385}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{8,1107},{333,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,19}</string>
                <key>spriteSize</key>
                <string>{279,351}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{233,722},{279,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionA_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,2}</string>
                <key>spriteSize</key>
                <string>{215,323}</string>
                <key>spriteSourceSize</key>
                <string>{417,459}</string>
                <key>textureRect</key>
                <string>{{8,722},{215,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,8}</string>
                <key>spriteSize</key>
                <string>{142,149}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{1856,8},{142,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,2}</string>
                <key>spriteSize</key>
                <string>{260,277}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{700,401},{260,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{358,363}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{851,722},{358,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,13}</string>
                <key>spriteSize</key>
                <string>{416,395}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{696,1107},{416,395}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{456,449}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{432,1526},{456,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,15}</string>
                <key>spriteSize</key>
                <string>{396,409}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{1481,1107},{396,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,10}</string>
                <key>spriteSize</key>
                <string>{414,425}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{8,1526},{414,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,21}</string>
                <key>spriteSize</key>
                <string>{374,375}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{1595,722},{374,375}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_explosionB_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,10}</string>
                <key>spriteSize</key>
                <string>{366,369}</string>
                <key>spriteSourceSize</key>
                <string>{594,587}</string>
                <key>textureRect</key>
                <string>{{1219,722},{366,369}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_slap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,113}</string>
                <key>spriteSourceSize</key>
                <string>{177,113}</string>
                <key>textureRect</key>
                <string>{{400,8},{177,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{154,284}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1126,401},{154,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{152,286}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1290,401},{152,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-10}</string>
                <key>spriteSize</key>
                <string>{138,268}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{552,401},{138,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{146,278}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{970,401},{146,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{146,288}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1452,401},{146,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-39}</string>
                <key>spriteSize</key>
                <string>{146,210}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1527,167},{146,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-35}</string>
                <key>spriteSize</key>
                <string>{140,218}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1683,167},{140,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-32}</string>
                <key>spriteSize</key>
                <string>{132,224}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{1833,167},{132,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-29}</string>
                <key>spriteSize</key>
                <string>{136,230}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{8,401},{136,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-22}</string>
                <key>spriteSize</key>
                <string>{120,244}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{154,401},{120,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-18}</string>
                <key>spriteSize</key>
                <string>{124,252}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{284,401},{124,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_smoke_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-12}</string>
                <key>spriteSize</key>
                <string>{124,264}</string>
                <key>spriteSourceSize</key>
                <string>{158,288}</string>
                <key>textureRect</key>
                <string>{{418,401},{124,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,2}</string>
                <key>spriteSize</key>
                <string>{141,119}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{587,8},{141,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,3}</string>
                <key>spriteSize</key>
                <string>{215,143}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{1053,8},{215,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,6}</string>
                <key>spriteSize</key>
                <string>{257,147}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{1589,8},{257,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-2}</string>
                <key>spriteSize</key>
                <string>{301,145}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{1278,8},{301,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-7}</string>
                <key>spriteSize</key>
                <string>{311,149}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{8,167},{311,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,1}</string>
                <key>spriteSize</key>
                <string>{365,173}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{329,167},{365,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,13}</string>
                <key>spriteSize</key>
                <string>{305,127}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{738,8},{305,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,34}</string>
                <key>spriteSize</key>
                <string>{171,71}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{219,8},{171,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fx_wreck_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,38}</string>
                <key>spriteSize</key>
                <string>{55,65}</string>
                <key>spriteSourceSize</key>
                <string>{397,175}</string>
                <key>textureRect</key>
                <string>{{154,8},{55,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:820b848e8e48808097cd32dfaff0ec64:9b854f8280e82931037a76af8ee53464:d99486f53b1e82211347b334ece304e4$</string>
            <key>textureFileName</key>
            <string>fx.png</string>
        </dict>
    </dict>
</plist>
