<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_jerry_run_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,758},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_jerry_run_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,725},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_jerry_run_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,725},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_jerry_run_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,305},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_jerry_run_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{811,838},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_jerry_run_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,838},{93,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,108}}</string>
				<key>sourceSize</key>
				<string>{93,108}</string>
			</dict>

			<key>anim_tiny_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{616,548}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{616,548}}</string>
				<key>sourceSize</key>
				<string>{616,548}</string>
			</dict>

			<key>anim_tom_ArmL_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,920},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,50}}</string>
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>

			<key>anim_tom_ArmL_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{245,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{245,95}}</string>
				<key>sourceSize</key>
				<string>{245,95}</string>
			</dict>

			<key>anim_tom_ArmR_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,845},{281,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{281,70}}</string>
				<key>sourceSize</key>
				<string>{281,70}</string>
			</dict>

			<key>anim_tom_ArmR_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,758},{300,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,82}}</string>
				<key>sourceSize</key>
				<string>{300,82}</string>
			</dict>

			<key>anim_tom_blink_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,0},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_blink_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,290},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_blink_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,145},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_blink_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,435},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_blink_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,0},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_body_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,0},{120,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,300}}</string>
				<key>sourceSize</key>
				<string>{120,300}</string>
			</dict>

			<key>anim_tom_idle_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,580},{230,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,140}}</string>
				<key>sourceSize</key>
				<string>{230,140}</string>
			</dict>

			<key>anim_tom_shadow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,663},{455,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{455,90}}</string>
				<key>sourceSize</key>
				<string>{455,90}</string>
			</dict>

			<key>anim_tom_shadow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,553},{480,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,105}}</string>
				<key>sourceSize</key>
				<string>{480,105}</string>
			</dict>

			<key>anim_toodles_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,663},{248,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,271}}</string>
				<key>sourceSize</key>
				<string>{248,271}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>