<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_props_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,279},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,355},{85,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,55}}</string>
				<key>sourceSize</key>
				<string>{85,55}</string>
			</dict>

			<key>gobj_props_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,299},{85,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,55}}</string>
				<key>sourceSize</key>
				<string>{85,55}</string>
			</dict>

			<key>gobj_props_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,870},{105,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,60}}</string>
				<key>sourceSize</key>
				<string>{105,60}</string>
			</dict>

			<key>gobj_props_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,942},{110,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,55}}</string>
				<key>sourceSize</key>
				<string>{110,55}</string>
			</dict>

			<key>gobj_props_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,759},{105,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,110}}</string>
				<key>sourceSize</key>
				<string>{105,110}</string>
			</dict>

			<key>gobj_props_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,411},{70,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,110}}</string>
				<key>sourceSize</key>
				<string>{70,110}</string>
			</dict>

			<key>gobj_props_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,531},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,95}}</string>
				<key>sourceSize</key>
				<string>{90,95}</string>
			</dict>

			<key>gobj_props_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,627},{90,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,95}}</string>
				<key>sourceSize</key>
				<string>{90,95}</string>
			</dict>

			<key>gobj_props_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,607},{135,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,75}}</string>
				<key>sourceSize</key>
				<string>{135,75}</string>
			</dict>

			<key>gobj_props_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,531},{135,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,75}}</string>
				<key>sourceSize</key>
				<string>{135,75}</string>
			</dict>

			<key>gobj_props_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,683},{135,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,75}}</string>
				<key>sourceSize</key>
				<string>{135,75}</string>
			</dict>

			<key>gobj_props_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,152},{280,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,90}}</string>
				<key>sourceSize</key>
				<string>{280,90}</string>
			</dict>

			<key>gobj_props_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{280,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{280,90}}</string>
				<key>sourceSize</key>
				<string>{280,90}</string>
			</dict>

			<key>gobj_props_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{370,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,60}}</string>
				<key>sourceSize</key>
				<string>{370,60}</string>
			</dict>

			<key>gobj_props_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,881},{125,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,60}}</string>
				<key>sourceSize</key>
				<string>{125,60}</string>
			</dict>

			<key>gobj_props_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{125,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,60}}</string>
				<key>sourceSize</key>
				<string>{125,60}</string>
			</dict>

			<key>gobj_props_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,759},{125,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,60}}</string>
				<key>sourceSize</key>
				<string>{125,60}</string>
			</dict>

			<key>gobj_props_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,423},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,459},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,495},{155,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,35}}</string>
				<key>sourceSize</key>
				<string>{155,35}</string>
			</dict>

			<key>gobj_props_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,942},{105,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,55}}</string>
				<key>sourceSize</key>
				<string>{105,55}</string>
			</dict>

			<key>gobj_props_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,243},{90,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,55}}</string>
				<key>sourceSize</key>
				<string>{90,55}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>