<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_daphnePeep_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,738},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,820},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,574},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,410},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,492},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,328},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_daphnePeep_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,246},{73,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,76}}</string>
				<key>sourceSize</key>
				<string>{73,76}</string>
			</dict>

			<key>anim_fredPeep_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,837},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,747},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,747},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,657},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,567},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,477},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,477},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,927},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,0},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,837},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,657},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,567},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,90},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,927},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,837},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,747},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,747},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_fredPeep_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,747},{62,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,84}}</string>
				<key>sourceSize</key>
				<string>{62,84}</string>
			</dict>

			<key>anim_velmaPeep_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,795},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,636},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,159},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,795},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,795},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,159},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,318},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,636},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,477},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,159},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,477},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,0},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,318},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,318},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,159},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,0},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,318},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,636},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,477},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

			<key>anim_velmaPeep_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,0},{66,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,153}}</string>
				<key>sourceSize</key>
				<string>{66,153}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>