<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fx_explosion_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,232},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,464},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,232},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,0},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,696},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,696},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,598},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,0},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,366},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,598},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,366},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,464},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_explosion_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,0},{249,226}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{249,226}}</string>
				<key>sourceSize</key>
				<string>{249,226}</string>
			</dict>

			<key>fx_impact_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,472},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,0},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1577,330},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,881},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,881},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,376},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,518},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,188},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_impact_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,614},{154,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,136}}</string>
				<key>sourceSize</key>
				<string>{154,136}</string>
			</dict>

			<key>fx_shine_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,830},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,818},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,0},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,830},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,188},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1208,818},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,505},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1396,693},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_shine_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,0},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>

			<key>fx_splat_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,232},{231,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,267}}</string>
				<key>sourceSize</key>
				<string>{231,267}</string>
			</dict>

			<key>fx_splat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,232},{154,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{154,99}}</string>
				<key>sourceSize</key>
				<string>{154,99}</string>
			</dict>

			<key>fx_splat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,830},{101,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,140}}</string>
				<key>sourceSize</key>
				<string>{101,140}</string>
			</dict>

			<key>fx_splat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{316,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{316,360}}</string>
				<key>sourceSize</key>
				<string>{316,360}</string>
			</dict>

			<key>fx_splat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,505},{203,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{203,307}}</string>
				<key>sourceSize</key>
				<string>{203,307}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>fx.png</string>
			</dict>
		</dict>
</plist>