<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_barBase.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,886},{386,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{386,61}}</string>
				<key>sourceSize</key>
				<string>{386,61}</string>
			</dict>

			<key>ui_barFill.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,953},{321,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,19}}</string>
				<key>sourceSize</key>
				<string>{321,19}</string>
			</dict>

			<key>ui_btnClose_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,404},{53,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,58}}</string>
				<key>sourceSize</key>
				<string>{53,58}</string>
			</dict>

			<key>ui_btnClose_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,953},{53,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,58}}</string>
				<key>sourceSize</key>
				<string>{53,58}</string>
			</dict>

			<key>ui_btnHowTo_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,886},{305,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,114}}</string>
				<key>sourceSize</key>
				<string>{305,114}</string>
			</dict>

			<key>ui_btnHowto_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,730},{305,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{305,114}}</string>
				<key>sourceSize</key>
				<string>{305,114}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,202},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlayAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,932},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,55}}</string>
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>

			<key>ui_btnPlayAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,932},{142,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,55}}</string>
				<key>sourceSize</key>
				<string>{142,55}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,808},{242,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{242,91}}</string>
				<key>sourceSize</key>
				<string>{242,91}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,912},{243,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{243,91}}</string>
				<key>sourceSize</key>
				<string>{243,91}</string>
			</dict>

			<key>ui_btnRecipeLeft_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,47},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>

			<key>ui_btnRecipeLeft_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,0},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>

			<key>ui_btnRecipeRight_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,141},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>

			<key>ui_btnRecipeRight_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1595,94},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>

			<key>ui_btnRecipe_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,713},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,76}}</string>
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>

			<key>ui_btnRecipe_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1584,905},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,76}}</string>
				<key>sourceSize</key>
				<string>{68,76}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,282},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_endScreen_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,0},{463,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{463,502}}</string>
				<key>sourceSize</key>
				<string>{463,502}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,606},{167,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,89}}</string>
				<key>sourceSize</key>
				<string>{167,89}</string>
			</dict>

			<key>ui_preGameBubble_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,518},{378,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{378,206}}</string>
				<key>sourceSize</key>
				<string>{378,206}</string>
			</dict>

			<key>ui_preGameScooby.png</key>
			<dict>
				<key>frame</key>
				<string>{{1373,202},{250,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{250,369}}</string>
				<key>sourceSize</key>
				<string>{250,369}</string>
			</dict>

			<key>ui_preGameShaggy.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{551,512}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{551,512}}</string>
				<key>sourceSize</key>
				<string>{551,512}</string>
			</dict>

			<key>ui_preGameTail.png</key>
			<dict>
				<key>frame</key>
				<string>{{1585,577},{141,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,130}}</string>
				<key>sourceSize</key>
				<string>{141,130}</string>
			</dict>

			<key>ui_recipeA_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,606},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeB_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1311,0},{278,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,196}}</string>
				<key>sourceSize</key>
				<string>{278,196}</string>
			</dict>

			<key>ui_recipeB_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,730},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeC_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,808},{278,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{278,196}}</string>
				<key>sourceSize</key>
				<string>{278,196}</string>
			</dict>

			<key>ui_recipeC_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,202},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeD_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,710},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeD_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,508},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeE_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1088,404},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_recipeE_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1026,0},{279,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,196}}</string>
				<key>sourceSize</key>
				<string>{279,196}</string>
			</dict>

			<key>ui_sandwichMenu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,518},{413,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{413,362}}</string>
				<key>sourceSize</key>
				<string>{413,362}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>