<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>endScreen_lose_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{683,729}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{683,729}}</string>
				<key>sourceSize</key>
				<string>{684,731}</string>
			</dict>

			<key>endScreen_lose_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,738},{541,778}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{541,778}}</string>
				<key>sourceSize</key>
				<string>{541,778}</string>
			</dict>

			<key>endScreen_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1471},{252,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{252,166}}</string>
				<key>sourceSize</key>
				<string>{252,166}</string>
			</dict>

			<key>endScreen_win_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,735},{683,730}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{683,730}}</string>
				<key>sourceSize</key>
				<string>{684,730}</string>
			</dict>

			<key>endScreen_win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,0},{592,732}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{592,732}}</string>
				<key>sourceSize</key>
				<string>{592,733}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>endScreen.png</string>
			</dict>
		</dict>
</plist>