<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_carrotInvi_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,760},{28,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,127}}</string>
				<key>sourceSize</key>
				<string>{28,127}</string>
			</dict>

			<key>gobj_carrotPoison_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{289,837},{28,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,127}}</string>
				<key>sourceSize</key>
				<string>{28,127}</string>
			</dict>

			<key>gobj_carrotSoil_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,760},{38,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,71}}</string>
				<key>sourceSize</key>
				<string>{38,71}</string>
			</dict>

			<key>gobj_carrot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,635},{28,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,127}}</string>
				<key>sourceSize</key>
				<string>{28,127}</string>
			</dict>

			<key>gobj_radish_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,837},{29,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,124}}</string>
				<key>sourceSize</key>
				<string>{29,124}</string>
			</dict>

			<key>gobj_soil_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,127},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,508},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,381},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,254},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,127},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,0},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,889},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,762},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,635},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,254},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,381},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,127},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,635},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,254},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,889},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,762},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_soil_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,508},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,121}}</string>
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>

			<key>gobj_spinach_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,635},{75,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,119}}</string>
				<key>sourceSize</key>
				<string>{75,119}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>